﻿<script>
    window.onload = function active() {
        var act = document.getElementById("catalogos");
        if (act.className.match("nav-item")) {
            act.className = "nav-item active";
        } else {
            act.remove.className("active");
        }
        var act5 = document.getElementById("item5-M");
        var iconAct5 = document.getElementById("Active5");
        var iconnoAct5 = document.getElementById("noActive5");

        var borde5 = document.getElementById("item5")
        if (act5.className.match("svg")) {
            act5.className = "svg active";
            borde5.className = "borde1";



        } else {
            act5.remove.className("active");
            borde5.className = "nada";


        }

    }
</script>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <br />
            <br />
            <br />
            <h1 id="sitio">Sitio en Construcción</h1>
            <img src="/Content/img/enconstruccion.png" style="width:90%" />
        </div>
    </div>
</div>