﻿@*<script>
        window.onload = function active() {
            var act = document.getElementById("estaciones");
            if (act.className.match("nav-item")) {
                act.className = "nav-item active";
            } else {
                act.remove.className("active");
            }
            var act2 = document.getElementById("item2-M");
            var iconAct = document.getElementById("Active2")
            var iconnoAct = document.getElementById("noActive2")
            var borde1 = document.getElementById("item2")
            if (act2.className.match("svg")) {
                act2.className = "svg active";
                borde1.className = "borde1";
                iconAct.style.display = "block";
                iconAct.style.color = "#05a692";
                iconnoAct.style.display = "none";
            } else {
                act2.remove.className("active");
                borde1.className = "nada";
                iconAct.style.display = "none";
                iconnoAct.style.display = "block";
            }

        }
    </script>*@
@*<style>
        .p-4 {
            padding: 0.7rem 2rem !important;
        }
    </style>*@
@*<div class="container-fluid" style="background-color:#eee; border-radius:10px">
        <div class="row mb-2">
            <div class="col-lg-12 col-md-12 col-sm-12 text-right" style="justify-content:flex-end">

                <div>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16" style="color:#28a745">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </svg>
                        12
                    </a>
                </div>
                <div>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16" style="color:#28a745">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </svg>
                        12
                    </a>
                </div>

            </div>



        </div>
    </div>*@
@*<br />*@
<link href="~/Content/select2.css" rel="stylesheet" />

<input id="inpIdZona" type="number" style="display: none;">
<input id="txtBusqueda" type="number" style="display: none;">

<div class="d-flex bg-white text-white justify-content-center shadow-sm" style="border-radius:20px;padding: 0.25rem !important;">
    <div class="padding-iconos text-center">
        <a href="#">
            <svg id="svg0" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16" style="color:#28a745">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
            </svg>
            @*<svg id="svg0" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16" style="color:#28a745">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg>*@<br id="iconmovil" /> <label id="lbl0" for="" style="font-size:12px;"></label>
        </a>
    </div>
    <div class="padding-iconos text-center">
        <a href="#">
            <svg id="svg1" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16" style="color:#28a745">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg> <br id="iconmovil" /><label id="lbl1" for="" style="font-size:12px"></label>
        </a>
    </div>
    <div class="padding-iconos text-center">

        <a href="#" style="color:#dc3545">
            <svg id="svg2" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16" style="color:#dc3545">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
            </svg> <br id="iconmovil" /><label id="lbl2" for="" style="font-size:12px"></label>
        </a>


    </div>
    <div class="padding-iconos text-center">
        <a href="#" style="color:#ffc107">
            <svg id="svg3" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16" style="color:#ffc107">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg><br id="iconmovil" /> <label id="lbl3" for="" style="font-size:12px"></label>
        </a>
    </div>
    <div class="padding-iconos text-center">
        <a href="#" style="color:#005fda">
            <svg id="svg4" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-repeat" viewBox="0 0 16 16" style="color:#005fda">
                <path d="M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192Zm3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z" />
            </svg><br id="iconmovil" /> <label id="lbl4" for="" style="font-size:12px"></label>
        </a>
    </div>
    <div class="padding-iconos text-center">
        <a href="#" style="color:#6c757d">
            <svg id="svg5" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-repeat" viewBox="0 0 16 16" style="color:#6c757d">
                <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM5.495 6.033a.237.237 0 0 1-.24-.247C5.35 4.091 6.737 3.5 8.005 3.5c1.396 0 2.672.73 2.672 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.105a.25.25 0 0 1-.25.25h-.81a.25.25 0 0 1-.25-.246l-.004-.217c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.803 0-1.253.478-1.342 1.134-.018.137-.128.25-.266.25h-.825zm2.325 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z" />
            </svg><br id="iconmovil" /> <label id="lbl5" for="" style="font-size:12px"></label>
        </a>
    </div>
    <div class="padding-iconos text-center" id="conZonasPadre" style="display:none;">
        <a href="#" style="color:#6c757d" data-bs-toggle="dropdown">
            <i class="fa fa-bars" style="font-size:25px;" id="barsmovil"></i><br id="iconmovil" /> <label id="lbl5" for="" style="font-size:12px"></label>
        </a>
        <ul class="dropdown-menu submenudrop dropdown-menu-end">
            <li class="menu-content align-items-center px-3">
                <div style="text-align:center">
                    <h2 style="color:#05a692;">Zonas</h2>
                </div>
                <div id="contenedorZonas"></div>
            </li>


        </ul>
    </div>


</div>

@*<div class="row" style="justify-content:flex-end">
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Zonas"></label>
                <select class="input form-control form-control-lg form-select" id="cboZonas" style="height:45px"></select>
            </div>
        </div>
    </div>*@
<br />
<div class="container-fluid">
    <div class="row" id="contCards">

        @*<div id="contCards">

            </div>*@

        @*<div class="row">

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card shadow-sm nocard" id="estatus1">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h4>SERVICIO PESQUEIRA M, S.A. DE C.V.</h4>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16" style="color:#28a745">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                        </svg>
                                    </a>
                                    @*<button class="btn" style="background-color:#28a745;padding:1rem 1.02rem; "></button>


                                </div>
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="p-2 f13"><button id="magna"><b>M</b></button> 999,999</div>
                                <div class="p-2 f13"><button id="premium"><b>P</b></button>  999,999</div>
                                <div class="p-2 f13"><button id="diesel"><b>D</b></button>  999,999</div>
                            </div>
                            <div class="d-flex flex-wrap" style="justify-content:space-between">
                                <div class="p-2 f13">Est: 152522</div>
                                <div class="p-2 f13">Act. hace 5 min.</div>

                                <div class="p-2 f13"> <b>Turno 2</b></div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card shadow-sm nocard" id="estatus3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h4>SERVICIO PESQUEIRA M, S.A. DE C.V.</h4>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16" style="color:#dc3545">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                                        </svg>
                                    </a>
                                    @*<button class="btn" style="background-color:#dc3545;padding:1rem 1.02rem; "></button>


                                </div>
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="p-2 f13"><button id="magna"><b>M</b></button> 999,999</div>
                                <div class="p-2 f13"><button id="premium"><b>P</b></button>  999,999</div>
                                <div class="p-2 f13"><button id="diesel"><b>D</b></button>  999,999</div>
                            </div>
                            <div class="d-flex flex-wrap" style="justify-content:space-between">
                                <div class="p-2 f13">Est: 152522</div>
                                <div class="p-2 f13">Act. hace 5 min.</div>

                                <div class="p-2 f13"> <b>Turno 2</b></div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card shadow-sm nocard" id="estatus2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h4>SERVICIO PESQUEIRA M, S.A. DE C.V.</h4>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16" style="color:#ffc107">
                                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                        </svg>
                                    </a>
                                    @*<button class="btn" style="background-color:#ffc107;padding:1rem 1.02rem; "></button>


                                </div>
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="p-2 f13"><button id="magna"><b>M</b></button> 999,999</div>
                                <div class="p-2 f13"><button id="premium"><b>P</b></button>  999,999</div>
                                <div class="p-2 f13"><button id="diesel"><b>D</b></button>  999,999</div>
                            </div>
                            <div class="d-flex flex-wrap" style="justify-content:space-between">
                                <div class="p-2 f13">Est: 152522</div>
                                <div class="p-2 f13">Act. hace 5 min.</div>

                                <div class="p-2 f13"> <b>Turno 2</b></div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card shadow-sm nocard" id="estatus4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h4>SERVICIO PESQUEIRA M, S.A. DE C.V.</h4>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-repeat" viewBox="0 0 16 16" style="color:#6c757d">
                                            <path d="M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192Zm3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z" />
                                        </svg>
                                    </a>
                                    @*<button class="btn" style="background-color:#6c757d;padding:1rem 1.02rem; "></button>


                                </div>
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="p-2 f13"><button id="magna"><b>M</b></button> 999,999</div>
                                <div class="p-2 f13"><button id="premium"><b>P</b></button>  999,999</div>
                                <div class="p-2 f13"><button id="diesel"><b>D</b></button>  999,999</div>
                            </div>
                            <div class="d-flex flex-wrap" style="justify-content:space-between">
                                <div class="p-2 f13">Est: 152522</div>
                                <div class="p-2 f13">Act. hace 5 min.</div>

                                <div class="p-2 f13"> <b>Turno 2</b></div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card shadow-sm nocard" id="estatus2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h4>SERVICIO PESQUEIRA M, S.A. DE C.V.</h4>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16" style="color:#ffc107">
                                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                        </svg>
                                    </a>
                                    @*<button class="btn" style="background-color:#ffc107;padding:1rem 1.02rem; "></button>


                                </div>
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="p-2 f13"><button id="magna"><b>M</b></button> 999,999</div>
                                <div class="p-2 f13"><button id="premium"><b>P</b></button>  999,999</div>
                                <div class="p-2 f13"><button id="diesel"><b>D</b></button>  999,999</div>
                            </div>
                            <div class="d-flex flex-wrap" style="justify-content:space-between">
                                <div class="p-2 f13">Est: 152522</div>
                                <div class="p-2 f13">Act. hace 5 min.</div>

                                <div class="p-2 f13"> <b>Turno 2</b></div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card shadow-sm nocard" id="estatus4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h4>SERVICIO PESQUEIRA M, S.A. DE C.V.</h4>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-repeat" viewBox="0 0 16 16" style="color:#6c757d">
                                            <path d="M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192Zm3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z" />
                                        </svg>
                                    </a>
                                    @*<button class="btn" style="background-color:#6c757d;padding:1rem 1.02rem; "></button>


                                </div>
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="p-2 f13"><button id="magna"><b>M</b></button> 999,999</div>
                                <div class="p-2 f13"><button id="premium"><b>P</b></button>  999,999</div>
                                <div class="p-2 f13"><button id="diesel"><b>D</b></button>  999,999</div>
                            </div>
                            <div class="d-flex flex-wrap" style="justify-content:space-between">
                                <div class="p-2 f13">Est: 152522</div>
                                <div class="p-2 f13">Act. hace 5 min.</div>

                                <div class="p-2 f13"> <b>Turno 2</b></div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card shadow-sm nocard" id="estatus1">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h4>SERVICIO PESQUEIRA M, S.A. DE C.V.</h4>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16" style="color:#28a745">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                        </svg>
                                    </a>
                                    @*<button class="btn" style="background-color:#28a745;padding:1rem 1.02rem; "></button>


                                </div>
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="p-2 f13"><button id="magna"><b>M</b></button> 999,999</div>
                                <div class="p-2 f13"><button id="premium"><b>P</b></button>  999,999</div>
                                <div class="p-2 f13"><button id="diesel"><b>D</b></button>  999,999</div>
                            </div>
                            <div class="d-flex flex-wrap" style="justify-content:space-between">
                                <div class="p-2 f13">Est: 152522</div>
                                <div class="p-2 f13">Act. hace 5 min.</div>

                                <div class="p-2 f13"> <b>Turno 2</b></div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card shadow-sm nocard" id="estatus3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h4>SERVICIO PESQUEIRA M, S.A. DE C.V.</h4>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16" style="color:#dc3545">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                                        </svg>
                                    </a>
                                    @*<button class="btn" style="background-color:#dc3545;padding:1rem 1.02rem; "></button>


                                </div>
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="p-2 f13"><button id="magna"><b>M</b></button> 999,999</div>
                                <div class="p-2 f13"><button id="premium"><b>P</b></button>  999,999</div>
                                <div class="p-2 f13"><button id="diesel"><b>D</b></button>  999,999</div>
                            </div>
                            <div class="d-flex flex-wrap" style="justify-content:space-between">
                                <div class="p-2 f13">Est: 152522</div>
                                <div class="p-2 f13">Act. hace 5 min.</div>

                                <div class="p-2 f13"> <b>Turno 2</b></div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card shadow-sm nocard" id="estatus1">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h4>SERVICIO PESQUEIRA M, S.A. DE C.V.</h4>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16" style="color:#28a745">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                        </svg>
                                    </a>
                                    @*<button class="btn" style="background-color:#28a745;padding:1rem 1.02rem; "></button>


                                </div>
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="p-2 f13"><button id="magna"><b>M</b></button> 999,999</div>
                                <div class="p-2 f13"><button id="premium"><b>P</b></button>  999,999</div>
                                <div class="p-2 f13"><button id="diesel"><b>D</b></button>  999,999</div>
                            </div>
                            <div class="d-flex flex-wrap" style="justify-content:space-between">
                                <div class="p-2 f13">Est: 152522</div>
                                <div class="p-2 f13">Act. hace 5 min.</div>

                                <div class="p-2 f13"> <b>Turno 2</b></div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card shadow-sm nocard" id="estatus3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h4>SERVICIO PESQUEIRA M, S.A. DE C.V.</h4>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16" style="color:#dc3545">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                                        </svg>
                                    </a>
                                    @*<button class="btn" style="background-color:#dc3545;padding:1rem 1.02rem; "></button>


                                </div>
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="p-2 f13"><button id="magna"><b>M</b></button> 999,999</div>
                                <div class="p-2 f13"><button id="premium"><b>P</b></button>  999,999</div>
                                <div class="p-2 f13"><button id="diesel"><b>D</b></button>  999,999</div>
                            </div>
                            <div class="d-flex flex-wrap" style="justify-content:space-between">
                                <div class="p-2 f13">Est: 152522</div>
                                <div class="p-2 f13">Act. hace 5 min.</div>

                                <div class="p-2 f13"> <b>Turno 2</b></div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card shadow-sm nocard" id="estatus2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h4>SERVICIO PESQUEIRA M, S.A. DE C.V.</h4>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16" style="color:#ffc107">
                                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                        </svg>
                                    </a>
                                    @*<button class="btn" style="background-color:#ffc107;padding:1rem 1.02rem; "></button>


                                </div>
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="p-2 f13"><button id="magna"><b>M</b></button> 999,999</div>
                                <div class="p-2 f13"><button id="premium"><b>P</b></button>  999,999</div>
                                <div class="p-2 f13"><button id="diesel"><b>D</b></button>  999,999</div>
                            </div>
                            <div class="d-flex flex-wrap" style="justify-content:space-between">
                                <div class="p-2 f13">Est: 152522</div>
                                <div class="p-2 f13">Act. hace 5 min.</div>

                                <div class="p-2 f13"> <b>Turno 2</b></div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card shadow-sm nocard" id="estatus4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h4>SERVICIO PESQUEIRA M, S.A. DE C.V.</h4>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-repeat" viewBox="0 0 16 16" style="color:#6c757d">
                                            <path d="M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192Zm3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z" />
                                        </svg>
                                    </a>
                                    @*<button class="btn" style="background-color:#6c757d;padding:1rem 1.02rem; "></button>


                                </div>
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="p-2 f13"><button id="magna"><b>M</b></button> 999,999</div>
                                <div class="p-2 f13"><button id="premium"><b>P</b></button>  999,999</div>
                                <div class="p-2 f13"><button id="diesel"><b>D</b></button>  999,999</div>
                            </div>
                            <div class="d-flex flex-wrap" style="justify-content:space-between">
                                <div class="p-2 f13">Est: 152522</div>
                                <div class="p-2 f13">Act. hace 5 min.</div>

                                <div class="p-2 f13"> <b>Turno 2</b></div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card shadow-sm nocard" id="estatus2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h4>SERVICIO PESQUEIRA M, S.A. DE C.V.</h4>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16" style="color:#ffc107">
                                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                        </svg>
                                    </a>
                                    @*<button class="btn" style="background-color:#ffc107;padding:1rem 1.02rem; "></button>


                                </div>
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="p-2 f13"><button id="magna"><b>M</b></button> 999,999</div>
                                <div class="p-2 f13"><button id="premium"><b>P</b></button>  999,999</div>
                                <div class="p-2 f13"><button id="diesel"><b>D</b></button>  999,999</div>
                            </div>
                            <div class="d-flex flex-wrap" style="justify-content:space-between">
                                <div class="p-2 f13">Est: 152522</div>
                                <div class="p-2 f13">Act. hace 5 min.</div>

                                <div class="p-2 f13"> <b>Turno 2</b></div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card shadow-sm nocard" id="estatus4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h4>SERVICIO PESQUEIRA M, S.A. DE C.V.</h4>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-repeat" viewBox="0 0 16 16" style="color:#6c757d">
                                            <path d="M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192Zm3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z" />
                                        </svg>
                                    </a>
                                    @*<button class="btn" style="background-color:#6c757d;padding:1rem 1.02rem; "></button>


                                </div>
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="p-2 f13"><button id="magna"><b>M</b></button> 999,999</div>
                                <div class="p-2 f13"><button id="premium"><b>P</b></button>  999,999</div>
                                <div class="p-2 f13"><button id="diesel"><b>D</b></button>  999,999</div>
                            </div>
                            <div class="d-flex flex-wrap" style="justify-content:space-between">
                                <div class="p-2 f13">Est: 152522</div>
                                <div class="p-2 f13">Act. hace 5 min.</div>

                                <div class="p-2 f13"> <b>Turno 2</b></div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card shadow-sm nocard" id="estatus1">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h4>SERVICIO PESQUEIRA M, S.A. DE C.V.</h4>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16" style="color:#28a745">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                        </svg>
                                    </a>
                                    @*<button class="btn" style="background-color:#28a745;padding:1rem 1.02rem; "></button>


                                </div>
                            </div>

                            <div class="d-flex flex-wrap">
                                <div class="p-2 f13"><button id="magna"><b>M</b></button> 999,999</div>
                                <div class="p-2 f13"><button id="premium"><b>P</b></button>  999,999</div>
                                <div class="p-2 f13"><button id="diesel"><b>D</b></button>  999,999</div>
                            </div>
                            <div class="d-flex flex-wrap" style="justify-content:space-between">
                                <div class="p-2 f13">Est: 152522</div>
                                <div class="p-2 f13">Act. hace 5 min.</div>

                                <div class="p-2 f13"> <b>Turno 2</b></div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card shadow-sm nocard" id="estatus3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h4>SERVICIO PESQUEIRA M, S.A. DE C.V.</h4>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16" style="color:#dc3545">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                                        </svg>
                                    </a>
                                    @*<button class="btn" style="background-color:#dc3545;padding:1rem 1.02rem; "></button>


                                </div>
                            </div>
                            <div class="d-flex flex-wrap">
                                <div class="p-2 f13"><button id="magna"><b>M</b></button> 999,999</div>
                                <div class="p-2 f13"><button id="premium"><b>P</b></button>  999,999</div>
                                <div class="p-2 f13"><button id="diesel"><b>D</b></button>  999,999</div>
                            </div>
                            <div class="d-flex flex-wrap" style="justify-content:space-between">
                                <div class="p-2 f13">Est: 152522</div>
                                <div class="p-2 f13">Act. hace 5 min.</div>

                                <div class="p-2 f13"> <b>Turno 2</b></div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>*@



    </div>
</div>

<div id="mdlAviso" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-dialog-centered" role="document" style="height:100%">
        <div class="modal-content">
            @*<div class="modal-header">
                  <h5 class="modal-title">!Alerta¡</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnClose">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>*@
            <div class="modal-body text-center">
                <img src="/Content/img/exclamacion-accion.png" style="width:100px" /><br /><br />
                <h3> ¿Desea validar el estado actual?</h3>
                <br />
                <div class="row">
                    <div class="col-lg-12" style="justify-content:center">
                        <button type="button" class="btn btn-primary" id="btnSi">Validar</button>
                        <button type="button" class="btn btn-secondary" id="btnNo" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
                <br />
            </div>

        </div>
    </div>
</div>

<div id="mdlAviso2" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-dialog-centered" role="document" style="height:100%">
        <div class="modal-content">
            @*<div class="modal-header">
                  <h5 class="modal-title">!Alerta¡</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnClose">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>*@
            <div class="modal-body text-center">
                <img src="/Content/img/exclamacion-accion.png" style="width:80px" /><br /><br />
                <h3> ¿Desea validar el estado actual?</h3>
                <br />
                <div class="row">
                    <div class="col-lg-12" style="justify-content:center">
                        <button type="button" class="btn btn-primary" id="btnSi2">Validar</button>
                        <button type="button" class="btn btn-secondary" id="btnNo2" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
                <br />
            </div>

        </div>
    </div>
</div>



@*<ul class="pagination justify-content-center" style="margin-top:5%; margin-bottom:20px">
        <li class="page-item"><a class="page-link" href="javascript:void(0);"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
        <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
        <li class="page-item">
            <a class="page-link" href="javascript:void(0);">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </li>
    </ul>*@

@*<script src="~/Scripts/bootstrap.bundle.min.js"></script>*@
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/axios.js"></script>
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/axios.min.js"></script>
<script src="~/Scripts/js/Estaciones/Estaciones.js?v=1.2"></script>
<script type="text/javascript">



    (function () {
        var clsLoginControllers = new LoginControllers();
        clsLoginControllers.Inicializar();
    })();
</script>
