﻿@{
    ViewBag.Title = "Home Page";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
    window.onload = function active() {
        var act = document.getElementById("dash");
        if (act.className.match("nav-item")) {
            act.className = "nav-item active";
        } else {
            act.remove.className("active");
        }
        var act1 = document.getElementById("dash2");
        var iconAct1 = document.getElementById("Active")
        var iconnoAct1 = document.getElementById("noActive")
        var borde1 = document.getElementById("dashitem")
        if (act1.className.match("svg")) {
            act1.className = "svg active";
            borde1.className = "borde1";
            iconAct1.style.display = "block";
            iconnoAct1.style.display = "none";

        } else {
            act1.remove.className("active");
            borde1.className = "nada";
            iconAct1.style.display = "none";
            iconnoAct1.style.display = "block";
        }

    }
</script>
<style>
    /*.card-datos {
        background: rgb(47,105,151);
        background: linear-gradient(90deg, rgb(0 189 166) 0%, rgb(0 127 119) 100%);
    }

        .card-datos h1 {
            color: white
        }

        .card-datos h2 {
            color: white
        }*/

    .card-filtrar {
        order: 1;
    }
</style>


<br />
<br />

<div class="container-fluid" style="display:none;">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">

                <div class="col-lg-4">
                    <div class="card card-datos" style="margin-bottom:10px">

                        <div class="card-body" style="background-image:url(/content/img/card-dashboard.png); background-repeat:no-repeat; background-size:100%; background-position:bottom">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-12"><h2>Zonas</h2></div>
                                <div class="col-lg-5 col-md-5 col-sm-12 text-right" style="text-align:right">
                                    <h1 style="font-size:45px"><b>10</b></h1>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-datos" style="margin-bottom:10px">

                        <div class="card-body" style="background-image:url(/content/img/card-dashboard.png); background-repeat:no-repeat; background-size:100%; background-position:bottom">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-12"><h2>Estaciones</h2></div>
                                <div class="col-lg-5 col-md-5 col-sm-12 text-right" style="text-align:right">
                                    <h1 style="font-size:45px"><b>10</b></h1>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-datos" style="margin-bottom:10px">

                        <div class="card-body" style="background-image:url(/content/img/card-dashboard.png); background-repeat:no-repeat; background-size:100%; background-position:bottom">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-12"><h2>Usuarios</h2></div>
                                <div class="col-lg-5 col-md-5 col-sm-12 text-right" style="text-align:right">
                                    <h1 style="font-size:45px"><b>10</b></h1>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                @*<%--  <div class="col-lg-3">
                <div class="card card-datos" style="margin-bottom:10px">

                    <div class="card-body" style="background-image:url(/content/img/card-dashboard.png); background-repeat:no-repeat; background-size:100%; background-position:bottom">
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-12"><h2>Donativos </h2></div>
                            <div class="col-lg-5 col-md-5 col-sm-12 text-right" style="text-align:right">
                                <h1 style="font-size:45px"><b>10</b></h1>
                            </div>
                        </div>

                    </div>

                </div>
            </div>--%>*@
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-lg-12" style="margin-bottom:10px">
                    <div class="card">
                        <div class="card-body" style="padding: 0.9rem!important;">
                            <div style="text-align:center">
                                <h2>Zona 1</h2>
                                <p style="font-size:18px">Inventarios</p>
                            </div>
                            <canvas id="myChart2" style="width:100%;max-height:400px" height="400"></canvas>
                            @*<canvas id="myChart" style="width:100%;max-height:400px"></canvas>*@
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-lg-12" style="margin-bottom:10px">
                    <div class="card">
                        <div class="card-body" style="padding: 0.9rem!important;">
                            <div style="text-align:center">
                                <h2>Zona 1</h2>
                                <p style="font-size:18px">Ventas</p>
                            </div>
                            <canvas id="myChart3" style="width:100%;max-height:400px" height="400"></canvas>
                            @*<canvas id="myChart" style="width:100%;max-height:400px"></canvas>*@
                        </div>
                    </div>


                </div>
            </div>
        </div>
       
    </div>
</div>


<script>
    var ctx = document.getElementById("myChart2").getContext("2d");

    var data2 = {
        labels: ["Estación A", "Estación B", "Estación C", "Estación D", "Estación E","Estación F"],
        datasets: [{
            label: "Magna",
            backgroundColor: "#05a692",
            data: [20, 1030, 20,70,100,1090]
        }, {
                label: "Premium",
                backgroundColor: "#00923c",
                data: [1400, 100, 700, 700, 150, 1300]
        }, {
                label: "Diesel",
                backgroundColor: "#000000",
                data: [560, 230, 900, 700, 190, 1100]
        }]
    };

    var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: data2,
        options: {
            barValueSpacing: 20,
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                    }
                }]
            }
        }
    });

    var ctx = document.getElementById("myChart3").getContext("2d");

    var data3 = {
        labels: ["Estación A", "Estación B", "Estación C", "Estación D", "Estación E", "Estación F"],
        datasets: [{
            label: "Magna",
            backgroundColor: "#05a692",
            data: [20, 1030, 20, 70, 100, 1090]
        }, {
            label: "Premium",
            backgroundColor: "#00923c",
            data: [1400, 100, 700, 700, 150, 1300]
        }, {
            label: "Diesel",
            backgroundColor: "#000000",
            data: [560, 230, 900, 700, 190, 1100]
        }]
    };

    var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: data3,
        options: {
            barValueSpacing: 20,
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                    }
                }]
            }
        }
    });
   
    
</script>
<br />
<br />
<br />
<br /> <br />
<br />
<br />