﻿<script>
    window.onload = function active() {
        var act = document.getElementById("configuracion");
        if (act.className.match("nav-item")) {
            act.className = "nav-item active";
        } else {
            act.remove.className("active");
        }
        var act5 = document.getElementById("item5-M");
        var iconAct5 = document.getElementById("Active5");
        var iconnoAct5 = document.getElementById("noActive5");

        var borde5 = document.getElementById("item5")
        if (act5.className.match("svg")) {
            act5.className = "svg active";
            borde5.className = "borde1";



        } else {
            act5.remove.className("active");
            borde5.className = "nada";


        }

    }
</script>
<style>
    .input-wrapper {
        position: relative;
        width: 100%;
    }

    .input {
        background-color: #E3E2E8;
        border: 0;
        padding: 15px 15px 15px 35px;
        width: 100%!important;
        max-width:100%!important;
        border-radius: 5px;
       
    }
    .input-icon {
        color: #191919;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
    }
    .card {
        border: 1px solid #e9e9e9
    }
    .card-body {
        padding: 1rem 1rem!important;
    }
    p{
        font-size:16px
    }
    .text-center svg {
        color: #fff
    }
    /*.card-imp {
        background-color: #05a692;
        border-radius: .75rem
    }
    .card-imp:hover {
        background-color: #000;
        border-radius: .75rem;
        
    }
    .card-imp p{
        color:white
    }*/
    a p {
        color: #565555
    }
    
</style>
<br />
<div class="container-fluid" style="padding-left:0!important; padding-right:0!important">
    <div class="row">
        <div class="col-12">
            <div class="input-wrapper">
                <input type="search" class="input" placeholder="Search">

                <svg xmlns="http://www.w3.org/2000/svg" class="input-icon" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                </svg>
            </div>
        </div>
    </div>
    <br /><br />
          <div class="row">
              <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                  <a href="/Home/menuConfiguracion">
                      <div class="card">
                          <div class="card-body card-imp">
                              <div class="text-center">
                                  <i class="fa-solid fa-gear" style="font-size:30px"></i>

                                  <br />
                                  <p>Configuración</p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                  <a href="/Reportes/Ejecuciones">
                      <div class="card">
                          <div class="card-body card-imp">
                              <div class="text-center">
                                  <i class="fa-solid fa-screwdriver-wrench" style="font-size:30px"></i>

                                  <br />
                                  <p>Herramientas</p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-6 col-sm-6 col-md-4 col-lg-3" style="display:none">
                  <a href="/Home/Catalogos">
                      <div class="card">
                          <div class="card-body card-imp">
                              <div class="text-center">
                                  <i class="fa-solid fa-folder-open" style="font-size:30px"></i>

                                  <br />
                                  <p>Catálogos</p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
          </div>
    <br />
    <div class="row" style="display:none">
        <div class="col-6">
            <a href="#">
                <div class="card">
                    <div class="card-body card-imp">
                        <div class="text-center">
                            <i class="fa-solid fa-gear" style="font-size:30px"></i>
                          
                            <br />
                            <p>Item 1</p>
                        </div>
                    </div>

                </div>
            </a>
        </div>
    <div class="col-6">
        <a href="#">
            <div class="card">
                <div class="card-body card-imp">
                    <div class="text-center">
                        <i class="fa-solid fa-gear" style="font-size:30px"></i>
                       
                        <br />
                        <p>Item 1</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    </div>
    <br />
    <div class="row" style="display:none">
        <div class="col-12">
            <h4>Más Opciones</h4>
        </div>
        <div class="col-12" style="margin-bottom:5px">
            <a href="#">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <i class="fa-solid fa-gear" style="font-size:20px"></i>
                             
                            </div>
                            <div class="col-8"><p style="margin-bottom:0!important">Item 2</p></div>
                            <div class="col-2 text-right">
                                <i class="fa-solid fa-caret-right" style="font-size:20px"></i>
                            </div>
                        </div>
                    </div>
                </div></a>
        </div>
        <div class="col-12" style="margin-bottom:5px">
            <a href="#">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <i class="fa-solid fa-gear" style="font-size:20px"></i>
                            </div>
                            <div class="col-8"><p style="margin-bottom:0!important">Item 2</p></div>
                            <div class="col-2 text-right">
                                <i class="fa-solid fa-caret-right" style="font-size:20px"></i>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
        </div>
        <div class="col-12" style="margin-bottom:5px">
            <a href="#">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <i class="fa-solid fa-gear" style="font-size:20px"></i>
                               
                            </div>
                            <div class="col-8"><p style="margin-bottom:0!important">Item 2</p></div>
                            <div class="col-2 text-right">
                                <i class="fa-solid fa-caret-right" style="font-size:20px"></i>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
        </div>
        <div class="col-12" style="margin-bottom:5px">
            <a href="#">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <i class="fa-solid fa-gear" style="font-size:20px"></i>
                            </div>
                            <div class="col-8"><p style="margin-bottom:0!important">Item 2</p></div>
                            <div class="col-2 text-right">
                                <i class="fa-solid fa-caret-right" style="font-size:20px"></i>
                               
                            </div>
                        </div>
                    </div>
                </div>
                </a>
        </div>
    </div>
    </div>
<br />
<br />
<br />
