﻿<script>
    window.onload = function active() {
        var act = document.getElementById("configuracion");
        if (act.className.match("nav-item")) {
            act.className = "nav-item active";
        } else {
            act.remove.className("active");
        }
        var act5 = document.getElementById("item5-M");
        var iconAct5 = document.getElementById("Active5");
        var iconnoAct5 = document.getElementById("noActive5");

        var borde5 = document.getElementById("item5")
        if (act5.className.match("svg")) {
            act5.className = "svg active";
            borde5.className = "borde1";



        } else {
            act5.remove.className("active");
            borde5.className = "nada";


        }

    }
</script>
<style>
    .input-wrapper {
        position: relative;
        width: 100%;
    }

    .input {
        background-color: #E3E2E8;
        border: 0;
        padding: 15px 15px 15px 35px;
        width: 100% !important;
        max-width: 100% !important;
        border-radius: 5px;
    }

    .input-icon {
        color: #191919;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
    }

    .card {
        border: 1px solid #e9e9e9
    }

    .card-body {
        padding: 1rem 1rem !important;
    }

    p {
        font-size: 16px
    }

    .text-center svg {
        color: #fff
    }

    /*.card-imp {
        background-color: #05a692;
        border-radius: .75rem
    }

        .card-imp:hover {
            background-color: #000;
            border-radius: .75rem;
        }

        .card-imp p {
            color: white
        }*/

    a p {
        color: #565555
    }
</style>
<br />
<div class="container-fluid" style="padding-left:0!important; padding-right:0!important">
    <div class="row">
        <div class="col-12">
            <div class="input-wrapper">
                <input type="search" class="input" placeholder="Search">

                <svg xmlns="http://www.w3.org/2000/svg" class="input-icon" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                </svg>
            </div>
        </div>
    </div>
    <br /><br />
          <div class="row">
              <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3">
                  <a href="/Admin/Admin/Usuarios">
                      <div class="card">
                          <div class="card-body card-imp">
                              <div class="text-center">
                                  <i class="fa-solid fa-users" style="font-size:30px"></i>
                                  @*<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                            </svg>*@

                                  <br />
                                  <p>Usuarios</p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3">
                  <a href="/Admin/Admin/Grupos">
                      <div class="card">
                          <div class="card-body card-imp">
                              <div class="text-center">
                                  <i class="fa-solid fa-group-arrows-rotate" style="font-size:30px"></i>
                                  @*<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-graph-down-arrow" viewBox="0 0 16 16">
                                <path d="M0 1a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm9 0a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1V1zm0 9a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-5z" />
                            </svg>*@

                                  <br />
                                  <p>Grupos</p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>

              <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3">
                  <a href="/Admin/Admin/Zonas">
                      <div class="card" style="height:100%">
                          <div class="card-body card-imp">
                              <div class="text-center">
                                  <i class="fa-solid fa-map-location-dot" style="font-size:30px"></i>
                                  @*<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-clipboard2-pulse-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm2.146 5.146a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647z" />

                            </svg>*@

                                  <br />
                                  <p>Zonas</p>
                              </div>
                          </div>

                      </div>
                  </a>
              </div>
              <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3">
                  <a href="/Admin/Admin/AsignarEstaciones">
                      <div class="card" style="height:100%">
                          <div class="card-body card-imp">
                              <div class="text-center">
                                  <i class="fa-solid fa-gas-pump" style="font-size:30px"></i>


                                  @*<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-clipboard2-pulse-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm2.146 5.146a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647z" />

                            </svg>*@

                                  <br />
                                  <p>Asignar Estaciones</p>
                              </div>
                          </div>

                      </div>
                  </a>
              </div>


              <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3">
                  <a href="/Admin/Admin/AsignarCapturadoAEstaciones">
                      <div class="card" style="height:100%">
                          <div class="card-body card-imp">
                              <div class="text-center">
                                  <i class="fa-solid fa-laptop-file" style="font-size:30px"></i>


                                  @*<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-clipboard2-pulse-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm2.146 5.146a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647z" />

                            </svg>*@

                                  <br />
                                  <p>Capturado de Estaciones</p>
                              </div>
                          </div>

                      </div>
                  </a>
              </div>


          </div>
   
 
</div>
<br />
<br />
<br />
