﻿<script>
    window.onload = function active() {
        var act = document.getElementById("reportes");
        if (act.className.match("nav-item")) {
            act.className = "nav-item active2";
        } else {
            act.remove.className("active2");
        }
        var act5 = document.getElementById("item3-M");
        var iconAct5 = document.getElementById("Active3");
        var iconnoAct5 = document.getElementById("noActive3");

        var borde5 = document.getElementById("item3")
        if (act5.className.match("svg")) {
            act5.className = "svg active";
            borde5.className = "borde1";



        } else {
            act5.remove.className("active");
            borde5.className = "nada";


        }



    }
</script>
<style>
    .input-wrapper {
        position: relative;
        width: 100%;
    }

    .input {
        background-color: #E3E2E8;
        border: 0;
        padding: 15px 15px 15px 35px;
        width: 100% !important;
        max-width: 100% !important;
        border-radius: 5px;
    }

    .input-icon {
        color: #191919;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
    }

    .card {
        border: 1px solid #e9e9e9
    }

    .card-body {
        padding: 1rem 1rem !important;
    }

    p {
        font-size: 16px
    }

    .text-center svg {
        color: #fff
    }

    .card-imp {
        background-color: #05a692;
        border-radius: .75rem
    }

        .card-imp:hover {
            background-color: #000;
            border-radius: .75rem;
        }

        .card-imp p {
            color: white
        }

    a p {
        color: #565555
    }
</style>
<br />


<div class="container-fluid" style="padding-left:0!important; padding-right:0!important">
    <div class="row">
        <div class="col-12">
            <div class="input-wrapper">
                <input type="search" class="input" placeholder="Search">

                <svg xmlns="http://www.w3.org/2000/svg" class="input-icon" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                </svg>
            </div>
        </div>
    </div>
    <br /><br />
          <div class="row">
              @*<div class="col-6">
            <a href="/Home/reportes">
                <div class="card">
                    <div class="card-body card-imp">
                        <div class="text-center">
                            <i class="fa-solid fa-clock" style="font-size:30px"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                            </svg>

                            <br />
                            <p>Turnos</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>*@
              <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3">
                  <a href="/Reportes/Index">
                      <div class="card" style="height:100%">
                          <div class="card-body card-imp">
                              <div class="text-center">
                                  <i class="fa-solid fa-magnifying-glass-chart" style="font-size:30px"></i>
                                  @*<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-graph-down-arrow" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm10 11.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 0-1 0v2.6l-3.613-4.417a.5.5 0 0 0-.74-.037L7.06 8.233 3.404 3.206a.5.5 0 0 0-.808.588l4 5.5a.5.5 0 0 0 .758.06l2.609-2.61L13.445 11H10.5a.5.5 0 0 0-.5.5Z" />
                            </svg>*@

                                  <br />
                                  <p>Análisis de Inventarios</p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3">
                  <a href="/VariacionInventario/Inventario/Index">
                      <div class="card" style="height:100%">
                          <div class="card-body card-imp">
                              <div class="text-center">
                                  <i class="fa-solid fa-chart-simple" style="font-size:30px"></i>


                                  <br />
                                  <p>Variación de Inventarios</p>
                              </div>
                          </div>

                      </div>
                  </a>
              </div>

              <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3">
                  <a href="/Reportes/ResumenEstaciones">
                      <div class="card" style="height:100%">
                          <div class="card-body card-imp">
                              <div class="text-center">
                                  <i class="fa-solid fa-file-contract" style="font-size:30px"></i>


                                  <br />
                                  <p>Ajuste Perfecto</p>
                              </div>
                          </div>

                      </div>
                  </a>
              </div>

              <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3">
                  <a href="/Reportes/AjusteEstacion">
                      <div class="card" style="height:100%">
                          <div class="card-body card-imp">
                              <div class="text-center">
                                  <i class="fa-solid fa-gas-pump" style="font-size:30px"></i>


                                  <br />
                                  <p>Ajustes de Estación</p>
                              </div>
                          </div>

                      </div>
                  </a>
              </div>
              <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3">
                  <a href="/Reportes/BitacoraView">
                      <div class="card" style="height:100%">
                          <div class="card-body card-imp">
                              <div class="text-center">
                                  <i class="fa-solid fa-chart-line" style="font-size:30px"></i>


                                  <br />
                                  <p>Análisis de Bitacora</p>
                              </div>
                          </div>

                      </div>
                  </a>
              </div>
              <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3">
                  <a href="/Reportes/ReporteClasificacionPorZona">
                      <div class="card" style="height:100%">
                          <div class="card-body card-imp">
                              <div class="text-center">
                                  <i class="fa-solid fa-clipboard-list" style="font-size:30px"></i>


                                  <br />
                                  <p> Clasificación de despachos</p>
                              </div>
                          </div>

                      </div>
                  </a>
              </div>
              <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3">
                  <a href="/Reportes/IntegracionDeAjustes">
                      <div class="card" style="height:100%">
                          <div class="card-body card-imp">
                              <div class="text-center">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-wrench-adjustable-circle-fill" viewBox="0 0 16 16">
                                      <path d="M6.705 8.139a.25.25 0 0 0-.288-.376l-1.5.5.159.474.808-.27-.595.894a.25.25 0 0 0 .287.376l.808-.27-.595.894a.25.25 0 0 0 .287.376l1.5-.5-.159-.474-.808.27.596-.894a.25.25 0 0 0-.288-.376l-.808.27.596-.894Z" />
                                      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16Zm-6.202-4.751 1.988-1.657a4.5 4.5 0 0 1 7.537-4.623L7.497 6.5l1 2.5 1.333 3.11c-.56.251-1.18.39-1.833.39a4.49 4.49 0 0 1-1.592-.29L4.747 14.2a7.031 7.031 0 0 1-2.949-2.951ZM12.496 8a4.491 4.491 0 0 1-1.703 3.526L9.497 8.5l2.959-1.11c.027.2.04.403.04.61Z" />
                                  </svg>
                                  @*<i class="fa-solid fa-file-contract" style="font-size:30px"></i>*@


                                  <br />
                                  <p> Integracion de Ajustes</p>
                              </div>
                          </div>

                      </div>
                  </a>
              </div>

              <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3">
                  <a href="/Reportes/ReporteCMB">
                      <div class="card" style="height:100%">
                          <div class="card-body card-imp">
                              <div class="text-center">
                                  <i class="fa-solid fa-clipboard-list" style="font-size:30px"></i>


                                  <br />
                                  <p>  Clasificaciones de Despachos R</p>
                              </div>
                          </div>

                      </div>
                  </a>
              </div>
              <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-3">
                  <a href="/Reportes/Consiliacion2">
                      <div class="card" style="height:100%">
                          <div class="card-body card-imp">
                              <div class="text-center">
                                  <i class="fa-solid fa-file-invoice" style="font-size:30px"></i>


                                  <br />
                                  <p>  Conciliación</p>
                              </div>
                          </div>

                      </div>
                  </a>
              </div>


          </div>
   
  
</div>
<br />
<br />
<br />

