﻿@{
    ViewBag.Title = "Reportes";
}

<script>
     window.onload = function active() {
         var act = document.getElementById("reportes");
            if (act.className.match("nav-item")) {
                act.className = "nav-item active";
            } else {
                act.remove.className("active");
            }
         var act3 = document.getElementById("item3-M");
         var iconAct3 = document.getElementById("Active3");
         var iconnoAct3 = document.getElementById("noActive3");
         var iconnoAct31 = document.getElementById("noActive3-1");
         var borde3 = document.getElementById("item3")
              if (act3.className.match("svg")) {
                  act3.className = "svg active";
                  borde3.className = "borde1";
                  iconAct3.style.display = "block";
                  iconnoAct3.style.display = "none";
                  iconnoAct31.style.display = "none";
            } else {
                  act3.remove.className("active");
                  borde3.className = "nada";
                  iconAct3.style.display = "none";
                  iconnoAct3.style.display = "block";
                  iconnoAct31.style.display = "block";
             }

        }
</script>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <br />
            <br />
            <br />
            <h1 id="sitio">Sitio en Construcción</h1>
            <img src="/Content/img/enconstruccion.png" style="width:90%" />
        </div>
    </div>
</div>