﻿@using MEBA.Clases
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SEISON</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="/Content/img/icon.ico" rel="icon" />*@

    <link href="/Content/img/iconosieson.ico" rel="icon" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/estilosistema.css" rel="stylesheet" />
    <link href="~/Content/TemaMeba.css" rel="stylesheet" />

    <link href="/iconos/css/fontawesome.css" rel="stylesheet" />

    <link href="~/iconos/css/regular.min.css" rel="stylesheet" />
    <link href="~/iconos/css/all.css" rel="stylesheet" />
    <script src="/iconos/js/fontawesome.js"></script>
    @*<script src="/Scripts/iconos.js"></script>*@
    <script src="/iconos/js/all.min.js"></script>
    <script src="/iconos/js/regular.min.js"></script>
    @Styles.Render("~/Content/DevExtremeBundle")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/DevExtremeBundle")

</head>
<body>
    <style>
        .etiquetaCantidad {
            border-radius: 30%;
            width: 17px;
            text-align: center;
            color:white
        }
        .submenudrop {
            min-width: 18rem;
            padding: 1rem 0;
        }

            .submenudrop .dropdown-header {
                color: #05a692;
                font-size: 14px;
                border-bottom: 1px solid #f1f0f0
            }

            .submenudrop .dropdown-item {
                display: block;
                padding: 7px 20px;
                clear: both;
                font-weight: normal;
                line-height: 2.5;
                color: #333;
                white-space: nowrap;
                font-size: 13px
            }

                .submenudrop .dropdown-item.active {
                    color: #fff !important;
                }

                .submenudrop .dropdown-item:hover {
                    color: #fff !important;
                    background-color: #000
                }
        .dropdown-toggle {
            color: rgba(0,0,0,.55);
        }
    </style>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion nombre2 toggled" id="accordionSidebar" @*style="background-color:#eb861c!important"*@>

            <!-- Sidebar logo de la plataforma -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Home/Index">
                <div class="sidebar-brand-icon">
                    <img src="~/Content/img/icon2.png" id="myImage" Style="width: 60px; padding-top:15px" alt="" />

                </div>
            </a>

            <br />

            <!-- Nav Item -->
     

            <!-- Nav Item -->
            @*<li class="nav-item" id="reportes">
                    <a class="nav-link" href="/Home/Contact">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-file-bar-graph-fill" viewBox="0 0 16 16" style="width:35px!important; height:35px" id="icono2">
                            <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-2 11.5v-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-2.5.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm-3 0a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1z" />
                        </svg>
                       <i class="bi bi-file-bar-graph-fill"></i>
                        <i class="fas fa-fw fa-file-chart-pie"></i>
                        <span>Reportes</span>
                    </a>

                </li>*@

          
       
            <li class="nav-item" id="catalogos" style="display:none">

                <a class="nav-link" href="/Home/Catalogos" style="border:none!important">
                    <i class="fa-solid fa-folder-open" style="font-size:35px" id="icono3"></i>
                    @*<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-file-bar-graph-fill" viewBox="0 0 16 16" style="width:35px!important; height:35px" id="icono2">
                            <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z" />

                        </svg>*@

                    <span>Catálogos</span>

                </a>




            </li>
            @*<div class="sidebar-heading">
                    título del apartado
                </div>*@
          
            <!-- Nav Item -->

            <div id="configuracion">


            </div>
            


            @*<hr class="sidebar-divider d-none d-md-block">*@
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button type="button" class="rounded-circle border-0" id="sidebarToggle" onclick="changeImage()" style="display:none"></button>
            </div>

        </ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content" style="min-height:100vh">
              
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light topbar static-top justify-content-end " style="margin-bottom:0">



                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" type="button" class="btn btn-link d-md-none rounded-circle mr-3" style="display:none">
                        <i class="fa fa-bars"></i>
                    </button>
                    @*<div class="row" style="width: -webkit-fill-available;">
                        <img src="~/Content/img/icon.png" style="width:150px;" class="logoMovil"/>
                    </div>*@
                    <div class="dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown" style="border:none!important; align-content:flex-end">
                            <span class=" flex-column align-items-end justify-content-center me-2 mensaje" style="display:inline-flex; font-size:16px">
                                <i class="fas fa-envelope " style="font-size:20px"></i>
                            </span>
                            <span id="lblCantidad" class="bg-success etiquetaCantidad" style="position: absolute; top: -4px;right: 23px;text-align: center;font-size: 9px;"></span>
                        </a>



                        <ul class="dropdown-menu submenudrop dropdown-menu-end">

                            <div id="contenedorDeAlertas"></div>

                        </ul>
                    </div>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav  justify-content-end">


                        <!-- Aquí se cambia el nombre y puesto del usuario en la vista normal -->

                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item" style=" text-align:end; margin-right:10px">
                            <div class="dropdown">
                                <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown" style="border:none!important; align-content:flex-end">
                                    <span class=" flex-column align-items-end justify-content-center me-2" style="display:inline-flex; font-size:16px">
                                        <span class=" fw-bold lh-1 mb-1 spantopbar">@ViewBag.Nombre </span>
                                        <span class=" fw-bolder lh-1 spantopbar">@ViewBag.Puesto </span>
                                    </span>

                                    <img src="/content/img/noprofile.png" alt="image" width="40px" class="symbol symbol-30px symbol-md-40px">



                                </a>



                                <ul class="dropdown-menu submenudrop dropdown-menu-end">
                                    <li class="menu-content align-items-center px-3" style="margin-bottom:10px">

                                        <div class="symbol symbol-50px me-5">
                                            <img src="/content/img/noprofile.png" alt="image" width="30px" class="symbol symbol-30px symbol-md-40px">
                                        </div>

                                        <span class="flex-column align-items-start justify-content-center me-2" style="display:inline-flex">
                                            <span class="opacity-75  fw-bold lh-1 mb-1">@ViewBag.Nombre</span>
                                            <span class=" fw-bolder lh-1">@ViewBag.Puesto</span>
                                        </span>

                                    </li>


                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" href="/Home/perfil">

                                        Perfil
                                    </a>
                                    <div class="dropdown-divider"></div>

                                    <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                        <span class="menu-text">Cerrar Sesión</span>

                                    </a>
                                </ul>
                            </div>
                        </li>
                        <li>

                        </li>

                    </ul>

                </nav>
                @*<div class="row" style="background-color:white" id="menumovil">
                    <div class="col-12">
                        <ul style="display: flex; justify-content:space-between; margin-bottom:0!important; list-style:none; margin-top:16px; margin-left:0!important; padding-left:15px!important">
                            <li style="margin-right: 2rem; padding-bottom:5px" id="dashitem" class="nada">
                                <a class="svg" id="dash2" href="/Home/Index">
                                    <i class="fa fa-chart-pie" id="noActive" display="block" style="font-size:26px"></i>
                                    <i class="fa-solid fa-chart-pie" id="Active" style="display:none; font-size:26px"></i>

                                </a>
                            </li>
                            <li style="margin-right: 2rem; padding-bottom:5px" id="item2" class="nada">
                                <a class="svg" href="/Home/Estaciones" id="item2-M">
                                    <i class="fa-solid fa-building" id="Active2" style="font-size:26px;display:none"></i>
                                    <i class='fa-solid fa-building' id="noActive2" display="block" style="font-size:26px"></i>

                                </a>
                            </li>
                            <li style=" margin-right: 2rem; padding-bottom:5px" id="item3" class="nada">
                                <a class="svg" id="item3-M" href="/Home/menuReportes">
                                    <i class="fa-solid fa-file-contract" id="Active3" style="display:none;font-size:26px"></i>
                                    <i class="fa-solid fa-file-contract" id="noActive3" style="display:block;font-size:26px"></i>

                                </a>
                            </li>
                            <li style=" margin-right: 2rem; padding-bottom:5px" id="item4" class="nada">
                                <a class="svg" id="item4-M" href="/Admin/Admin/Bitacora">
                                    <i class="fa-solid fa-table-cells" style="font-size:26px" id="Active4"></i>

                                </a>
                            </li>
                            <li style=" margin-right: 2rem; padding-bottom:5px" id="item5" class="nada">
                                <a class="svg" id="item5-M" href="/Home/menu">
                                    <i class="fa-solid fa-bars" style="font-size:26px" id="noActive5"></i>

                                </a>
                            </li>
                        </ul>
                    </div>
                </div>*@
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid" id="contentMovil">
                    <br />
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

            </div>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" @*style="background-color:#05a692"*@>
                            <h5 class="modal-title" id="staticBackdropLabel" style="color:white">Cerrar Sesión</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro que deseas cerrar sesión?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button id="btnCerrarSession" type="button" class="btn btn-primary">Salir</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white-Footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto" style="color: white">
                        <script type="text/javascript">

                            copyright = new Date();

                            update = copyright.getFullYear();

                            document.write("© Copyright " + update + " " + "SEISON. All Rights Reserved");

                        </script>
                    </div>
                </div>
            </footer>

            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>

    
    <!-- End of Page Wrapper -->
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/axios.min.js"></script>
    @*<script src="~/Scripts/jquery-3.4.1.js"></script>*@
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/sb-admin2.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/js/Layout/Layout.js?v=1.0"></script>
    <script type="text/javascript">
        (function () {
            var clsLayoutControllers = new LayoutControllers();
            clsLayoutControllers.Inicializar();
        })();
    </script>

    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
