﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recuperar Contraseña</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/iconos.js"></script>
    <link href="/Content/img/icono.ico" rel="icon" />
</head>
<body class="body1">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <br /><br />
                        <h1 class="logo">
                            <img src="~/Content/img/icon2.png" />
                        </h1><br />

                    </div>
                </div>
                <div class="card card-login">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <br />
                                <h3>Nueva Contraseña</h3>
                                <br />
                            </div>
                        </div>
                        <div class="mb-3 mt-3 padding1">
                            <div class="position-relative mb-3">
                                <label for="email" class="form-label label-login">Nueva Contraseña :</label>
                                <input class="form-control form-login" id="txtContraseña1" onkeypress="verificarContraseña()" type="password" placeholder="" name="password" autocomplete="off" runat="server" />
                                <span class="btn btn-sm btn-icon position-absolute top-50 end-0 me-n2">
                                    <i class="fa fa-eye-slash" onclick="showPwd('txtContraseña1', this)" style="font-size:16px; color:#05a692"></i>
                                    <i class="fa fa-eye fs-2 d-none" style="font-size:18px"></i>
                                </span>
                            </div>
                            
                        </div>
                        <div class="mb-3 mt-3 padding1">
                            <div class="position-relative mb-3">
                                <label for="email" class="form-label label-login">Confirmar Contraseña :</label>
                                <input class="form-control form-login" id="txtContraseña2" onkeypress="verificarContraseña()" type="password" placeholder="" name="password" autocomplete="off" runat="server" />
                                <span class="btn btn-sm btn-icon position-absolute top-50 end-0 me-n2">
                                    <i class="fa fa-eye-slash" onclick="showPwd('txtContraseña2', this)" style="font-size:16px; color:#05a692"></i>
                                    <i class="fa fa-eye fs-2 d-none" style="font-size:18px"></i>
                                </span>
                            </div>
                            @*<label for="email" class="form-label label-login">Confirmar Contraseña :</label>
        <input id="txtCcontra" class="form-control form-login" type="text" name="name" value="" />*@
                        </div>
                        <div class="mb-3 mt-3 padding1">
                            <button id="btnRecuperar" class="btn btn-primary" type="button" name="name" value="">Aceptar</button>
                        </div>
                        <br />
                        <br />

                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>

        </div>

    </div>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/axios.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/js/Login/RecuperarControllers.js?v=1.0"></script>
    <script type="text/javascript">
        (function () {
            var clsRecuperarControllers = new RecuperarControllers();
            clsRecuperarControllers.Inicializar();
        })();

        function showPwd(id, el) {
            let x = document.getElementById(id);
            if (x.type === "password") {
                x.type = "text";
                el.className = 'fa fa-eye showpwd';
            } else {
                x.type = "password";
                el.className = 'fa fa-eye-slash showpwd';
            }
        }

    </script>
</body>

</html>
