﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recuperar Contraseña</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/img/iconosieson.ico" rel="icon" />
    <link href="/Content/style.css" rel="stylesheet" />
</head>
<body class="body1">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <br /><br />
                        <h1 class="logo">
                            <img src="~/Content/img/icon2.png" />
                        </h1><br />

                    </div>
                </div>
                <div class="card card-login">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <br />
                                <h3>Recuperar Contraseña</h3>
                                <br />
                            </div>
                        </div>
                        <div class="mb-3 mt-3 padding1">
                            <label for="email" class="form-label label-login">Usuario :</label>
                            <input id="txtUsuario" class="form-control form-login" type="text" name="name" value="" />
                        </div>
                        <div class="mb-3 mt-3 padding1">
                            <label for="email" class="form-label label-login">Correo :</label>
                            <input id="txtCorreo" class="form-control form-login" type="text" name="name" value="" />
                        </div>
                        <div class="mb-3 mt-3 padding1">
                            <button id="btnRecuperar" class="btn btn-primary" type="button" name="name" value="">Enviar Código</button>
                        </div>
                        <br />
                        <br />

                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>

        </div>

    </div>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/axios.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/js/Login/RecuperarControllers.js?v=1.0"></script>
    <script type="text/javascript">
        (function () {
            var clsRecuperarControllers = new RecuperarControllers();
            clsRecuperarControllers.Inicializar();
        })();
    </script>
</body>

</html>