﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Grupos2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="/Scripts/bootstrap.bundle.min.js"></script>
    <link href="/Content/estilosistema.css" rel="stylesheet" />
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>*@
</head>
<body>
    <br />
    <br />
    <br />
    <style>
        .input-group {
            /*position: relative;*/
            /*width: 300px;*/
        }

        .input {
            /*box-sizing: border-box;*/
            color: #191919;
            padding: 12px 12px 12px 32px;
            width: 100%;
        }

        .input-icon {
            color: #191919;
            position: absolute;
            width: 20px;
            height: 20px;
            left: 12px;
            top: 55%;
            transform: translateY(-50%);
        }

        .headT {
            background-color: #05a692 !important;
            color: white;
            font-weight: 600
        }

        .table-striped > tbody > tr:nth-of-type(odd) > * {
            --bs-table-accent-bg: #05a6920f;
            color: var(--bs-table-striped-color);
        }

        .table {
            font-size: 15px;
            text-align: center;
            border-radius: 10px;
        }

        .tipo3 {
            overflow: hidden;
        }
        .table-responsive tr {
            border-bottom-width: 1px;
            border-bottom-style: dashed;
            border-bottom-color: #eff2f5;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
        }

        .table th {
            padding-bottom: 2rem !important;
            text-align: center !important;
            font-weight: 600;
            font-size: 15px
        }

        .table td {
            padding-bottom: 1.7rem !important;
            text-align: center !important;
            font-size: 15px
        }

        .form-check-input:checked {
            background-color: #000000 !important;
            border-color: #000000 !important;
        }

            .form-check-input:checked > .table-responsive tr {
                border-left: 3px solid #05a692 !important
            }

        .modal-header {
            background-color: #05a692;
            color: white
        }

            .modal-header h2 {
                color: white
            }

      
        .padd-left{
            padding-left:15px!important
        }
        .padd-right {
            padding-right: 15px !important
        }
    </style>
    <div class="container-fluid mt-3" style="background-color:#e4e6ef; border-radius:10px">
        <div class="row mb-2">
            <div class="col-lg-6 col-md-6 col-sm-12">
                @*<br />*@
                <a class="btn btn-primary" style="margin: 15px; margin-left:20px; color:white!important;border:none;font-size: 18px;background-color:#000!important"><b>Grupos</b></a>
            </div>
            <div class="col-lg-2 col-md-0 col-sm-12"></div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="input-group mb-3" style="width:100%; margin-top:20px; z-index:0">
                    <input type="text" class="form-control" placeholder="Buscar" style="height:100%!important; padding:1rem;">
                    <button class="btn btn-primary" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </button>
                </div>


            </div>

        </div>
    </div>
    <br />
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-12">

                                <div class="input-group">
                                    <input type="text" class=" input form-control" placeholder="Filtrar">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="input-icon" viewBox="0 0 20 20" fill="currentColor">
                                        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
                                    </svg>
                                    <button class="btn btn-secondary" type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-sliders2-vertical" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M0 10.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1H3V1.5a.5.5 0 0 0-1 0V10H.5a.5.5 0 0 0-.5.5ZM2.5 12a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 1 0v-2a.5.5 0 0 0-.5-.5Zm3-6.5A.5.5 0 0 0 6 6h1.5v8.5a.5.5 0 0 0 1 0V6H10a.5.5 0 0 0 0-1H6a.5.5 0 0 0-.5.5ZM8 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 1 0v-2A.5.5 0 0 0 8 1Zm3 9.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1H14V1.5a.5.5 0 0 0-1 0V10h-1.5a.5.5 0 0 0-.5.5Zm2.5 1.5a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 1 0v-2a.5.5 0 0 0-.5-.5Z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-12 text-right" style="text-align:right">

                                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#myModal" id="botonA">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                                    </svg>

                                    Agregar Grupo
                                </button>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-striped tipo3">
                                        <thead class="headT">
                                            <tr>
                                                <th class="padd-left"><input class="form-check-input" type="checkbox" value="1" onclick="toggle(this);"></th>
                                                <th>ID</th>
                                                <th>Razon Social</th>
                                                <th>Nombre Comercial</th>
                                                <th>Calle</th>
                                                <th>Num.Exterior</th>
                                                <th>CP</th>
                                                <th>Municipio</th>
                                                <th>Estado</th>
                                                <th>Pais</th>
                                                <th>Teléfono</th>
                                                <th>Estatus</th>
                                                <th>Asociado Config</th>
                                                <th>Asociado</th>
                                                <th>Sitio WEB</th>
                                                <th>Server Seguridad</th>
                                                <th>Usuario SQL Seguridad</th>
                                                <th>Password SQL Seguridad</th>
                                                <th>Base Produccion</th>
                                                <th class="padd-right">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="padd-left"><input class="form-check-input" type="checkbox" value="1"></td>
                                                <td>Anna</td>
                                                <td>Pitt</td>
                                                <td>35</td>
                                                <td>New York</td>
                                                <td>USA</td>
                                                <td>1</td>
                                                <td>Anna</td>
                                                <td>Pitt</td>
                                                <td>35</td>
                                                <td>New York</td>
                                                <td>USA</td>
                                                <td>USA</td>
                                                <td>USA</td>
                                                <td>USA</td>
                                                <td>USA</td>
                                                <td>USA</td>
                                                <td>USA</td>
                                                <td>USA</td>
                                                <td id="acciones" class="padd-right">
                                                    <button type="button" class="btn btn-primary" style="padding:0.5rem 0.7rem!important" data-bs-toggle="modal" data-bs-target="#myModal">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                        </svg>
                                                    </button>

                                                    <button type="button" class="btn btn-danger" style="padding:0.5rem 0.7rem!important" data-bs-toggle="modal" data-bs-target="#Eliminar">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                                        </svg>
                                                    </button>

                                                </td>

                                            </tr>

                                            <tr>
                                                <td class="padd-left"><input class="form-check-input" type="checkbox" value="1"></td>
                                                <td>Anna</td>
                                                <td>Pitt</td>
                                                <td>35</td>
                                                <td>New York</td>
                                                <td>USA</td>
                                                <td>1</td>
                                                <td>Anna</td>
                                                <td>Pitt</td>
                                                <td>35</td>
                                                <td>New York</td>
                                                <td>USA</td>
                                                <td>USA</td>
                                                <td>USA</td>
                                                <td>USA</td>
                                                <td>USA</td>
                                                <td>USA</td>
                                                <td>USA</td>
                                                <td>USA</td>
                                                <td id="acciones" class="padd-right">
                                                    <button type="button" class="btn btn-primary" style="padding:0.5rem 0.7rem!important" data-bs-toggle="modal" data-bs-target="#myModal">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                        </svg>
                                                    </button>

                                                    <button type="button" class="btn btn-danger" style="padding:0.5rem 0.7rem!important" data-bs-toggle="modal" data-bs-target="#Eliminar">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                                        </svg>
                                                    </button>

                                                </td>

                                            </tr>
                                            <tr>
                                                <td class="padd-left"><input class="form-check-input" type="checkbox" value="1"></td>
                                                <td>Anna</td>
                                                <td>Pitt</td>
                                                <td>35</td>
                                                <td>New York</td>
                                                <td>USA</td>
                                                <td>1</td>
                                                <td>Anna</td>
                                                <td>Pitt</td>
                                                <td>35</td>
                                                <td>New York</td>
                                                <td>USA</td>
                                                <td>USA</td>
                                                <td>USA</td>
                                                <td>USA</td>
                                                <td>USA</td>
                                                <td>USA</td>
                                                <td>USA</td>
                                                <td>USA</td>
                                                <td id="acciones" class="padd-right">
                                                    <button type="button" class="btn btn-primary" style="padding:0.5rem 0.7rem!important" data-bs-toggle="modal" data-bs-target="#myModal">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                        </svg>
                                                    </button>

                                                    <button type="button" class="btn btn-danger" style="padding:0.5rem 0.7rem!important" data-bs-toggle="modal" data-bs-target="#Eliminar">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                                        </svg>
                                                    </button>

                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div style="text-align:right!important">
                                    <ul class="pagination" style="justify-content:flex-end">
                                        <li class="paginate_button page-item previous disabled">
                                            <a href="#" class="page-link">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="paginate_button page-item active">
                                            <a href="#" class="page-link">1</a>
                                        </li>
                                        <li class="paginate_button page-item ">
                                            <a href="#" class="page-link">2</a>
                                        </li>
                                        <li class="paginate_button page-item ">
                                            <a href="#" class="page-link">3</a>
                                        </li>
                                        <li class="paginate_button page-item next">
                                            <a href="#" class="page-link">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered  modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h2 class="modal-title">Agregar Usuario</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row mb-6">


                            <div class="col-lg-12 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">Razón Social</label>
                                <input type="text" class="form-control form-control-lg form-control-solid" runat="server">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-6">


                            <div class="col-lg-12 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">Nombre Comercial</label>
                                <input type="text" class="form-control form-control-lg form-control-solid" runat="server">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-6">


                            <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">Calle</label>
                                <input type="text" class="form-control form-control-lg form-control-solid" runat="server">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">Num. Exterior</label>
                                <input type="text" class="form-control form-control-lg form-control-solid" runat="server">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-6">


                            <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">Código Postal</label>
                                <input type="text" class="form-control form-control-lg form-control-solid" runat="server">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">Municipio</label>
                                <input type="text" class="form-control form-control-lg form-control-solid" runat="server">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-6">


                            <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">Estado</label>
                                <input type="text" class="form-control form-control-lg form-control-solid" runat="server">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">País</label>
                                <input type="text" class="form-control form-control-lg form-control-solid" runat="server">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="row mb-6">
                            <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">Teléfono</label>
                                <input type="text" class="form-control form-control-lg form-control-solid" runat="server">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">Estatus</label>
                                <input type="text" class="form-control form-control-lg form-control-solid" runat="server">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-6">
                            <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">Asociado Conf.</label>
                                <input type="text" class="form-control form-control-lg form-control-solid" runat="server">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">Asociado</label>
                                <input type="text" class="form-control form-control-lg form-control-solid" runat="server">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-6">


                            <div class="col-lg-12 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">Sitio Web</label>
                                <input type="text" class="form-control form-control-lg form-control-solid" runat="server">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>

                        </div>
                        <div class="row mb-6">
                            <div class="col-lg-12 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">Server Seguridad</label>
                                <input type="text" class="form-control form-control-lg form-control-solid" runat="server">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>

                        </div>
                        <div class="row mb-6">
                            <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">Usuario SQL Seguridad</label>
                                <input type="text" class="form-control form-control-lg form-control-solid" runat="server">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">Password SQL Seguridad</label>
                                <input type="text" class="form-control form-control-lg form-control-solid" runat="server">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-6">
                            <div class="col-lg-12 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">Base Produccion</label>
                                <input type="text" class="form-control form-control-lg form-control-solid" runat="server">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>

                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- The Modal -->
        <div class="modal fade" id="Eliminar">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">



                    <!-- Modal body -->
                    <div class="modal-body text-center">
                        <img src="/Content/img/exclamacion-error.png" style="width:100px" /><br /><br />
                        <h3> ¿Esta seguro de querer eliminar este grupo?</h3>
                        <br />
                        <div class="row">
                            <div class="col-lg-12" style="justify-content:center">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                            </div>
                        </div>
                        <br />
                    </div>

                    <!-- Modal footer -->


                </div>
            </div>
        </div>
    </div>
    <script>
        function toggle(source) {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i] != source)
                    checkboxes[i].checked = source.checked;
            }
        }

    </script>
</body>
</html>
