﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body id="body-2">
    <div class="container">
        <div class="row">
          
            <div class="col-lg-12">
               
                <div class="card card-login" style="margin-top:10%">
                    <div class="card-body" style="--bs-card-spacer-y:0!important;--bs-card-spacer-x: 0!important;">
                        <div class="row">
                            <div class="col-lg-6 text-center" style="background-color:#eb861c;padding:0!important;border-radius:0.75rem 0 0 0.75rem">
                                <div class="padding1" style="padding-top:10%">
                                    <img src="~/Content/img/login.png" style="width:100%" />
                                </div>
                               
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <br /><br />
                                        <h1 class="logo">MEBA</h1><br />
                                        <h3>Iniciar Sesión</h3>
                                        <br />
                                    </div>
                                </div>
                                
                              
                                <div class="text-left">
                                    <div class="mb-3 mt-3 padding1">
                                        <label for="email" class="form-label label-login">Usuario:</label>
                                        <input id="txtUsuario" class="form-control form-login" type="text" name="name" value="" />
                                    </div>
                                    <div class="mb-3 mt-3 padding1">
                                        <label for="email" class="form-label label-login">Contraseña:</label>
                                        <input id="txtPassword" class="form-control form-login" type="text" name="name" value="" />
                                    </div>
                                    <div class="mb-3 mt-3 padding1">
                                        <button id="btnLogearse" class="btn btn-primary" type="button" name="name" value="">Ingresar</button>
                                    </div>
                                    <div class="mb-3 mt-3 padding1 text-center">
                                        <p>¿No tienes cuenta? <a href="#">Registrate</a></p> <br />
                                    </div>
                                </div>
                            </div>
                            </div>


                        </div>
                </div>
            </div>
           

        </div>

    </div>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

</body>

</html>
