﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid" >
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-0 fondo">
                <div class="text-center">
                    <img src="~/Content/img/login3.png" style="width:80%" class="img-login3" />
                </div>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-12"style="height:100vh">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="card" style="border:none">
                            <div class="card-body body-login3">
                                <br id="noMovil"/><br id="noMovil"/><br id="noMovil"/><br id="noMovil"/><br /><br />
                                <h1 class="logo">MEBA</h1><br />
                                <h3>Iniciar Sesión</h3>
                                <br />
                                <div class="text-left" style="text-align:left!important">
                                    <div class="mb-3 mt-3 padding1">
                                        <label for="email" class="form-label label-login">Usuario:</label>
                                        <input id="txtUsuario" class="form-control form-login" type="text" name="name" value="" />
                                    </div>
                                    <div class="mb-3 mt-3 padding1">
                                        <label for="email" class="form-label label-login">Contraseña:</label>
                                        <input id="txtPassword" class="form-control form-login" type="text" name="name" value="" />
                                    </div>
                                    <div class="mb-3 mt-3 padding1">
                                        <button id="btnLogearse" class="btn btn-primary" type="button" name="name" value="">Ingresar</button>
                                    </div>
                                    <div class="mb-3 mt-3 padding1 text-center">
                                        <p>¿No tienes cuenta? <a href="#">Registrate</a></p> <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>


            </div>
        </div>
    </div>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
