﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    window.onload = function active() {
        var act = document.getElementById("catalogos");
        if (act.className.match("nav-item")) {
            act.className = "nav-item active";
        } else {
            act.remove.className("active");
        }
        var act5 = document.getElementById("item5-M");
        var iconAct5 = document.getElementById("Active5");
        var iconnoAct5 = document.getElementById("noActive5");

        var borde5 = document.getElementById("item5")
        if (act5.className.match("svg")) {
            act5.className = "svg active";
            borde5.className = "borde1";



        } else {
            act5.remove.className("active");
            borde5.className = "nada";


        }

    }
</script>

  
   
    <style>
        .card .card-header {
            background-color: #05a692;
            color: white
        }

            .card .card-header h2 {
                color: white !important
            }
        .input-group {
            /*position: relative;*/
            /*width: 300px;*/
        }

        .input {
            /*box-sizing: border-box;*/
            color: #191919;
            padding: 12px 12px 12px 32px;
            width: 100%;
        }

        .input-icon {
            color: #191919;
            position: absolute;
            width: 20px;
            height: 20px;
            left: 12px;
            top: 55%;
            transform: translateY(-50%);
        }

        .headT {
            background-color: #05a692 !important;
            color: white;
            font-weight: 600
        }

        .table-striped > tbody > tr:nth-of-type(odd) > * {
            --bs-table-accent-bg: #05a6920f;
            color: var(--bs-table-striped-color);
        }

        .table {
            font-size: 15px;
            text-align: center;
            border-radius: 10px;
        }

        .tipo3 {
            overflow: hidden;
        }

        .table-responsive tr {
            border-bottom-width: 1px;
            border-bottom-style: dashed !important;
            border-bottom-color: #d8dbdf;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
        }

        .table th {
            padding-bottom: 2rem !important;
            /*text-align: center;*/
            font-weight: 600;
            font-size: 15px
        }
       

        .table td {
            padding-bottom: 1.7rem !important;
            /*text-align: center;*/
            font-size: 15px;
            border-top:none!important
        }
        .table .tableModal td {
            text-align: left !important
        }
        .form-check-input:checked {
            background-color: #000000 !important;
            border-color: #000000 !important;
        }

            .form-check-input:checked > .table-responsive tr {
                border-left: 3px solid #05a692 !important
            }

        .modal-header {
            background-color: #05a692;
            color: white
        }

            .modal-header h2 {
                color: white
            }

        .padd-left {
            padding-left: 15px !important
        }

        .padd-right {
            padding-right: 15px !important
        }
    </style>
    <div class="container-fluid mt-3" style="background-color:#e4e6ef; border-radius:10px">
        <div class="row mb-2">
            <div class="col-lg-6 col-md-6 col-sm-12">
                @*<br />*@
                <a class="btn btn-primary" style="margin: 15px; margin-left:20px; color:white!important;border:none;font-size: 18px;background-color:#000!important"><b>Permisos</b></a>
            </div>
            <div class="col-lg-2 col-md-0 col-sm-12"></div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="input-group mb-3" style="width:100%; margin-top:20px; z-index:0">
                    <input type="text" class="form-control" placeholder="Buscar Usuario" style="height:100%!important; padding:1rem;">
                    <button class="btn btn-primary" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </button>
                </div>


            </div>

        </div>
    </div>
    <br />
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-12 text-right" style=" justify-content:flex-end; text-align:right!important">
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#myModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                    </svg>

                    Agregar Permiso
                </button>
            </div>
            </div>
        <br />
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header pt-5" style="padding-top: 0.25rem !important;">

                                <div class="card-title">
                                    <h2 class="d-flex align-items-center">
                                        Listado de permisos

                                    </h2>
                                </div>

                               

                            </div>
                            <div class="card-body">
                                <div class="table-responsive" style="border:none">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Permisos</th>
                                                <th>Usuario</th>



                                                <th class="padd-right">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input class="form-check-input" type="checkbox" value="1" checked>
                                                </td>
                                                <td>Anna</td>



                                                <td id="acciones" class="padd-right">
                                                    <button type="button" class="btn btn-primary" style="padding:0.5rem 0.7rem!important" data-bs-toggle="modal" data-bs-target="#myModal">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                        </svg>
                                                    </button>

                                                    <button type="button" class="btn btn-danger" style="padding:0.5rem 0.7rem!important" data-bs-toggle="modal" data-bs-target="#Eliminar">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                                        </svg>
                                                    </button>

                                                </td>

                                            </tr>

                                            <tr>
                                                <td>
                                                    <input class="form-check-input" type="checkbox" value="1" checked>
                                                </td>
                                                <td>Anna</td>



                                                <td id="acciones" class="padd-right">
                                                    <button type="button" class="btn btn-primary" style="padding:0.5rem 0.7rem!important" data-bs-toggle="modal" data-bs-target="#myModal">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                        </svg>
                                                    </button>

                                                    <button type="button" class="btn btn-danger" style="padding:0.5rem 0.7rem!important" data-bs-toggle="modal" data-bs-target="#Eliminar">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                                        </svg>
                                                    </button>

                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <input class="form-check-input" type="checkbox" value="1">
                                                </td>
                                                <td>Anna</td>



                                                <td id="acciones" class="padd-right">
                                                    <button type="button" class="btn btn-primary" style="padding:0.5rem 0.7rem!important" data-bs-toggle="modal" data-bs-target="#myModal">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                        </svg>
                                                    </button>

                                                    <button type="button" class="btn btn-danger" style="padding:0.5rem 0.7rem!important" data-bs-toggle="modal" data-bs-target="#Eliminar">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                                        </svg>
                                                    </button>

                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div style="text-align:right!important">
                                            <ul class="pagination" style="justify-content:flex-end">
                                                <li class="paginate_button page-item previous disabled">
                                                    <a href="#" class="page-link">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                                            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                                                        </svg>
                                                    </a>
                                                </li>
                                                <li class="paginate_button page-item active">
                                                    <a href="#" class="page-link">1</a>
                                                </li>
                                                <li class="paginate_button page-item ">
                                                    <a href="#" class="page-link">2</a>
                                                </li>
                                                <li class="paginate_button page-item ">
                                                    <a href="#" class="page-link">3</a>
                                                </li>
                                                <li class="paginate_button page-item next">
                                                    <a href="#" class="page-link">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                                            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                                                        </svg>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <br>

                <!-- The Modal -->
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h2 class="modal-title">Delegación de permisos por rol</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="row mb-6">
                                    <!--fecha de nacimiento-->

                                    <div class="col-lg-12 fv-row fv-plugins-icon-container">
                                        <label for="sel1" class="form-label">Seleciona un usuario:</label>
                                        <select class="form-control form-control-lg form-control-solid form-select" id="sel1" name="sellist1">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-6">
                                    <!--fecha de nacimiento-->

                                    <div class="col-lg-12 fv-row fv-plugins-icon-container">
                                        <div class="table-responsive">
                                            <table class="table text-left table-bordered tableModal table-striped" style="text-align:left!important">
                                                <thead class="headT">
                                                    <tr>
                                                        <th class="padd-left"><input class="form-check-input" type="checkbox" value="1"></th>
                                                        <th class="padd-right">Permisos</th>


                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="padd-left"><input class="form-check-input" type="checkbox" value="1"></td>
                                                        <td class="padd-right">Permiso 1</td>


                                                    </tr>
                                                    <tr>
                                                        <td class="padd-left"><input class="form-check-input" type="checkbox" value="1"></td>
                                                        <td class="padd-right">Permiso 2</td>


                                                    </tr>
                                                    <tr>
                                                        <td class="padd-left"><input class="form-check-input" type="checkbox" value="1"></td>
                                                        <td class="padd-right">Permiso 3</td>


                                                    </tr>
                                                    <tr>
                                                        <td class="padd-left"><input class="form-check-input" type="checkbox" value="1"></td>
                                                        <td class="padd-right">Permiso 4</td>


                                                    </tr>
                                                    <tr>
                                                        <td class="padd-left"><input class="form-check-input" type="checkbox" value="1"></td>
                                                        <td class="padd-right">Permiso 5</td>


                                                    </tr>
                                                    <tr>
                                                        <td class="padd-left"><input class="form-check-input" type="checkbox" value="1"></td>
                                                        <td class="padd-right">Permiso 6</td>


                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>



                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- The Modal -->
                <div class="modal fade" id="Eliminar">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">



                            <!-- Modal body -->
                            <div class="modal-body text-center">
                                <img src="/Content/img/exclamacion-error.png" style="width:100px" /><br /><br />
                                <h3> ¿Esta seguro de querer eliminar los permisos de este usuario?</h3>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12" style="justify-content:center">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                                    </div>
                                </div>
                                <br />
                            </div>

                            <!-- Modal footer -->


                        </div>
                    </div>
                </div>
            </div>
            <script>
                function toggle(source) {
                    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
                    for (var i = 0; i < checkboxes.length; i++) {
                        if (checkboxes[i] != source)
                            checkboxes[i].checked = source.checked;
                    }
                }

            </script>


