﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/tablas.css" rel="stylesheet" />
<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="card">
                <div class="card-header pt-5" style="padding-top: 0.25rem !important;">

                    <div class="card-title">
                        <h2 class="d-flex align-items-center">
                            Reportes

                        </h2>
                    </div>



                </div>
                <div class="card-body">

                    <div class="row" style="justify-content:flex-end">
                        <div class="col-lg-3">
                            <select class="form-select">
                                <option>ZONA</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <select class="form-select">
                                <option>ESTACIONES</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <input type="date" class=" input form-control form-control-lg" />
                        </div>

                        <div class="col-lg-2">
                            <button type="button" class="btn btn-primary" style="width:100%">Filtrar</button>
                        </div>
                    </div>
                    <br />
                    <br />  <br />  <br />
                    <div class="row" style="margin-bottom:20px">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card shadow-sm nocard" style="border-left:2px solid #808080" id="estatus1">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-8">
                                            <h3>Reporte 1</h3>
                                        </div>
                                        <div class="col-4 text-right">
                                        </div>
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <div class="p-2 f13">Zona: nombre</div>
                                        <div class="p-2 f13">Estación: 1</div>
                                        <div class="p-2 f13">Fecha: dd/mm/yyyy</div>
                                    </div>
                                    <div class="d-flex flex-wrap" style="justify-content:flex-end">
                                        <a href="#" style="margin:5px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                            </svg>
                                        </a>
                                        <a href="#" style="margin:5px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                            </svg>
                                        </a>



                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card shadow-sm nocard" style="border-left:2px solid #808080" id="estatus1">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-8">
                                            <h3>Reporte 1</h3>
                                        </div>
                                        <div class="col-4 text-right">
                                        </div>
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <div class="p-2 f13">Zona: nombre</div>
                                        <div class="p-2 f13">Estación: 1</div>
                                        <div class="p-2 f13">Fecha: dd/mm/yyyy</div>
                                    </div>
                                    <div class="d-flex flex-wrap" style="justify-content:flex-end">
                                        <a href="#" style="margin:5px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                            </svg>
                                        </a>
                                        <a href="#" style="margin:5px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                            </svg>
                                        </a>



                                    </div>

                                </div>
                            </div>

                        </div>


                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card shadow-sm nocard" style="border-left:2px solid #808080" id="estatus1">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-8">
                                            <h3>Reporte 1</h3>
                                        </div>
                                        <div class="col-4 text-right">
                                        </div>
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <div class="p-2 f13">Zona: nombre</div>
                                        <div class="p-2 f13">Estación: 1</div>
                                        <div class="p-2 f13">Fecha: dd/mm/yyyy</div>
                                    </div>
                                    <div class="d-flex flex-wrap" style="justify-content:flex-end">
                                        <a href="#" style="margin:5px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                            </svg>
                                        </a>
                                        <a href="#" style="margin:5px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                            </svg>
                                        </a>



                                    </div>

                                </div>
                            </div>

                        </div>


                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card shadow-sm nocard" style="border-left:2px solid #808080" id="estatus1">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-8">
                                            <h3>Reporte 1</h3>
                                        </div>
                                        <div class="col-4 text-right">
                                        </div>
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <div class="p-2 f13">Zona: nombre</div>
                                        <div class="p-2 f13">Estación: 1</div>
                                        <div class="p-2 f13">Fecha: dd/mm/yyyy</div>
                                    </div>
                                    <div class="d-flex flex-wrap" style="justify-content:flex-end">
                                        <a href="#" style="margin:5px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                            </svg>
                                        </a>
                                        <a href="#" style="margin:5px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                            </svg>
                                        </a>



                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row"  style="margin-bottom:20px">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card shadow-sm nocard" style="border-left:2px solid #808080"  id="estatus1">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-8">
                                            <h3>Reporte 1</h3>
                                        </div>
                                        <div class="col-4 text-right">
                                        </div>
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <div class="p-2 f13">Zona: nombre</div>
                                        <div class="p-2 f13">Estación: 1</div>
                                        <div class="p-2 f13">Fecha: dd/mm/yyyy</div>
                                    </div>
                                    <div class="d-flex flex-wrap" style="justify-content:flex-end">
                                        <a href="#" style="margin:5px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                            </svg>
                                        </a>
                                        <a href="#" style="margin:5px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                            </svg>
                                        </a>



                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card shadow-sm nocard" style="border-left:2px solid #808080"  id="estatus1">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-8">
                                            <h3>Reporte 1</h3>
                                        </div>
                                        <div class="col-4 text-right">
                                        </div>
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <div class="p-2 f13">Zona: nombre</div>
                                        <div class="p-2 f13">Estación: 1</div>
                                        <div class="p-2 f13">Fecha: dd/mm/yyyy</div>
                                    </div>
                                    <div class="d-flex flex-wrap" style="justify-content:flex-end">
                                        <a href="#" style="margin:5px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                            </svg>
                                        </a>
                                        <a href="#" style="margin:5px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                            </svg>
                                        </a>



                                    </div>

                                </div>
                            </div>

                        </div>


                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card shadow-sm nocard" style="border-left:2px solid #808080" id="estatus1">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-8">
                                            <h3>Reporte 1</h3>
                                        </div>
                                        <div class="col-4 text-right">
                                        </div>
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <div class="p-2 f13">Zona: nombre</div>
                                        <div class="p-2 f13">Estación: 1</div>
                                        <div class="p-2 f13">Fecha: dd/mm/yyyy</div>
                                    </div>
                                    <div class="d-flex flex-wrap" style="justify-content:flex-end">
                                        <a href="#" style="margin:5px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                            </svg>
                                        </a>
                                        <a href="#" style="margin:5px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                            </svg>
                                        </a>



                                    </div>

                                </div>
                            </div>

                        </div>


                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="card shadow-sm nocard" style="border-left:2px solid #808080" id="estatus1">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-8">
                                            <h3>Reporte 1</h3>
                                        </div>
                                        <div class="col-4 text-right">
                                        </div>
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <div class="p-2 f13">Zona: nombre</div>
                                        <div class="p-2 f13">Estación: 1</div>
                                        <div class="p-2 f13">Fecha: dd/mm/yyyy</div>
                                    </div>
                                    <div class="d-flex flex-wrap" style="justify-content:flex-end">
                                        <a href="#" style="margin:5px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                            </svg>
                                        </a>
                                        <a href="#" style="margin:5px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                            </svg>
                                        </a>



                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
   
                            </div>

