﻿body {
    --bs-body-font-size: 1.5rem;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
/*.sidebar1 {
    height: 100vh;
    margin-bottom: 0 !important;
    align-content: flex-start;
    padding-left: 0 !important;
    box-shadow: 0 0.1rem 1rem 0.22rem rgba(0, 0, 0, 0.1) !important;
    background-color: white !important;
    text-align: center !important;
    overflow: visible;
    width: 12rem !important;
}*/
.topbar {
    background-color: #fff
}

.navbar {
    border-radius: 0 !important
}

/*.spantopbar {
    color: #05a692
}*/
.fade {
    transition: opacity .15s linear !important;
}

.fade {
    opacity: 1;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

/*.
}
.navbar-nav > li > a {
    color: #eb861c !important;
    font-size: 13px;
    text-decoration: none
}
    .navbar-nav .nav-link.active {
        background-color: #eb861c !important;
        color: white !important;
        width: 100%;
        border-radius: 10px;
    }
.navbar-nav > li > a > i {
 
    font-size: 40px;
    
}
    .shadow-sm {
    }
#wrapper {
    display: flex;
}
    #wrapper #content-wrapper {
        background-color: #f8f9fc;
        width: 100%;
        overflow-x: hidden;
    }
flex-column {
    flex-direction: column !important;
}
.d-flex {
    display: flex !important;
}
#wrapper #content-wrapper #content {
    flex: 1 0 auto;
}*/
@media screen and (max-width: 600px) {
    .nav-menu-container {
        display: none;
    }

    #sidebarToggleTop {
        display: none;
    }

    #accordionSidebar {
        display: none
    }

    /*footer {
        display: none
    }*/

    html.rd-navbar-fixed-linked .page {
        padding-top: 0px !important;
    }

}

@media screen and (max-width: 768px) {
    .sidebar.toggled {
        overflow: visible;
        width: 7.5rem !important;
    }

    .navbar-nav {
        margin: 0 !important
    }

    #noMovil {
        display: none
    }
}

@media screen and (min-width: 600px) {
    .MenuM {
        display: none !important;
    }

    .logoMovil {
        display: none
    }

}

@media screen and (max-width: 601px) {
    .MenuS {
        display: none !important;
    }

    .MenuM {
        display: block !important;
        position: fixed !important;
        top: 0;
        width: 100%;
    }

    #noMovil {
        display: none
    }

    #contentMovil {
        /*margin-top: 33%;*/
        padding: 0 5px !important;
    }

    .padding-iconos {
        padding: 0.5rem 0.5rem !important;
    }

    #barsmovil {
        padding-top: 5px
    }

    #sitio {
        font-size: 35px;
        color: #05a692;
        text-transform: uppercase
    }

    #iconmovil {
        display: inline
    }

    #botonA {
        width: 100%
    }

    .spantopbar {
        display: none
    }
}

@media screen and (min-width: 602px) {

    #sitio {
        font-size: 50px;
        color: #05a692;
        text-transform: uppercase
    }

    .padding-iconos {
        padding: 0.7rem 2rem !important;
    }

    #iconmovil {
        display: none
    }
}

.sidebar-dark .nav-item.active .nav-link svg {
    color: #000;
}

/*.sidebar-dark .nav-item .nav-link svg {
    color: #c5fff8;
}*/
.sidebar-dark .nav-item .nav-link:hover svg {
    color: #000;
}


.svg {
    color: #9d9d9d
}

.svg .active {
    color: #ffe784 !important
}

.borde1 {
    border-bottom: 2px solid #ffe784
}

@media only screen and (max-device-width:480px) {
    .iconbar {
        height: 80px;
        width: 90%;
    }

    .icons i {
        font-size: 1.6em;
    }

    .icons span {
        font-size: 1em;
    }
}

#marginb {
    margin-bottom: 20px
}

.nocard {
    height: 100% !important
}

.nocard .card-body {
    padding: 1rem 1rem !important;
}

#estatus1 {
    background-image: url(/Content/img/cards-2.png);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 2px solid #28a745
}



#estatus2 {
    background-image: url(/Content/img/cards-2.png);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 2px solid #ffc107
}




#estatus3 {
    background-image: url(/Content/img/cards-2.png);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 2px solid #dc3545
}



#estatus4 {
    background-image: url(/Content/img/cards-2.png);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 2px solid #6c757d
}


.f13 {
    font-size: 13px;
}

.nocard h4 {
    font-size: 1rem !important;
}

#magna {
    border-radius: 50%;
    border: 0px;
    color: white;
    cursor: default
}

#premium {
    border-radius: 50%;
    border: 0px;
    color: white;
    cursor: default
}

#diesel {
    border-radius: 50%;
    border: 0px;
    color: white;
    cursor: default
}

@media only screen and (min-device-width:992px) and (max-device-width:1600px) {
    #estatus1 h4 {
        font-size: 0.80rem !important
    }

    #magna {
        font-size: 0.75rem !important
    }

    #premium {
        font-size: 0.75rem !important
    }

    #diesel {
        font-size: 0.75rem !important
    }

    #fm {
        font-size: 0.75rem !important
    }

    .cbozonadt {
        font-size: 0.75rem !important;
        padding: 5px !important
    }

    .datepicker td,
    .datepicker th {
        font-size: 0.90rem !important
    }

    .spnZona {
        font-size: 1.1rem !important
    }

    #tituloHE {
        font-size: 1.1rem !important
    }

    #modwith {
        max-width: 600px !important
    }

    #modwith2 {
        max-width: 650px !important;

    }

    #modwith h2 {
        font-size: 1.3rem !important
    }

    #modwith2 h2 {
        font-size: 1.3rem !important
    }

    #modwith2 .modal-body {
        height: 440px;
        width: 100%;
        overflow-y: auto;

    }

    #modwith2 .modal-body::-webkit-scrollbar {

        width: 15px;

    }
}

@media only screen and (max-device-width:991px) {
    .spnZona {
        font-size: 1.1rem !important
    }

    #modwith2 .modal-body {
        height: 440px;
        width: 100%;
        overflow-y: auto;
    }

    #modwith2 .modal-body::-webkit-scrollbar {
        width: 15px;
    }
}