﻿.card-header {
    border-bottom: none !important
}

.card-footer {
    border: none !important;
    padding: 1rem 2.25rem !important
}

.form-check-input {
    background-color: #eff2f5;
    border: none
}
.form-check:not(.form-switch) .form-check-input[type=checkbox] {
    background-size: 50% 50% !important;
    background-size: 40px !important
}

/*.card .card-header {
    background-color: #05a692;
    color: white
}*/

    /*.card .card-header h2 {
        color: white !important
    }*/
/*.modal-header {
    background-color: #05a692;
    color: white
}*/

    .modal-header h2 {
        color: white
    }
    .table-responsive tr

{
    border-bottom-width: 1px;
    border-bottom-style: dashed !important;
    border-bottom-color: #d8dbdf;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
/*.table-responsive tr {
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
        }*/
.table th {
    /*padding-bottom: 2rem !important;*/
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}

.table td {
    /*padding-bottom: 1.7rem !important;*/
    text-align:left;
    font-size: 15px;
    border-top: none !important
}
#acciones {
    text-align: center !important
}
.table {
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
}

.tipo3 {
    overflow: hidden;
}

.padd-left {
    padding-left: 15px !important
}

.padd-right {
    padding-right: 15px !important
}

.headT {
    background-color: #05a692 !important;
    color: white;
    font-weight: 600
}



/*#tblBitacora_previous {
   color: #808080;
    background-color: transparent;
}

#tblBitacora_next {
    color: #808080;
    background-color:transparent;
}*/
/*#tblGrupos_previous {
    color: #808080;
    background-color: #ffffff;
}

#tblGrupos_next {
    color: #808080;
    background-color: #ffffff;
}
#tblUsuarios_previous {
    color: #808080;
    background-color: #ffffff;
}

#tblUsuarios_next {
    color: #808080;
    background-color: #ffffff;
}
#tblContactosAsosiados_previous {
    color: #808080;
    background-color: #ffffff;
}

#tblContactosAsosiados_next {
    color: #808080;
    background-color: #ffffff;
}*/
.page-item {
    margin-right: 0.5rem;
}

.paginate_button {
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #05a692;
    background-color: #fff;
    border: 1px solid #dddfeb;
}
    .paginate_button:hover {
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #fff;
        background-color: #05a692;
        border: 1px solid #05a692;
    }
#tblGrupos_filter label{
    margin-right:20px!important;
    font-size:20px;
    color:#05a692
}
#tblVariacion_previous {
    margin-left: 0;
    border-top-left-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
}

#tblVariacion_next {
    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
}
#tblVariacionEstaciones_previous {
    margin-left: 0;
    border-top-left-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
}

#tblVariacionEstaciones_next {
    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
}
#tblVariacionFechas_previous {
    margin-left: 0;
    border-top-left-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
}

#tblVariacionFechas_next {
    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
}
#tblBitacora_previous {
    margin-left: 0;
    border-top-left-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
}

#tblBitacora_next {
    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
}
#tblUsuarios_previous {
    margin-left: 0;
    border-top-left-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
}

#tblUsuarios_next {
    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
}
#tblGrupos_previous {
    margin-left: 0;
    border-top-left-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
}

#tblGrupos_next {
    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
}
#tblContactosAsosiados_previous {
    margin-left: 0;
    border-top-left-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
}

#tblContactosAsosiados_next {
    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
}
#tblZonas_previous {
    margin-left: 0;
    border-top-left-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
}

#tblZonas_next {
    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
}
#tblResumenEstacion_previous {
    margin-left: 0;
    border-top-left-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
}

#tblResumenEstacion_next {
    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
}
@media screen and (max-width: 600px) {
    .card .card-header h2 {
       font-size:25px
    }
    #tablaReportes {
        display: none
    }
}
.btn-editar{
    padding:0.5rem 0.75rem!important;
    margin:2px
}
.btn-eliminar {
    padding: 0.5rem 0.75rem !important;
    margin: 2px
}
.btn-AgregarMenu {
    padding: 0.5rem 0.75rem !important;
    margin: 2px
}
.btn-AgregarTema {
    padding: 0.5rem 0.75rem !important;
    margin: 2px
}
.btn-EditarEstacion {
    padding: 0.5rem 0.75rem !important;
    margin: 2px;
}
.btn-BorrarEstacion {
    padding: 0.5rem 0.75rem !important;
    margin: 2px;
}