﻿/*menu lateral*/
#accordionSidebar {
    background-color: #000 !important;
}

.sidebar-dark .nav-item .nav-link svg {
    color: #ffe784;
}

.sidebar-dark .nav-item .nav-link:active,
.sidebar-dark .nav-item .nav-link:focus,
.sidebar-dark .nav-item .nav-link:hover {
    color: #000
}

.sidebar-dark .nav-item .nav-link:active i,
.sidebar-dark .nav-item .nav-link:focus i,
.sidebar-dark .nav-item .nav-link:hover i {
    color: #000
}

.sidebar-dark .nav-item .nav-link {
    color: #ffe784;
}

.sidebar-dark .nav-item .nav-link:active,
.sidebar-dark .nav-item .nav-link:focus,
.sidebar-dark .nav-item .nav-link:hover {
    color: #000
}

/*menu superior*/
.mensaje {
    color: #000;
}

.spantopbar {
    color: #000;
}

.modal-header {
    background-color: #000;
    color: white;
}

/*dashboard*/
.card-datos {
    background: rgb(47, 105, 151);
    background: linear-gradient(90deg, rgb(0 189 166) 0%, rgb(0 127 119) 100%);
}

.card-datos h1 {
    color: white;
    font-size: 45px
}

.card-datos svg {
    color: #ffffff82;
    font-size: 45px
}

.card-datos h2 {
    color: white;
}


/*Card de paginas internas(donde van las tablas)*/
.card .card-header {
    background-color: #ffe784;
    color: white;
}

.card .card-header h2 {
    color: white !important
}

.btn.btn-dark {
    color: #ffe784;
    border-color: #000;
    background-color: #000;
}

.btn.btn-dark:hover {
    color: #000;
    border-color: #ffe784 !important;
    background-color: #ffe784 !important;
}

/*aqui es donde se cambia el id de la tabla*/
#tblUsuarios_length label {
    color: #000;
    font-weight: 600;
    font-size: 15px;
}

#tblUsuarios_filter label {
    color: #000;
    font-weight: 900;
    font-size: 20px
}

/*General*/
.btn.btn-primary {
    color: #fff;
    border-color: #000;
    background-color: #000;
}

a {
    color: #000;
    text-decoration: none
}

a:hover {
    color: #006dab;
    text-decoration: underline
}

.card-imp {
    background-color: #000;
    border-radius: .75rem
}

.card-imp:hover {
    background-color: #000;
    border-radius: .75rem;
}

.card-imp p {
    color: white
}

.nav-line-tabs .nav-item .nav-link.active,
.nav-line-tabs .nav-item .nav-link:hover:not(.disabled),
.nav-line-tabs .nav-item.show .nav-link {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #000;
    transition: color .2s ease, background-color .2s ease;
}

.text-active-primary.active {
    transition: color .2s ease, background-color .2s ease;
    color: #000 !important;
}

/*
Full screen Modal 
*/
.fullscreen-modal .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

@media (min-width: 768px) {
    .fullscreen-modal .modal-dialog {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .fullscreen-modal .modal-dialog {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .fullscreen-modal .modal-dialog {
        width: 1170px;
    }
}