﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
  

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/NuevoSistema/Style.css" rel="stylesheet" />

    <link href="/iconos/css/fontawesome.css" rel="stylesheet" />

    <link href="~/iconos/css/regular.min.css" rel="stylesheet" />
    <link href="~/iconos/css/all.css" rel="stylesheet" />
    <script src="/iconos/js/fontawesome.js"></script>
    @*<script src="/Scripts/iconos.js"></script>*@
    <script src="/iconos/js/all.min.js"></script>
    <script src="/iconos/js/regular.min.js"></script>
    <link href="~/Content/styleM2.css" rel="stylesheet" />
</head>
<body>
    <style>
        .collapse:not(.show) {
            display: contents;
        }
    </style>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion nombre2 toggled" id="accordionSidebar" @*style="background-color:#eb861c!important"*@>

            <!-- Sidebar logo de la plataforma -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Dashboard.aspx">
                <div class="sidebar-brand-icon">
                    <img src="~/Content/img/icono-2.png" id="myImage" Style="width: 60px; padding-top:15px" alt="" />

                </div>
            </a>

            <br />

            <!-- Nav Item -->
            <li class="nav-item" id="dash">
                <a class="nav-link" style="border:none!important" href="/VariacionInventario/Inventario/Dashboard">
                    <i class="fas fa-fw fa-chart-pie" style="font-size:30px" id="icono"></i>

                </a>
            </li>

            <!-- Nav Item -->
            <li class="nav-item" id="estaciones">
                <a class="nav-link" style="border:none!important" href="/VariacionInventario/Inventario/EstacionesNPD">
                    <i class="fa-solid fa-building-flag" style="font-size:30px" id="icono1"></i>

                </a>
            </li>


            <li class="nav-item active" id="reportes">
                <div class="dropdown dropend">
                    <a class="nav-link" href="#" data-bs-toggle="dropdown" style="border:none!important">
                        <i class="fa-solid fa-file-contract" style="font-size:30px" id="icono2"></i>

                    </a>


                    <ul class="dropdown-menu submenudrop">
                        <li><h5 class="dropdown-header">Submenú</h5></li>
                        <li><a class="dropdown-item" href="/VariacionInventario/Inventario/Index">Variación de Inventarios</a></li>
                    </ul>
                </div>
            </li>
            <!-- Nav Item -->
            <li class="nav-item" id="bitacora">
                <a class="nav-link" style="border:none!important" href="#">
                    <i class="fa-solid fa-table" style="font-size:30px" id="icono3"></i>


                </a>
            </li>
            <!-- Nav Item -->
            <li class="nav-item" id="Herramientas">
                <a class="nav-link" style="border:none!important" href="#">
                    <i class="fa-solid fa-screwdriver-wrench" style="font-size:30px" id="icono4"></i>
                </a>
            </li>
            <!-- Nav Item -->
            <li class="nav-item" id="Configuracion">
                <a class="nav-link" style="border:none!important" href="#">
                    <i class="fa-solid fa-gear" style="font-size:30px" id="icono4"></i>

                </a>
            </li>
            <!-- Nav Item cerrar sesión -->
            <li class="nav-item" id="salir" style="
                background-color: #181342; color:white; margin-top:100%">
                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-right-from-bracket" style="font-size:30px"></i></a>
            </li>








            @*<hr class="sidebar-divider d-none d-md-block">*@
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center">
                

            </div>

        </ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                
                <!-- End of Topbar movil -->
                <div class="container-fluid mt-3">
                    <div class="navbar navbar-expand-lg navbar-light justify-content-md-end">
                        <div class="container-fluid" style="padding:0px!important">
                            <a class="navbar-brand" id="logoMovil"> <img src="~/content/img/logo-movil.png" alt="image" width="100px" class="symbol symbol-30px symbol-md-40px"></a>
                            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                                
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item" id="buscar">
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1" style="border:none; background-color:#EDEEF4"><i class="fa-solid fa-magnifying-glass"></i></span>
                                            <input type="text" class="form-control" placeholder="Buscar" aria-label="Username" aria-describedby="basic-addon1" style="border:none; background-color:#EDEEF4;">
                                        </div>
                                    </li>
                                  


                                </ul>
                                <form class="d-flex" style="justify-content:flex-end!important">
                                   
                                    <div style="padding-right:15px">
                                        <i class="fas fa-bell" style="font-size: 25px;color: black;"></i>
                                        <div class="circulo" style="background-color: red;width: 10px;height: 10px;border-radius: 50%;padding: 2px;z-index: 0;float: right;"></div>
                                    </div>
                                    <div class="dropdown" style="padding-left:5px">
                                        <a href="#" style="border:none!important; align-content:flex-end" data-bs-toggle="dropdown">
                                            <span class=" flex-column align-items-end justify-content-center me-2" style="display:inline-flex; font-size:16px" >
                                                <span class=" fw-bold lh-1 mb-1 "id="buscar">Nombre del usuario</span>
                                                <span class=" fw-bolder lh-1 " style="color:#000"id="buscar">Puesto </span>
                                            </span>

                                            <img src="/content/img/noprofile.png" alt="image" width="40px" class="symbol symbol-30px symbol-md-40px">



                                        </a>
                                        <ul class="dropdown-menu submenudrop dropdown-menu-end">


                                            <a class="dropdown-item" href="#">

                                                Perfil
                                            </a>
                                            <div class="dropdown-divider"></div>

                                            <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                <span class="menu-text">Cerrar Sesión</span>

                                            </a>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                 
                </div>

                <!-- Begin Page Content -->
                <div class="container-fluid" >
                    <br />

                    @RenderBody()
                    <!-- menú movil -->

                </div>
                <br />
                <br />
                <br />
                <br />


            </div>
            <nav id="menum">

                <a class="nav-item itemenumovil" href="/VariacionInventario/Inventario/Dashboard">
                    <i class="fas fa-fw fa-chart-pie" style="font-size:25px"></i>

                    @*<i class="fas fa-fw fa-chart-pie" data-feather="home"></i>*@<span class="span2">Dashboard</span>
                </a>

                <a class="nav-item itemenumovil" href="/VariacionInventario/Inventario/EstacionesNPD">
                    <i class="fa-solid fa-building-flag" style="font-size:25px"></i>

                    @*<i class="fas fa-fw fa-home" data-feather="activity"></i>*@<span class="span2">Estaciones</span>
                </a>

                <a class="nav-item itemenumovil active" href="/VariacionInventario/Inventario/index">
                    <i class="fa-solid fa-file-contract" style="font-size:26px"></i>

                    @*<i class="fas fa-fw fa-file" data-feather="message-square"></i>*@<span class="span2">Inventarios</span>
                </a>
                <a class="nav-item itemenumovil" href="#">
                    <i class="fa-solid fa-table" style="font-size:26px"></i>


                    @*<i class="fas fa-fw fa-file" data-feather="message-square"></i>*@<span class="span2">Bitácora</span>
                </a>

                @*<a class="nav-item" href="#">
                    <i class="fas fa-fw fa-user" data-feather="settings"></i><span>item3</span>
                </a>*@
                <a class="nav-item itemenumovil" href="#">
                    <i class="fa-solid fa-bars" style="font-size:26px"></i>

                    @*<i class="fa fa-bars" data-feather="Ver Más"></i>*@<span class="span2">Más</span>
                </a>
            </nav>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:#05a692">
                            <h5 class="modal-title" id="staticBackdropLabel" style="color:white">Cerrar Sesión</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro que deseas cerrar sesión?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button id="btnCerrarSession" type="button" class="btn btn-primary">Salir</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>


    <!-- End of Page Wrapper -->
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/axios.min.js"></script>
    @*<script src="~/Scripts/jquery-3.4.1.js"></script>*@
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/sb-admin2.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @*<script src="~/Scripts/js/Layout/Layout.js"></script>
    <script type="text/javascript">
        (function () {
            var clsLayoutControllers = new LayoutControllers();
            clsLayoutControllers.Inicializar();
        })();
    </script>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
