﻿
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MEBA - @ViewBag.Title</title>
    @Styles.Render("/Content/css")
    @Scripts.Render("/bundles/modernizr")
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/estilosistema.css" rel="stylesheet" />
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@
    <link href="~/Content/styleM2.css" rel="stylesheet" />
</head>
<body>
    <style>
        nav {
            display: flex;
            justify-content: space-between;
            background-color: #333;
            padding: 12px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        /*#menum {
            background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(65,65,65,1) 100%);
        }*/
        .itemenumovil {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: white;
            padding: 12px 16px;
            border-radius: 50px;
            background-color: rgba(255, 255, 255, 0);
        }

        .nav-item .span2 {
            width: 0;
            overflow: hidden;
        }

        .nav-item.active {
            text-decoration: none;
            color: white !important;
            background-color: rgba(255, 255, 255, 0.2);
            transition: .2s;
        }

            .nav-item.active span {
                width: 100%;
                margin-left: 8px;
                transition: .2s;
            }

        *.active {
            outline: none;
            border: none;
        }

        i {
            font-size: 1.9rem !important;
            color: white
        }
    </style>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion nombre2 toggled" id="accordionSidebar" style="background-color:#eb861c!important">

            <!-- Sidebar logo de la plataforma -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Dashboard.aspx">
                <div class="sidebar-brand-icon">
                    <img src="~/Content/img/icon-blanco.png" id="myImage" Style="width: 100%; height: 100%;padding-top:15px" alt="" />

                </div>
            </a>

            <br />

            <!-- Nav Item -->
            <li class="nav-item" id="dash">
                <a class="nav-link" style="border:none!important" href="/Home/Index">
                    <i class="fas fa-fw fa-chart-pie" style="font-size:35px" id="icono"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <!-- Divider -->
            @*<hr class="sidebar-divider" />*@
            <!-- Nav Item -->
            <li class="nav-item" id="desarrollo">
                <a class="nav-link" style="border:none!important" href="/Home/About">
                    <i class="fas fa-fw fa-home" style="font-size:35px" id="icono1"></i>
                    <span>item1</span>
                </a>
            </li>

            <!-- Nav Item -->
            <li class="nav-item" id="item2-C">
                <a class="nav-link" href="/Home/Contact">
                    <i class="fas fa-fw fa-file" style="font-size:35px" id="icono1"></i>
                    <span>item2</span>
                </a>

            </li>
            <div class="sidebar-heading">
                título del apartado
            </div>
            <li class="nav-item" id="vehiculo">
                <a class="nav-link" style="border: none!important" href="#">
                    <i class="fas fa-fw fa-user" style="font-size:35px" id="icono1"></i>
                    <span>item3</span>
                </a>
            </li>
            <!-- Nav Item -->
            <li class="nav-item" id="donativo">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-cogs" style="font-size:35px" id="icono1"></i>
                    <span>item4</span>
                </a>

            </li>













            @*<hr class="sidebar-divider d-none d-md-block">*@
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button type="button" class="rounded-circle border-0" id="sidebarToggle" onclick="changeImage()"></button>
            </div>

        </ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- Topbar Movil-->
                <nav class="navbar navbar-light topbar mb-4 static-top MenuM shadow-sm" style="padding-bottom:0!important; z-index:1">
                    <div>
                        <div class="row">
                            <div class="col-4"><img src="~/Content/img/icon.png" style="width:120px; padding-left:7px; padding-top:4px" /></div>
                            <div class="col-8 justify-content-end" style="text-align:right">
                                <a class="btn btn-flex align-items-center bg-hover-white bg-hover-opacity-10 py-2 px-2 px-md-3 nav-link dropdown-toggle" href="#" id="userDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">

                                    <div class="d-none d-md-flex flex-column align-items-end justify-content-center me-2 me-md-4">
                                        <span class="opacity-75 fs-8 fw-bold lh-1 mb-1 spantopbar">Nombre Usuario</span>
                                        <span class="fs-8 fw-bolder lh-1 spantopbar">Puesto</span>
                                    </div>

                                    <div class="symbol symbol-30px symbol-md-40px">
                                        <img src="/content/img/noprofile.png" alt="image">
                                    </div>

                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown2">
                                    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-primary fw-bold py-4 fs-6 w-275px show" data-kt-menu="true" style="z-index: 105; position: fixed; inset: 0px 0px auto auto; margin: 0px; transform: translate(-15px, 54px);" data-popper-placement="bottom-end">

                                        <div class="menu-item px-3">
                                            <div class="menu-content d-flex align-items-center px-3">

                                                <div class="symbol symbol-50px me-5">
                                                    <img alt="Logo" src="/content/img/noprofile.png">
                                                </div>

                                                <div class="d-flex flex-column">
                                                    <div class="fw-bolderalign-items-center">
                                                        Nombre de usuario

                                                        <a href="#" class="fw-bold text-muted text-hover-primary">correo@correo.com</a>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="separator my-2"></div>

                                            <div class="menu-item">
                                                <a href="/Cuenta/perfil.aspx" class="menu-link">Perfil</a>
                                            </div>

                                            <div class="separator my-2"></div>

                                            <div class="menu-item">
                                                <a href="#" class="menu-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                    <span class="menu-text">Cerrar Sesión</span>

                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>




                </nav>
                <!-- End of Topbar movil -->
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow justify-content-end MenuS">


                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" type="button" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="row">

                    </div>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav  justify-content-end">




                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="btn btn-flex align-items-center bg-hover-white bg-hover-opacity-10 py-2 px-2 px-md-3 nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">

                                <div class="d-none d-md-flex flex-column align-items-end justify-content-center me-2 me-md-4">
                                    <span class="opacity-75 fs-8 fw-bold lh-1 mb-1 spantopbar">Nombre Usuario</span>
                                    <span class="fs-8 fw-bolder lh-1 spantopbar">Puesto</span>
                                </div>

                                <div class="symbol symbol-30px symbol-md-40px">
                                    <img src="/content/img/noprofile.png" alt="image">
                                </div>

                            </a>

                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-primary fw-bold py-4 fs-6 w-275px show" data-kt-menu="true" style="z-index: 105; position: fixed; inset: 0px 0px auto auto; margin: 0px; transform: translate(-15px, 54px);" data-popper-placement="bottom-end">

                                    <div class="menu-item px-3">
                                        <div class="menu-content d-flex align-items-center px-3">

                                            <div class="symbol symbol-50px me-5">
                                                <img alt="Logo" src="/content/img/noprofile.png">
                                            </div>

                                            <div class="d-flex flex-column">
                                                <div class="fw-bolderalign-items-center">
                                                    Nombre de usuario

                                                    <a href="#" class="fw-bold text-muted text-hover-primary">correo@correo.com</a>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="separator my-2"></div>

                                        <div class="menu-item">
                                            <a href="/Cuenta/perfil.aspx" class="menu-link">Perfil</a>
                                        </div>

                                        <div class="separator my-2"></div>

                                        <div class="menu-item">
                                            <a href="#" class="menu-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                <span class="menu-text">Cerrar Sesión</span>

                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid" id="contentMovil">
                    <div class="jumbotron">
                        <h1>ASP.NET</h1>
                        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
                        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h2>Getting started</h2>
                            <p>
                                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                                enables a clean separation of concerns and gives you full control over markup
                                for enjoyable, agile development.
                            </p>
                            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                        </div>
                        <div class="col-md-4">
                            <h2>Get more libraries</h2>
                            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                        </div>
                        <div class="col-md-4">
                            <h2>Web Hosting</h2>
                            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <nav id="menum">
                <a class="nav-item itemenumovil" href="/Loyout/Index">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-pie-chart" viewBox="0 0 16 16">
                        <path d="M15.985 8.5H8.207l-5.5 5.5a8 8 0 0 0 13.277-5.5zM2 13.292A8 8 0 0 1 7.5.015v7.778l-5.5 5.5zM8.5.015V7.5h7.485A8.001 8.001 0 0 0 8.5.015z" id="Active" style="display:none" />
                        <path d="M7.5 1.018a7 7 0 0 0-4.79 11.566L7.5 7.793V1.018zm1 0V7.5h6.482A7.001 7.001 0 0 0 8.5 1.018zM14.982 8.5H8.207l-4.79 4.79A7 7 0 0 0 14.982 8.5zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" id="noActive" display="block" />
                    </svg>
                    @*<i class="fas fa-fw fa-chart-pie" data-feather="home"></i>*@<span class="span2">Dashboard</span>
                </a>

                <a class="nav-item itemenumovil" href="/Loyout/about">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                        <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" id="Active2" style="display:none" />

                        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" id="noActive2" display="block" />
                    </svg>
                    @*<i class="fas fa-fw fa-home" data-feather="activity"></i>*@<span class="span2">item1</span>
                </a>

                <a class="nav-item itemenumovil active" href="/Loyout/item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-file-bar-graph" viewBox="0 0 16 16">
                        <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-2 11.5v-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-2.5.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm-3 0a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1z" id="Active3" style="display:none" />
                        <path d="M4.5 12a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1zm3 0a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm3 0a.5.5 0 0 1-.5-.5v-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-1z" id="noActive3" style="display:block" />
                        <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" id="noActive3-1" style="display:block" />
                    </svg>
                    @*<i class="fas fa-fw fa-file" data-feather="message-square"></i>*@<span class="span2">item2</span>
                </a>

                @*<a class="nav-item" href="#">
                        <i class="fas fa-fw fa-user" data-feather="settings"></i><span>item3</span>
                    </a>*@
                <a class="nav-item itemenumovil" href="/Loyout/menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" id="noActive5" />
                    </svg>
                    @*<i class="fa fa-bars" data-feather="Ver Más"></i>*@<span class="span2">Más</span>
                </a>
            </nav>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Cerrar Sesión</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro que deseas cerrar sesión?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary">Salir</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white-Footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto" style="color: white">
                        <script type="text/javascript">

                            copyright = new Date();

                            update = copyright.getFullYear();

                            document.write("© Copyright " + update + " " + "MEBA. All Rights Reserved");

                        </script>
                    </div>
                </div>
            </footer>

            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
        <script>
            feather.replace();

            document.querySelector(".nav-item").focus();
        </script>
    </div>

    <!-- End of Page Wrapper -->
    <script src="/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="/Scripts/jquery.min.js"></script>
    <script src="/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/bootstrap.bundle.min.js"></script>
    <script src="/Scripts/sb-admin2.js"></script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>

