﻿@{
    ViewBag.Title = "Cotizacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/TemaMeba.css" rel="stylesheet" />
<link href="~/Content/select2.css" rel="stylesheet" />
<link href="~/Content/tablas.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert2.all.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<style>
    body {
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
    }

    /*.select2-selection select2-selection--multiple{
        max-height:200px!important
    }*/
    .bg-estaciones {
        background-color: #e4e4e4;
        border: 1px solid #e4e6ef;
        border-radius: 4px;
        padding: 0 5px;
        font-size: 13px !important
    }

    .select2-selection__rendered {
        height: 100%;
        overflow-y: scroll;
        /*scroll-behavior: smooth;*/
        display: flex;
    }

    .select2-dropdown select2-dropdown--above {
        width: 100% !important
    }


    .select2-results__option {
        padding-right: 20px;
        vertical-align: middle;
    }

        .select2-results__option:before {
            content: "";
            display: inline-block;
            position: relative;
            height: 20px;
            width: 20px;
            border: 2px solid #e9e9e9;
            border-radius: 4px;
            background-color: #fff;
            margin-right: 20px;
            vertical-align: middle;
        }

        .select2-results__option[aria-selected=true]:before {
            font-family: fontAwesome;
            content: "\f00c";
            color: #fff;
            background-color: #f77750;
            border: 0;
            display: inline-block;
            padding-left: 3px;
        }

    .select2-container--default .select2-results__option[aria-selected=true] {
        background-color: #fff;
    }

    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: #eaeaeb;
        color: #272727;
    }

    .select2-container--default .select2-selection--multiple {
        margin-bottom: 10px;
    }

    .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
        border-radius: 4px;
    }

    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border-color: #f77750;
        border-width: 2px;
    }

    .select2-container--default .select2-selection--multiple {
        border-width: 2px;
    }

    .select2-container--open .select2-dropdown--below {
        border-radius: 6px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .select2-selection .select2-selection--multiple:after {
        content: 'hhghgh';
    }

    /* select with icons badges single*/
    .select-icon .select2-selection__placeholder .badge {
        display: none;
    }

    .select-icon .placeholder {
        display: none;
    }

    .select-icon .select2-results__option:before,
    .select-icon .select2-results__option[aria-selected=true]:before {
        display: none !important;
        /* content: "" !important; */
    }

    .select-icon .select2-search--dropdown {
        display: none;
    }

    .select2-container--open .select2-dropdown {
        z-index: 1070;
    }

    .table td:last-child {
        text-align: center !important;
    }

    .table td {
        text-align: center !important;
    }

    .coll {
        background-color: #f1f1f1 !important;
        border-radius: 0px !important;
        min-height: 48px !important;
        display: initial !important
    }

    .form-check:not(.form-switch) .form-check-input[type=checkbox] {
        background-size: 50% 50% !important;
        background-size: 27px !important;
    }

    .menu {
        background-color: #05a69214;
        padding: 8px;
    }

    .form-check-input {
        background-color: #cdcfd1;
        border: none;
    }

    #conSelects {
        width: 100%;
        justify-content: space-between;
        display: inline-table;
    }

    .select2 {
        width: 100%;
    }

    #cmbGrupo {
        width: 100%;
    }

    #cmbProducto {
        width: 100% !important;
    }

    .select2-container {
        max-height: 100%;
    }

    .modal {
        z-index: 9999999;
    }

        .modal.show {
            display: block !important;
        }

        .modal .modal-dialog {
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            transform: translate(0, 0);
        }
</style>

<!-- Modal agregar/editar -->
<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top  modal-xl" id="modwith2" data-backdrop="static" data-keyboard="false">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title" id="titleUsuario"></h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row mb-2">
                    <!--fecha de nacimiento-->
                    <input type="text" id="txtAccion" style="display: none;">
                    <input type="text" id="txtIdCotizacion" style="display: none;">
                    <span id="spanSec" class="form-check">SECCION EMPRESA</span>
                    <div class="container" id="seccionDatoEmpresa" style="display:block;">
                        <div class="row">
                            <div class="col-lg-4 fv-row fv-plugins-icon-container" id="">
                                <label class="col-form-label required fw-bold fs-6">FOLIO</label>
                                <input type="text" class="form-control form-control-lg" runat="server" id="txtFOLIO">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="col-lg-4 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">ATENCION</label>
                                <input type="text" class="form-control form-control-lg" runat="server" id="txtATENCION">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="col-lg-4 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">TRAMO</label>
                                <input type="text" class="form-control form-control-lg" runat="server" id="txtTRAMO">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">Nombre</label><button id="btnBuscarCliente" class="btn btn-dark">
                                    Buscar Cliente
                                </button>
                                <input type="text" class="form-control form-control-lg" runat="server" id="txtNombre">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="col-lg-4 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">RFC</label>
                                <input type="text" class="form-control form-control-lg" runat="server" id="txtRFC">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="col-lg-4 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">DIRECCIÓN</label>
                                <input type="text" class="form-control form-control-lg" runat="server"
                                       id="txtDIRECCIÓN">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">NUM INT.</label>
                                <input type="text" class="form-control form-control-lg" runat="server" id="txtNUM">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="col-lg-4 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">CP</label>
                                <input type="text" class="form-control form-control-lg" runat="server" id="txtCP">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="col-lg-4 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">CIUDAD</label>
                                <input type="text" class="form-control form-control-lg" runat="server" id="txtCIUDAD">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">ESTADO</label>
                                <input type="text" class="form-control form-control-lg" runat="server" id="txtESTADO">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>

                            <div class="col-lg-4 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">PAIS</label>
                                <input type="text" class="form-control form-control-lg" runat="server" id="txtPAIS">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>

                            <div class="col-lg-4 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-6">FECHA</label>
                                <input type="date" class="form-control form-control-lg" runat="server" id="dtFecha">
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>

                    </div>

                    <br />
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="card-header pt-5" style="padding-top: 0.25rem !important;">

                                    <div class="card-title">
                                        <h2 class="d-flex align-items-center">
                                            Productos
                                        </h2>
                                    </div>
                                    <div class="card-toolbar">

                                        <div class="d-flex align-items-center position-relative my-1">
                                            <button type="button" class="btn btn-dark" id="btnAgregarProducto">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                     fill="currentColor" class="bi bi-person-plus-fill"
                                                     viewBox="0 0 16 16">
                                                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                                    <path fill-rule="evenodd"
                                                          d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                                                </svg>

                                                Agregar Producto
                                            </button>

                                        </div>
                                    </div>


                                </div>
                                <div class="card-body">
                                    <div class="table-responsive" style="border:none">
                                        <table id="tblProductoCot" class="table table-hover" style="width:100%"></table>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
                    <button type="button" class="btn btn-secondary" id="btnCancelar">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
</div>



<!-- Modal agregar/editar -->
<div class="modal fade" id="myModalProd">
    <div class="modal-dialog modal-dialog-top  modal-lg" id="modwith2">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title" id="titleUsuario">Agregar Producto</h2>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row mb-2">
                    <!--fecha de nacimiento-->
                    <input type="text" id="txtIdCotizacionAdd" style="display: none;">
                    <div class="row" id="seccionDatoEmpresa" style="display:block;">
                        <div class="col-lg-12 fv-row fv-plugins-icon-container">
                            <label class="col-form-label required fw-bold fs-6">PRODUCTO</label>
                            <select class="form-control" id="cmbProducto" style="width: 100% !important;"></select>
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>
                        <div class="col-lg-4 fv-row fv-plugins-icon-container">
                            <label class="col-form-label required fw-bold fs-6">MEDIDA</label>
                            <select type="text" class="form-control form-control-lg" runat="server" id="cmbMedida"
                                    style="width: 100% !important;">
                                <option value="">Seleccione medida</option>
                                <option value="61 X 61">61 X 61</option>
                                <option value="71 X 71">71 X 71</option>
                                <option value="86 X 86">86 X 86</option>
                                <option value="117 X 117">117 X 117</option>
                                <option value="30 X 147">30 X 147</option>
                                <option value="30 X 178">30 X 178</option>
                                <option value="40 X 239">40 X 239</option>
                                <option value="56 X 239">56 X 239</option>
                                <option value="56 X 300">56 X 300</option>
                                <option value="61 X 244">61 X 244</option>
                                <option value="61 X 305">61 X 305</option>
                                <option value="76 X 244">76 X 244</option>
                                <option value="76 X 305">76 X 305</option>
                                <option value="76 X 366">76 X 366</option>
                                <option value="76 X 488">76 X 488</option>
                                <option value="122 X 488">122 X 488</option>
                                <option value="122 X 549">122 X 549</option>
                                <option value="152 X 488">152 X 488</option>
                                <option value="152 X 549">152 X 549</option>
                                <option value="244 X 488">244 X 488</option>
                                <option value="30 X 147">30 X 147</option>
                                <option value="30 X 178">30 X 178</option>
                                <option value="40 X 147">40 X 147</option>
                                <option value="40 X 178">40 X 178</option>
                                <option value="56 X 147">56 X 147</option>
                                <option value="56 X 178">56 X 178</option>
                                <option value="56 X 239">56 X 239</option>
                                <option value="56 X 300">56 X 300</option>
                                <option value="71 X 178">71 X 178</option>
                                <option value="71 X 239">71 X 239</option>
                                <option value="86 X 178">86 X 178</option>
                                <option value="86 X 239">86 X 239</option>
                                <option value="86 X 300">86 X 300</option>
                            </select>
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>

                        <div class="col-lg-4 fv-row fv-plugins-icon-container">
                            <label class="col-form-label required fw-bold fs-6">Reflejante</label>
                            <select type="text" class="form-control form-control-lg" runat="server" id="cmbReflejante"
                                    style="width: 100% !important;">
                                <option value="">Seleccione Reflejante</option>
                                <option value="GRADO INGENIERIA">GRADO INGENIERIA</option>
                                <option value="GRADO INGENIERIA PRISMATICO">GRADO INGENIERIA PRISMATICO</option>
                                <option value="ALTA INTENSIDAD PRISMATICO">ALTA INTENSIDAD PRISMATICO</option>
                                <option value="REFLEJANTE GRADO DIAMANTE">REFLEJANTE GRADO DIAMANTE</option>
                            </select>
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>
                        <div class="col-lg-4 fv-row fv-plugins-icon-container">
                            <label class="col-form-label required fw-bold fs-6">CANTIDAD</label>
                            <input type="text" class="form-control form-control-lg" runat="server" id="txtCANTIDAD">
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>
                        <div class="col-lg-4 fv-row fv-plugins-icon-container">
                            <label class="col-form-label required fw-bold fs-6">PRECIO</label>
                            <input type="text" class="form-control form-control-lg" runat="server" id="txtPRECIO">
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>

                    </div>



                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnGuardarProd">Guardar</button>
                    <button type="button" class="btn btn-secondary" id="btnCancelarProd">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header pt-5" style="padding-top: 0.25rem !important;">

                <div class="card-title">
                    <h2 class="d-flex align-items-center">
                        Cotización
                    </h2>
                    <button type="button" class="btn btn-dark" id="btnBuscar" style="display: none;">
                        Buscar
                    </button>
                </div>
                <div class="card-toolbar">

                    <div class="d-flex align-items-center position-relative my-1">
                        <button type="button" class="btn btn-dark" id="btnAgregar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                <path fill-rule="evenodd"
                                      d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                            </svg>

                            Agregar Cotización
                        </button>

                    </div>
                </div>


            </div>
            <div class="card-body">
                <div class="table-responsive" style="border:none">
                    <table id="tblCotizacion" class="table table-hover" style="width:100%"></table>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- Modal eliminar -->
<div class="modal fade" id="mdlEliminarCot">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body text-center">
                <img src="/Content/img/exclamacion-error.png" style="width:100px" /><br /><br />
                <h3><label id="txtBorrarCot" for=""></label> </h3>
                <br />
                <div class="row">
                    <input type="text" id="txtIdUsuarioEliminarCot" style="display: none;">
                    <div class="col-lg-12" style="justify-content:center">
                        <button type="button" class="btn btn-secondary" id="btnCancelarCot">Cancelar</button>
                        <button type="button" class="btn btn-danger" id="btnEliminarCot">Eliminar</button>
                    </div>
                </div>
                <br />
            </div>

            <!-- Modal footer -->


        </div>
    </div>
</div>


<!-- Modal eliminar -->
<div class="modal fade" id="mdlEliminarProd">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body text-center">
                <img src="/Content/img/exclamacion-error.png" style="width:100px" /><br /><br />
                <h3><label id="txtBorrarProd" for=""></label> </h3>
                <br />
                <div class="row">
                    <input type="text" name="" id="inpEstatus" style="display:none;">
                    <input type="text" id="txtIdUsuarioEliminarProd" style="display: none;">
                    <div class="col-lg-12" style="justify-content:center">
                        <button type="button" class="btn btn-secondary" id="btnCancelarEliProd">Cancelar</button>
                        <button type="button" class="btn btn-danger" id="btnEliminarProd">Eliminar</button>
                    </div>
                </div>
                <br />
            </div>

            <!-- Modal footer -->


        </div>
    </div>
</div>


<!-- Modal eliminar -->
<div class="modal fade" id="mdlObtenerCliente" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body text-center">
                    <h3><label id="" for="">Seleccione Cliente</label> </h3>
                    <br />
                    <div class="row">
                        <table id="tablaCliente" class="table table-hover" style="width:100%"></table>


                        <div class="col-lg-12" style="justify-content:left">
                            <button type="button" class="btn btn-dark" id="btnObtenerCliente">Cancelar</button>
                        </div>
                    </div>
                    <br />
                </div>

                <!-- Modal footer -->


            </div>
        </div>
    </div>

    <div class="modal fade" id="mdlCorreo">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body text-center">
                    <h3><label id="" for="">Envio de correo</label> </h3>
                    <h5><label id="" for="">Si desea enviar a mas correos separe por (,) coma</label> </h5>
                    <br />
                    <div class="row">

                        <input type="text" id="txtIdCoCorreo" style="display: none;">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 fv-row fv-plugins-icon-container">
                                    <label class="col-form-label required fw-bold fs-6">Destinatario</label>
                                    <input type="text" class="form-control" id="txtdestinatario" style="width: 100% !important;" />
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                </div>
                                <div class="col-lg-12 fv-row fv-plugins-icon-container">
                                    <label class="col-form-label required fw-bold fs-6">Destinatario Adjunto</label>
                                    <input type="text" class="form-control" id="txtdestinatarioAdjunto" style="width: 100% !important;" />
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <br />

                    </div>
                    <br />
                    <br />
                    <div class="col-lg-12" style="justify-content:left">
                        <button type="button" class="btn btn-success" id="btnEnviarCorreo">Enviar Correo</button>
                        <button type="button" class="btn btn-dark" id="btnCancelarCorreo">Cancelar</button>
                    </div>
                    <br />
                </div>

                <!-- Modal footer -->


            </div>
        </div>
    </div>






    <script src="~/Scripts/moment.js"></script>
    @*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/datatables/datatables.js"></script>
    <script src="~/Scripts/js/Reportes/CotizacionControllers.js?v=1.0.0"></script>



    <script type='text/javascript'>

        (function () {
            var clsReportesCrysControllers = new ReportesCrysControllers();
            clsReportesCrysControllers.Inicializar();
        })();
    </script>
