﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>



<script>
    window.onload = function active() {
        var act = document.getElementById("reportes");
        if (act.className.match("nav-item")) {
            act.className = "nav-item active2";
        } else {
            act.remove.className("active2");
        }
        var act5 = document.getElementById("item3-M");
        var iconAct5 = document.getElementById("Active3");
        var iconnoAct5 = document.getElementById("noActive3");

        var borde5 = document.getElementById("item3")
        if (act5.className.match("svg")) {
            act5.className = "svg active";
            borde5.className = "borde1";



        } else {
            act5.remove.className("active");
            borde5.className = "nada";


        }



    }
</script>
<style>
    .sidebar .nav-item.active2 {
        background-color: #fff !important;
        border-radius: 20px 0px 0px 20px;
    }

    .sidebar-dark .nav-item.active2 .nav-link svg {
        color: #05a692;
    }

    .sidebar .nav-item.active2 .nav-link {
        font-weight: 700;
    }

    .sidebar-dark .nav-item.active2 .nav-link {
        color: #181c32;
    }

    .table th {
        text-align: center !important;
    }

    .numerico {
        text-align: right !important;
    }

    .datepicker {
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .datepicker-dropdown {
        top: 0;
        left: 0;
    }

    .datepicker table tr td.today, span.focused {
        border-radius: 50% !important;
    }

    thead tr:nth-child(2) {
        background-color: #05a692 !important;
    }

    thead tr:nth-child(3) th {
        color: #05a692 !important;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .dow, .old-day, .day, .new-day {
        width: 40px !important;
        height: 40px !important;
        border-radius: 0px !important;
    }

        .old-day:hover, .day:hover, .new-day:hover, .month:hover, .year:hover, .decade:hover, .century:hover {
            border-radius: 50% !important;
            background-color: #eee;
        }

    .active {
        border-radius: 50% !important;
        background-image: linear-gradient(#05a692, #05a692) !important;
        color: #fff !important;
    }

    .prev, .next2, .datepicker-switch {
        border-radius: 0 !important;
        padding: 20px 10px !important;
        text-transform: uppercase;
        font-size: 15px;
        color: #fff;
        opacity: 0.8;
    }

        .prev:hover, .next2:hover, .datepicker-switch:hover {
            background-color: inherit !important;
            opacity: 1;
        }
</style>
<link href="~/Content/tablas.css" rel="stylesheet" />
<br />
<br />
<link href="~/Content/select2.css" rel="stylesheet" />

<div class="container-fluid">


    <div class="row" style="justify-content:center">

        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="card nocard" style="border-left:none" id="estatus1">
                <div class="card-header pt-5" style="padding-top: 0.25rem !important;">

                    <div class="card-title">
                        <h2 class="d-flex align-items-center">
                            Análisis de Inventarios

                        </h2>
                    </div>



                </div>
                <div class="card-body">
                    <br />

                    <div class="row" style="justify-content:center">
                        <div class="col-lg-10 col-md-12 col-sm-12">
                            <h2 class="d-flex align-items-center">
                                Ingresa los siguientes datos

                            </h2>
                            <br />

                            <div class="row mb-3">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="Zonas"><b>Zonas</b></label>
                                        <select class="input form-control form-control-lg form-select" id="cboZonas" style="height:45px; width:100%"></select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="Estaciones"><b>Estaciones</b></label>
                                        <!-- <select class="input form-control form-control-lg form-select js-example-basic-multiple" name="states[]" multiple="multiple" id="cboEstaciones" style="height:45px"></select> -->
                                        <select class="input form-control form-control-lg form-select" id="cboEstaciones" style="height:45px; width:100%"></select>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="FechaInicio"><b>Fecha Inicio</b></label>
                                        <input type="text" id="dtFechaInicio" class="datepicker input form-control form-control-lg" placeholder="dd/mm/yyyy" name="date">
                                        @*<input type="text" id="dtFechaInicio" class="datepicker input form-control form-control-lg" placeholder="dd/mm/yyyy" name="date">*@
                                        @*<input type="date" class=" input form-control form-control-lg" id="dtFechaInicio" />*@
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="FechaFin"><b>Fecha Fin</b></label>
                                        <input type="text" id="dtFechaFin" class="datepicker input form-control form-control-lg" placeholder="dd/mm/yyyy" name="date">
                                        @*<input type="text" id="dtFechaFin" class="datepicker input form-control form-control-lg" placeholder="dd/mm/yyyy" name="date">*@
                                        @*<input type="date" class=" input form-control form-control-lg" id="dtFechaFin" />*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-footer">
                    <div class="row" style="justify-content:center">
                        <div class="col-lg-5 col-sm-12 col-md-6">
                            <button type="button" class="btn btn-primary" style="width:100%; margin-top:5px" id="btnReporte">Generar Reporte</button>
                        </div>

                        <div class="col-lg-5 col-sm-12 col-md-6">
                            <button type="button" class="btn btn-primary" style="width:100%; margin-top:5px" id="btnExcel">Generar Excel</button>
                        </div>
                    </div>
                    <br />

                </div>
            </div>
        </div>

    </div>
</div>
<br />
<br />


<div class="container">

</div>


<div class="row" style="justify-content:flex-end;display:none;">
    <div class="col-lg-2">

        <button type="button" class="btn btn-primary" style="width:100%;display:none;  margin-top:10px;margin-bottom:10px;background-color: #237547!important; border-color: #237547!important;"><i class="fa-solid fa-file-excel" style="font-size:20px"></i> Exportar Excel</button>
    </div>
</div>

<div class="table-responsive" style="border:none;display:none;" id="tablaReportes">
    <table id="tblreportes" class="table table-hover" style="width:100%;display:none;"></table>
</div>
<br />
<br />
<br />
<br />
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<script>
    const start = Date.now();
    jQuery(document).ready(function ($) {

        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',

            todayHighlight: true,
            toggleActive: true,
            autoclose: true
        });

    });



</script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>

<script src="~/Scripts/sweetalert2.all.min.js"></script>


<script src="~/Scripts/moment.js"></script>
@*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
<script src="~/Scripts/axios.js"></script>
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/datatables/datatables.js"></script>
<script src="~/Scripts/js/Reportes/ReportesControllers.js"></script>


<script type='text/javascript'>

    (function () {
        var clsReportesControllers = new ReportesControllers();
        clsReportesControllers.Inicializar();
    })();
</script>
