﻿
@{
    ViewBag.Title = "MenuHijo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<style>
    .card-imp {
        background-color: #000;
        border-radius: .75rem
    }

        .card-imp:hover {
            background-color: #ffe784;
            border-radius: .75rem;
        }
        .card-imp:hover svg {
            color: #000 !important;
        }
            .card-imp:hover p {
                color: #000 !important;
            }

        .card-imp p {
            color: #ffe784
        }

        .card-imp svg {
            color: #ffe784 !important
        }

    a p {
        color: #565555
    }
</style>
<div class="container-fluid">
    <div class="row">
        <h2 class="mb-5">
            Menú - Opciones

        </h2><br />
        <div class="card">


            <div class="card-body">
                

                    <div class="row" id="MenuHijo"></div>


                
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/axios.js"></script>
<script src="~/Scripts/axios.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.easing.min.js"></script>
<script src="~/Scripts/sb-admin2.js"></script>
@*<script src="~/Scripts/bootstrap.bundle.min.js"></script>*@

<script src="~/Scripts/js/Layout/MenuHijoControllers.js"></script>
<script type="text/javascript">
    (function () {
        var clsMenuHijoControllers = new MenuHijoControllers(@ViewBag.idPadre);
        clsMenuHijoControllers.Inicializar();
    })();
</script>

