﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/select2.css" rel="stylesheet" />
<link href="~/Content/tablas.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert2.all.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<style>
    body {
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
    }

    /*.select2-selection select2-selection--multiple{
        max-height:200px!important
    }*/
    .bg-estaciones {
        background-color: #e4e4e4;
        border: 1px solid #e4e6ef;
        border-radius: 4px;
        padding: 0 5px;
        font-size: 13px !important
    }

    .select2-selection__rendered {
        height: 100%;
        overflow-y: scroll;
        /*scroll-behavior: smooth;*/
        display: flex;
    }

    .select2-dropdown select2-dropdown--above {
        width: 100% !important
    }


    .select2-results__option {
        padding-right: 20px;
        vertical-align: middle;
    }

    .select2-results__option:before {
        content: "";
        display: inline-block;
        position: relative;
        height: 20px;
        width: 20px;
        border: 2px solid #e9e9e9;
        border-radius: 4px;
        background-color: #fff;
        margin-right: 20px;
        vertical-align: middle;
    }

    .select2-results__option[aria-selected=true]:before {
        font-family: fontAwesome;
        content: "\f00c";
        color: #fff;
        background-color: #f77750;
        border: 0;
        display: inline-block;
        padding-left: 3px;
    }

    .select2-container--default .select2-results__option[aria-selected=true] {
        background-color: #fff;
    }

    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: #eaeaeb;
        color: #272727;
    }

    .select2-container--default .select2-selection--multiple {
        margin-bottom: 10px;
    }

    .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
        border-radius: 4px;
    }

    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border-color: #f77750;
        border-width: 2px;
    }

    .select2-container--default .select2-selection--multiple {
        border-width: 2px;
    }

    .select2-container--open .select2-dropdown--below {
        border-radius: 6px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .select2-selection .select2-selection--multiple:after {
        content: 'hhghgh';
    }

    /* select with icons badges single*/
    .select-icon .select2-selection__placeholder .badge {
        display: none;
    }

    .select-icon .placeholder {
        display: none;
    }

    .select-icon .select2-results__option:before,
    .select-icon .select2-results__option[aria-selected=true]:before {
        display: none !important;
        /* content: "" !important; */
    }

    .select-icon .select2-search--dropdown {
        display: none;
    }

    .select2-container--open .select2-dropdown {
        z-index: 1070;
    }

    .table td:last-child {
        text-align: center !important;
    }

    .table td {
        text-align: center !important;
    }

    .coll {
        background-color: #f1f1f1 !important;
        border-radius: 0px !important;
        min-height: 48px !important;
        display: initial !important
    }

    .form-check:not(.form-switch) .form-check-input[type=checkbox] {
        background-size: 50% 50% !important;
        background-size: 27px !important;
    }

    .menu {
        background-color: #05a69214;
        padding: 8px;
    }

    .form-check-input {
        background-color: #cdcfd1;
        border: none;
    }

    #conSelects {
        width: 100%;
        justify-content: space-between;
        display: inline-table;
    }

    .select2 {
        width: 100%;
    }

    #cmbGrupo {
        width: 100%;
    }

    #cmbRol {
        width: 100%;
    }

    .select2-container {
        max-height: 100%;
    }
</style>

<!-- Modal eliminar -->
<div class="modal fade" id="mdlEliminar">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body text-center">
                <img src="/Content/img/exclamacion-error.png" style="width:100px" /><br /><br />
                <h3><label id="txtBorrar" for=""></label> </h3>
                <br />
                <div class="row">
                    <input type="text" name="" id="inpEstatus" style="display:none;">
                    <input type="text" id="txtIdUsuarioEliminar" style="display: none;">
                    <div class="col-lg-12" style="justify-content:center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" id="btnEliminar">Eliminar</button>
                    </div>
                </div>
                <br />
            </div>

            <!-- Modal footer -->


        </div>
    </div>
</div>
<!-- Modal agregar/editar -->
<div class="modal fade" id="mdlAgregarEditar">
    <div class="modal-dialog modal-dialog-centered  modal-lg" id="modwith2">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title" id="titleProducto"></h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row mb-2">
                    <!--fecha de nacimiento-->
                    <input type="text" id="txtAccion" style="display: none;">
                    <input type="text" id="txtIdProducto" style="display: none;">
                    <div class="col-lg-12 fv-row fv-plugins-icon-container">
                        <label class="col-form-label required fw-bold fs-6">Codigo</label>
                        <textarea type="text" class="form-control form-control-lg" runat="server"
                                  id="txtCodigo"></textarea>
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                    <div class="col-lg-12 fv-row fv-plugins-icon-container">
                        <label class="col-form-label required fw-bold fs-6">Nombre Del Producto</label>
                        <textarea type="text" class="form-control form-control-lg" runat="server"
                                  id="txtCodigoNombreDelProducto"></textarea>
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>

                    <div class="col-lg-12 fv-row fv-plugins-icon-container">
                        <label class="col-form-label required fw-bold fs-6">Descripcion</label>
                        <textarea type="text" class="form-control form-control-lg" runat="server"
                                  id="txtDescripcion"></textarea>
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>

                    <div class="col-lg-4 fv-row fv-plugins-icon-container">
                        <label class="col-form-label required fw-bold fs-6">Unidad</label>
                        <select class="form-control form-control-lg" runat="server" id="cbUnidad">
                            <option value="">Seleccione Unidad</option>
                            <option value="PZAS.">PZAS.</option>
                            <option value="ML">ML</option>
                            <option value="TAMBO">TAMBO</option>
                            <option value="KG">KG</option>
                            <option value="LOTE">LOTE</option>
                            <option value="ROLLO">ROLLO</option>
                        </select>
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                    <div class="col-lg-4 fv-row fv-plugins-icon-container">
                        <label class="col-form-label required fw-bold fs-6">Precio</label>
                        <input type="number" class="form-control form-control-lg" runat="server" id="txtPrecio">
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                    <div class="col-lg-4 fv-row fv-plugins-icon-container">
                        <label class="col-form-label required fw-bold fs-6">Imagen</label>
                        <input type="file" class="form-control form-control-lg" runat="server" id="txtimg">
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                </div>
                <div class="row mb-2">
                    <!--fecha de nacimiento-->



                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
                <button type="button" class="btn btn-secondary" id="btnCancelar">Cancelar</button>
            </div>

        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header pt-5" style="padding-top: 0.25rem !important;">

                <div class="card-title">
                    <h2 class="d-flex align-items-center">
                        Productos
                    </h2>
                    <button type="button" class="btn btn-dark" id="btnBuscar" style="display: none;">
                        Buscar
                    </button>
                </div>
                <div class="card-toolbar">

                    <div class="d-flex align-items-center position-relative my-1">
                        <button type="button" class="btn btn-dark" id="btnAgregar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                <path fill-rule="evenodd"
                                      d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                            </svg>

                            Agregar Productos
                        </button>

                    </div>
                </div>
                <input class="form-control form-control-lg" type="text" name="buscador" value="" id="txtBuscador" />
                <button class="btn btn-dark" id="btnBuscador">Buscador</button>

            </div>
            <div class="card-body">
                <div class="table-responsive" style="border:none">
                    <table id="tblProductos" class="table table-hover" style="width:100%"></table>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                        </div>
                        <div class="col-4">
                            <button class="btn btn-primary" id="btnAtras"><<</button>
                            <button class="btn btn-primary" id="btnNum">1</button>
                            <button class="btn btn-primary" id="btnAdelante">>></button>
                        </div>
                        <div class="col-4">
                        </div>
                    </div>
                </div>

            </div>
        

        </div>
    </div>

</div>


<script src="~/Scripts/moment.js"></script>
@*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
<script src="~/Scripts/axios.js"></script>
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/datatables/datatables.js"></script>
<script src="~/Scripts/js/Productos/ProductosControllers.js"></script>



<script type='text/javascript'>

    (function () {
        var clsProductosControllers = new ProductosControllers();
        clsProductosControllers.Inicializar();
    })();
</script>