﻿
@{
    ViewBag.Title = "AsignarCapturadoAEstaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
    }
    /*.select2-selection select2-selection--multiple{
        max-height:200px!important
    }*/
    .bg-estaciones {
        background-color: #e4e4e4;
        border: 1px solid #e4e6ef;
        border-radius: 4px;
        padding: 0 5px;
        font-size: 13px !important
    }

    .select2-selection__rendered {
        height: 100px;
        overflow-y: scroll;
        /*scroll-behavior: smooth;*/
        display: flex;
    }

    .select2-dropdown select2-dropdown--above {
        width: 200px !important
    }

    /*.select2-container {
        max-height: 400px;
    }*/
    .select2-results__option {
        padding-right: 20px;
        vertical-align: middle;
    }

        .select2-results__option:before {
            content: "";
            display: inline-block;
            position: relative;
            height: 20px;
            width: 20px;
            border: 2px solid #e9e9e9;
            border-radius: 4px;
            background-color: #fff;
            margin-right: 20px;
            vertical-align: middle;
        }

        .select2-results__option[aria-selected=true]:before {
            font-family: fontAwesome;
            content: "\f00c";
            color: #fff;
            background-color: #f77750;
            border: 0;
            display: inline-block;
            padding-left: 3px;
        }

    .select2-container--default .select2-results__option[aria-selected=true] {
        background-color: #fff;
    }

    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: #eaeaeb;
        color: #272727;
    }

    .select2-container--default .select2-selection--multiple {
        margin-bottom: 10px;
    }

    .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
        border-radius: 4px;
    }

    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border-color: #f77750;
        border-width: 2px;
    }

    .select2-container--default .select2-selection--multiple {
        border-width: 2px;
    }

    .select2-container--open .select2-dropdown--below {
        border-radius: 6px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    .select2-selection .select2-selection--multiple:after {
        content: 'hhghgh';
    }
    /* select with icons badges single*/
    .select-icon .select2-selection__placeholder .badge {
        display: none;
    }

    .select-icon .placeholder {
        display: none;
    }

    .select-icon .select2-results__option:before,
    .select-icon .select2-results__option[aria-selected=true]:before {
        display: none !important;
        /* content: "" !important; */
    }

    .select-icon .select2-search--dropdown {
        display: none;
    }

    .select2-container--open .select2-dropdown {
        z-index: 1070;
    }

    .table td:last-child {
        text-align: center !important;
    }

    .table td {
        text-align: center !important;
    }

    .coll {
        background-color: #f1f1f1 !important;
        border-radius: 0px !important;
        min-height: 48px !important;
        display: initial !important
    }

    .form-check:not(.form-switch) .form-check-input[type=checkbox] {
        background-size: 50% 50% !important;
        background-size: 27px !important;
    }

    .menu {
        background-color: #05a69214;
        padding: 8px;
    }

    .form-check-input {
        background-color: #cdcfd1;
        border: none;
    }
</style>
<script>
    window.onload = function active() {
        var act = document.getElementById("configuracion");
        if (act.className.match("nav-item")) {
            act.className = "nav-item active";
        } else {
            act.remove.className("active");
        }
        var act5 = document.getElementById("item5-M");
        var iconAct5 = document.getElementById("Active5");
        var iconnoAct5 = document.getElementById("noActive5");

        var borde5 = document.getElementById("item5")
        if (act5.className.match("svg")) {
            act5.className = "svg active";
            borde5.className = "borde1";



        } else {
            act5.remove.className("active");
            borde5.className = "nada";


        }

    }
</script>
<link href="~/Content/tablas.css" rel="stylesheet" />
<style>
    .table td {
        text-align: center !important;
    }
</style>
<br />
<br />
<link href="~/Content/select2.css" rel="stylesheet" />

<input type="text" id="txtAccion" style="display: none;">
<input type="text" id="txtIdUsuario" style="display: none;">


<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header pt-5" style="padding-top: 0.25rem !important;">

                    <div class="card-title">
                        <h2 class="d-flex align-items-center">
                            Asignar Ajuste Perfecto

                        </h2>
                    </div>
                    <div class="card-toolbar">

                        <div class="d-flex align-items-center position-relative my-1">
                            <button type="button" class="btn btn-dark" id="btnAgregar">
                                <i class="fa-solid fa-plus"></i>

                                Agregar Ajuste Perfecto
                            </button>

                        </div>
                    </div>


                </div>
                <div class="card-body">
                    <div class="table-responsive" style="border:none">
                        <table id="tblResumenEstacion" class="table table-hover" style="width:100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- The Modal -->
<div class="modal fade" id="mdlAgregarEditarEstacion">
    <div class="modal-dialog modal-dialog-centered  modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title" id="titleEstacion"></h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <!--fecha de nacimiento-->


                <div class="col-lg-12 fv-row fv-plugins-icon-container">
                    <label class="col-form-label required fw-bold fs-6">Estación</label>
                    @*<select type="text" multiple="multiple" name="[]" class="js-select2 form-control form-control-lg" runat="server" id="cboEstacion"></select>*@
                    <select class="js-select2" multiple="multiple" id="cboEstacion" placeholder="Estaciones" style="max-height:80px!important;"></select>

                </div>

                <div class="col-lg-12 fv-row fv-plugins-icon-container">
                    <label class="col-form-label required fw-bold fs-6">Magna</label>
                    <input type="text" class="form-control form-control-lg form-control-solid" runat="server" id="txtMagna">
                    <div class="fv-plugins-message-container invalid-feedback"></div>
                </div>

                <div class="col-lg-12 fv-row fv-plugins-icon-container">
                    <label class="col-form-label required fw-bold fs-6">Premium</label>
                    <input type="text" class="form-control form-control-lg form-control-solid" runat="server" id="txtPremium">
                    <div class="fv-plugins-message-container invalid-feedback"></div>
                </div>
                <div class="col-lg-12 fv-row fv-plugins-icon-container">
                    <label class="col-form-label required fw-bold fs-6">Diesel</label>
                    <input type="text" class="form-control form-control-lg form-control-solid" runat="server" id="txtDiesel">
                    <div class="fv-plugins-message-container invalid-feedback"></div>
                </div>




            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
                <button type="button" class="btn btn-secondary" id="btnCancelar" data-bs-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>
</div>

<!-- Modal eliminar -->
<div class="modal fade" id="mdlEliminar">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body text-center">
                <img src="/Content/img/exclamacion-error.png" style="width:100px" /><br /><br />
                <h3><label id="txtBorrar" for=""></label>   </h3>
                <br />
                <div class="row">
                    <input type="text" name="" id="inpEstatus" style="display:none;">
                    <input type="text" id="txtIdAjuste" style="display: none;">
                    <input type="text" id="txtIdAsociado" style="display: none;">
                    <div class="col-lg-12" style="justify-content:center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" id="btnEliminar">Eliminar</button>
                    </div>
                </div>
                <br />
            </div>

            <!-- Modal footer -->


        </div>
    </div>
</div>


<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/axios.js"></script>
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/datatables/datatables.js"></script>
<script src="~/Scripts/axios.min.js"></script>
<script src="~/Scripts/js/CapturadoEstaciones/CapturadoEstacionesControllers.js?v=1.2"></script>
<script type="text/javascript">



    (function () {
        var clsCapturadoEstacionesControllers = new CapturadoEstacionesControllers();
        clsCapturadoEstacionesControllers.Inicializar();
    })();
</script>
<script>
    $(".js-select2").select2({
        closeOnSelect: false,
        placeholder: "Estaciones",
        allowHtml: true,
        allowClear: true,
        tags: true // создает новые опции на лету
    });

    $('.icons_select2').select2({
        width: "100%",
        templateSelection: iformat,
        templateResult: iformat,
        allowHtml: true,
        placeholder: "Estaciones",
        dropdownParent: $('.select-icon'),//обавили класс
        allowClear: true,
        multiple: false
    });


    function iformat(icon, badge, ) {
        var originalOption = icon.element;
        var originalOptionBadge = $(originalOption).data('badge');

        return $('<span><i class="fa ' + $(originalOption).data('icon') + '"></i> ' + icon.text + '<span class="badge">' + originalOptionBadge + '</span></span>');
    }

    function toggle(source) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] != source)
                checkboxes[i].checked = source.checked;
        }
    }
</script>





