﻿
@{
    ViewBag.Title = "AsignarEstaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    window.onload = function active() {
        var act = document.getElementById("configuracion");
        if (act.className.match("nav-item")) {
            act.className = "nav-item active";
        } else {
            act.remove.className("active");
        }
        var act5 = document.getElementById("item5-M");
        var iconAct5 = document.getElementById("Active5");
        var iconnoAct5 = document.getElementById("noActive5");

        var borde5 = document.getElementById("item5")
        if (act5.className.match("svg")) {
            act5.className = "svg active";
            borde5.className = "borde1";



        } else {
            act5.remove.className("active");
            borde5.className = "nada";


        }

    }
</script>
<link href="~/Content/tablas.css" rel="stylesheet" />
<style>
    .table td {
        text-align: center !important;
    }
</style>
<br />
<br />
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header pt-5" style="padding-top: 0.25rem !important;">

                    <div class="card-title">
                        <h2 class="d-flex align-items-center">
                            Asignar Estaciones

                        </h2>
                    </div>



                </div>
                <div class="card-body">
                    <div class="table-responsive" style="border:none">
                        <table id="tblUsuarios" class="table table-hover" style="width:100%"></table>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

  



    <!-- The Modal -->
    <div class="modal fade" id="mdlAgregarEditar">
        <div class="modal-dialog modal-dialog-centered  modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h2 class="modal-title" id="titleUsuario"></h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <!--fecha de nacimiento-->
                    <input type="text" id="txtAccion" style="display: none;">
                    <input type="text" id="txtIdUsuario" style="display: none;">
                    <div class="col-lg-12 fv-row fv-plugins-icon-container">
                        <label class="col-form-label required fw-bold fs-4">Nombre</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" runat="server" id="txtNombre">
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
                    <button type="button" class="btn btn-secondary" id="btnCancelar">Cancelar</button>
                </div>

            </div>
        </div>
    </div>




    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/datatables/datatables.js"></script>
    <script src="~/Scripts/axios.min.js"></script>
    <script src="~/Scripts/js/AgregarEstaciones/AgregarEstaciones.js?v=1.2"></script>
    <script type="text/javascript">



        (function () {
            var clsAgregarEstacionesControllers = new AgregarEstacionesControllers();
            clsAgregarEstacionesControllers.Inicializar();
        })();
    </script>
