﻿
@{
    ViewBag.Title = "Bitacora";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<script src="~/Scripts/sweetalert2.all.min.js"></script>

<link href="~/Content/tablas.css" rel="stylesheet" />
<script>
    window.onload = function active() {
        var act = document.getElementById("bitacora");
        if (act.className.match("nav-item")) {
            act.className = "nav-item active";
        } else {
            act.remove.className("active");
        }
        var act4 = document.getElementById("item4-M");
        var iconAct4 = document.getElementById("Active4");
        var iconnoAct3 = document.getElementById("noActive3");
        var iconnoAct31 = document.getElementById("noActive3-1");
        var borde4 = document.getElementById("item4")
        if (act4.className.match("svg")) {
            act4.className = "svg active";
            borde4.className = "borde1";
            iconAct4.style.color = "#05a692";
            //iconnoAct3.style.display = "none";
            //iconnoAct31.style.display = "none";
        } else {
            act4.remove.className("active");
            borde4.className = "nada";
            iconAct4.style.color = "#9d9d9d";
            //iconnoAct3.style.display = "block";
            //iconnoAct31.style.display = "block";
        }

    }
</script>



<style>
    .table td {
        text-align: center !important;
    }
</style>

<br />
<div class="container-fluid mt-3">

    <div class="row">

    </div> <br />
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="card">
                <div class="card-header pt-5" style="padding-top: 0.25rem !important;">

                    <div class="card-title">
                        <h2 class="d-flex align-items-center">
                            Bitácora

                        </h2>
                    </div>



                </div>
                <div class="card-body">
                    <div class="table-responsive" style="border:none">

                        <table id="tblBitacora" class="table table-hover" style="width:100%;"></table>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <br>
</div>



<!-- The Modal -->
<div class="modal fade" id="Eliminar">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">



            <!-- Modal body -->
            <div class="modal-body text-center">
                <img src="/Content/img/exclamacion-error.png" style="width:100px" /><br /><br />
                <h3> ¿Esta seguro de querer eliminar este grupo?</h3>
                <br />
                <div class="row">
                    <div class="col-lg-12" style="justify-content:center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
                    </div>
                </div>
                <br />
            </div>

            <!-- Modal footer -->


        </div>
    </div>
</div>


<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/axios.js"></script>
<script src="~/Scripts/datatables/datatables.js"></script>
<script src="~/Scripts/js/Admin/Bitacora.js?v=1.0"></script>
<script type='text/javascript'>
    (function () {
        var clsBitacoraControllers = new BitacoraControllers();
        clsBitacoraControllers.Inicializar();
    })();
</script>

<script>
    function toggle(source) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] != source)
                checkboxes[i].checked = source.checked;
        }
    }
</script>



