﻿
@{
    ViewBag.Title = "ConfiguracionMermasMangueras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #accordion .card {
        border: none;
    }


        #accordion .card .card-header {
            background-color: white;
            border-bottom: 2px solid #f5f8fa !important;
            padding: 5px !important;
        }

            #accordion .card .card-header svg {
                color: #d9e4eb !important;
                font-size: 25px;
                margin-right: 10px
            }

            #accordion .card .card-header span {
                color: #94a8b5 !important;
                font-size: 18px;
            }

   
</style>
<br />
<div class="container-fluid mt-3">

    <div class="row">

    </div> <br />
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="card">
                <div class="card-header pt-5" style="padding-top: 0.25rem !important;">

                    <div class="card-title">
                        <h2 class="d-flex align-items-center">
                            Configuración mermas y mangueras

                        </h2>
                    </div>



                </div>
                <div class="card-body">
                    <div class="row" style="justify-content:center">
                        <div class="col-lg-11 col-md-12 col-sm-12">
                            <br />
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header">
                                        <a class="btn" data-bs-toggle="collapse" href="#collapseOne" style="outline:none">
                                            <i class="fa fa-plus-circle"></i>   <span style="padding-bottom:20px; position:absolute"><b> Configuración General</b></span>
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            <div class="row">

                                                <div class="col-lg-4 mb-4">
                                                    <label>Id Configuración</label>
                                                    <input class="form-control form-control-lg" type="text" id="idConfiguracion" style="height:40px; ">
                                                </div>
                                                <div class="col-lg-4 mb-4">
                                                    <label>Id Asociado</label>
                                                    <input class="form-control form-control-lg" type="text" id="idAsociado" style="height:40px; ">
                                                </div>

                                                <div class="col-lg-4 mb-4">
                                                    <label>Id Estación</label>
                                                    <input class="form-control form-control-lg" type="text" id="idEstacion" style="height:40px; ">
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-lg-4 mb-4">
                                                    <label>Operación</label>
                                                    <input id="OperacionID" type="text" class="form-control form-control-lg">
                                                </div>
                                                <div class="col-lg-4 mb-4">
                                                    <label>Clave</label>
                                                    <input id="clave" type="text" class="form-control form-control-lg">
                                                </div>
                                                <div class="col-lg-4 mb-4">
                                                    <label>Texto</label>
                                                    <input id="texto" type="text" class="form-control form-control-lg">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4 mb-4">
                                                    <label>Orden</label>
                                                    <input id="orden" type="text" class="form-control form-control-lg">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="btn" data-bs-toggle="collapse" href="#collapseTwo" style="outline:none">
                                            <i class="fa fa-plus-circle"></i>   <span style="padding-bottom:20px; position:absolute"><b> Configuración Merma</b></span>
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-4 mb-4">
                                                    <label>Id Configuración Merma</label>
                                                    <input id="idCinfMerma" type="text" class="form-control form-control-lg">
                                                </div>
                                                <div class="col-lg-4 mb-4">
                                                    <label>Id Asociado</label>
                                                    <input id="idAsociado" type="text" class="form-control form-control-lg">
                                                </div>
                                                <div class="col-lg-4 mb-4">
                                                    <label>Id Estación</label>
                                                    <input id="idEstacion" type="text" class="form-control form-control-lg">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4 mb-4">
                                                    <label>Merma</label>
                                                    <input id="merma" type="text" class="form-control form-control-lg">
                                                </div>
                                                <div class="col-lg-4 mb-4">
                                                    <label>Flujo</label>
                                                    <input id="flujo" type="text" class="form-control form-control-lg">
                                                </div>
                                                <div class="col-lg-4 mb-4">
                                                    <label>Faltante</label>
                                                    <input id="faltante" type="text" class="form-control form-control-lg">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br />
                            <br />
                            <div class="text-right">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>
    <br>
</div>


