﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/sweetalert2.all.min.js"></script>

<script>
    window.onload = function active() {
        var act = document.getElementById("configuracion");
        if (act.className.match("nav-item")) {
            act.className = "nav-item active";
        } else {
            act.remove.className("active");
        }
        var act5 = document.getElementById("item5-M");
        var iconAct5 = document.getElementById("Active5");
        var iconnoAct5 = document.getElementById("noActive5");

        var borde5 = document.getElementById("item5")
        if (act5.className.match("svg")) {
            act5.className = "svg active";
            borde5.className = "borde1";



        } else {
            act5.remove.className("active");
            borde5.className = "nada";


        }

    }
</script>

<link href="~/Content/tablas.css" rel="stylesheet" />
<style>
    .table td {
        text-align: center !important;
    }
</style>
<br />
<div class="container-fluid mt-3">


    <br />
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="card">
                <div class="card-header pt-5" style="padding-top: 0.25rem !important;">

                    <div class="card-title">
                        <h2 class="d-flex align-items-center">
                            Lista de Grupos

                        </h2>
                    </div>
                    <div class="card-toolbar">

                        <div class="d-flex align-items-center position-relative my-1">


                            <button id="btnAgregarGrupo" type="button" class="btn btn-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                                </svg>

                                Agregar Grupo
                            </button>
                        </div>



                    </div>


                </div>
                <div class="card-body">
                    <div class="table-responsive" style="border:none">

                        <table id="tblGrupos" class="table table-hover" style="width:100%;"></table>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <br>


    <!-- The Modal -->
    <div class="modal fade" id="mdlGrupo">
        <div class="modal-dialog modal-dialog-centered  modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h2 class="modal-title">                    <label id="txtTituloModal" for=""></label></h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <input id="inpTipoAccion" type="text" style="display: none;">
                <input id="inpIdEmpresa" type="text" style="display: none;">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row mb-12">
                        <div class="col-lg-12 fv-row fv-plugins-icon-container">
                            <label class="col-form-label required fw-bold  fs-5">Nombre</label>
                            <input type="text" class="form-control form-control-lg" runat="server" id="txtNombreComercial">
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>

                    </div>

                    @*<div class="row mb-12">
                        <div class="col-lg-4 fv-row fv-plugins-icon-container">
                            <input class="form-check-input" type="checkbox" id="checkTiempo" name="checkTiempo" style="float:initial!important">Tiempo
                        </div>
                        <div class="col-lg-4 fv-row fv-plugins-icon-container">
                            <input class="form-check-input" type="checkbox" id="checkTurno" name="checkTurno" style="float:initial!important">Turno
                        </div>
                        <div class="col-lg-4 fv-row fv-plugins-icon-container">
                            <input class="form-check-input" type="checkbox" id="checkXml" name="checkXml" style="float:initial!important">XML
                        </div>
                        <div class="col-lg-4 fv-row fv-plugins-icon-container">
                            <input class="form-check-input" type="checkbox" id="checkInventario" name="checkInventario" style="float:initial!important">Inventario
                        </div>
                    </div>*@



                        <div class="row mb-6">
                            <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold  fs-5">Estado</label>
                                <select type="text" class="form-control form-control-lg" runat="server" id="cmbEstado"></select>
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>

                            <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold  fs-5">Municipio</label>
                                <select type="text" class="form-control form-control-lg " runat="server" id="cmbMunicipio"></select>
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>

                        @* <div class="row mb-6">
            <div class="col-lg-3 fv-row fv-plugins-icon-container">
                <label class="col-form-label required fw-bold  fs-5">Teléfono</label>
                <input type="text" class="form-control form-control-lg form-control-solid" runat="server" id="txtTelefono">
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>

            <div class="col-lg-5 fv-row fv-plugins-icon-container">
                <label class="col-form-label required fw-bold  fs-5">Calle</label>
                <input type="text" class="form-control form-control-lg form-control-solid" runat="server" id="txtCalle">
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
            <div class="col-lg-4 fv-row fv-plugins-icon-container">
                <label class="col-form-label required fw-bold  fs-5">Código Postal</label>
                <input type="text" class="form-control form-control-lg form-control-solid" runat="server" id="txtCodigoPostal">
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>

        </div> *@
                        @* <div class="row mb-6">

            <div class="col-lg-4 fv-row fv-plugins-icon-container">
                <label class="col-form-label required fw-bold fs-6">País</label>
                <input type="text" class="form-control form-control-lg form-control-solid" runat="server" id="txtPais">
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
            <div class="col-lg-4 fv-row fv-plugins-icon-container">
                <label class="col-form-label required fw-bold fs-6">Estado</label>
                <input type="text" class="form-control form-control-lg form-control-solid" runat="server" id="txtEstado">
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>

            <div class="col-lg-4 fv-row fv-plugins-icon-container">
                <label class="col-form-label required fw-bold fs-6">Municipio</label>
                <input type="text" class="form-control form-control-lg form-control-solid" runat="server" id="txtMunicipio">
                <div class="fv-plugins-message-container invalid-feedback"></div>
            </div>
        </div> *@

                        <div class="row mb-6">


                            <div class="col-lg-12 fv-row fv-plugins-icon-container">
                                <label class="col-form-label required fw-bold fs-5">Tipo Conexion</label>
                                <select type="text" class="form-control form-control-lg" runat="server" id="cmbConexion">
                                    <option value="1">LOCAL</option>
                                    <option value="2">CONSULTA API</option>
                                </select>
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                        <div id="conLocal">
                            <div class="row mb-6">
                                <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                    <label class="col-form-label required fw-bold fs-5">Sitio Web</label>
                                    <input type="text" class="form-control form-control-lg" runat="server" id="txtSitioWeb">
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                </div>

                                <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                    <label class="col-form-label required fw-bold fs-5">Server Seguridad</label>
                                    <input type="text" class="form-control form-control-lg" runat="server" id="txtServerSeguridad">
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                </div>

                            </div>
                            <div class="row mb-6">
                                <div class="col-lg-4 fv-row fv-plugins-icon-container">
                                    <label class="col-form-label required fw-bold fs-5">Usuario SQL Seguridad</label>
                                    <input type="text" class="form-control form-control-lg" runat="server" id="txtUsuarioSQL">
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                </div>
                                <div class="col-lg-4 fv-row fv-plugins-icon-container">
                                    <label class="col-form-label required fw-bold fs-5">Password SQL Seguridad</label>
                                    <input type="text" class="form-control form-control-lg" runat="server" id="txtPasswordSQL">
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                </div>

                                <div class="col-lg-4 fv-row fv-plugins-icon-container">
                                    <label class="col-form-label required fw-bold fs-5">Base Produccion</label>
                                    <input type="text" class="form-control form-control-lg" runat="server" id="txtBaseProduccion">
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div id="conApi">
                            <div class="row mb-6">
                                <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                    <label class="col-form-label required fw-bold fs-6">Usuario Api</label>
                                    <input type="text" class="form-control form-control-lg" runat="server" id="txtUsuarioApi">
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                </div>
                                <div class="col-lg-6 fv-row fv-plugins-icon-container">
                                    <label class="col-form-label required fw-bold fs-6">Password Api</label>
                                    <input type="text" class="form-control form-control-lg" runat="server" id="txtPasswordApi">
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                </div>

                                <div class="col-lg-12 fv-row fv-plugins-icon-container">
                                    <label class="col-form-label required fw-bold fs-12">Url Api</label>
                                    <input type="text" class="form-control form-control-lg" runat="server" id="txtUrlApi">
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div>
                                    <button type="button" class="btn btn-primary" id="btnVerificar">Verificar Api</button>
                                    <label id="lblVerificarApi"></label>
                                </div>
                            </div>
                        </div>


                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnGuardarEditar">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>

                </div>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal fade" id="mdlAsociadostbl">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title"> <label id="" for="">Contactos</label></h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-12">
                        <div class="col-12 text-right" style=" justify-content:flex-end; text-align:right!important">
                            <button id="btnAgregarContacto" type="button" class="btn btn-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                                </svg>

                                Agregar Contacto
                            </button>
                        </div>

                        <div class="table-responsive" style="border:none">

                            <table id="tblContactosAsosiados" class="table table-hover" style="width:100%;"></table>
                        </div>

                    </div>




                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal fade" id="mdlAsociadosAgrEditar">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title"> <label id="" for="">Agregar Contacto</label></h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    <input style="display: none;" type="text" class="form-control form-control-lg form-control-solid" runat="server" id="inpGuidEmpresa">
                    <input style="display: none;" type="text" class="form-control form-control-lg form-control-solid" runat="server" id="inpIdAsociado">
                    <input style="display: none;" type="text" class="form-control form-control-lg form-control-solid" runat="server" id="inpIdContacto">
                    <input style="display: none;" type="text" class="form-control form-control-lg form-control-solid" runat="server" id="inpIdAsociadoAccion">

                </div>
                <div class="modal-body">
                    <div class="row mb-6">
                        <div class="col-lg-12 fv-row fv-plugins-icon-container">
                            <label class="col-form-label required fw-bold fs-5">Nombre del asociado</label>
                            <input type="text" class="form-control form-control-lg form-control-solid" runat="server" id="txtNombreAsociado">
                        </div>
                    </div>
                    <div class="row mb-6">
                        <div class="col-lg-6 fv-row fv-plugins-icon-container">
                            <label class="col-form-label required fw-bold fs-5">teléfono</label>
                            <input type="text" class="form-control form-control-lg form-control-solid" runat="server" id="txtTelefonoAsociado" onkeypress="return valideKey(event);">
                        </div>
                        <div class="col-lg-6 fv-row fv-plugins-icon-container">
                            <label class="col-form-label required fw-bold fs-5">Rol</label>
                            <select type="text" class="form-control form-control-lg form-control-solid" runat="server" id="cmbRol"></select>
                        </div>

                    </div>


                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnGuardarEditarAsociado">Guardar</button>
                    <button type="button" class="btn btn-secondary" id="btnCancelarAsociado">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal fade" id="mdlEliminarContacto">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">



                <!-- Modal body -->
                <div class="modal-body text-center">
                    <img src="/Content/img/eliminar.png" style="width:80px" /><br /><br />
                    <h3> ¿Esta seguro de querer eliminar el contacto?</h3>
                    <br />
                    <div class="row">
                        <div class="col-lg-12" style="justify-content:center">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-danger" id="btnEliminarContacto">Eliminar</button>
                        </div>
                    </div>
                    <br />
                </div>

                <!-- Modal footer -->


            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal fade" id="mdlEliminar">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">



                <!-- Modal body -->
                <div class="modal-body text-center">
                    <img src="/Content/img/exclamacion-error.png" style="width:100px" /><br /><br />
                    <h3><label id="txtBorrar" for=""></label>   </h3>
                    <br />
                    <div class="row">
                        <input type="text" name="" id="inpEstatus" style="display:none;">
                        <div class="col-lg-12" style="justify-content:center">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-danger" id="btnEliminar">Eliminar</button>
                        </div>
                    </div>
                    <br />
                </div>

                <!-- Modal footer -->


            </div>
        </div>
    </div>


    <div class="modal fade" id="mdlMensaje">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">



                <!-- Modal body -->
                <div class="modal-body text-center">
                    <img src="/Content/img/exclamacion-error.png" style="width:100px" /><br /><br />
                    <h3> No tienes permisos para esta vista</h3>
                    <br />
                    <div class="row">
                        <div class="col-lg-12" style="justify-content:center">
                        </div>
                    </div>
                    <br />
                </div>

                <!-- Modal footer -->


            </div>
        </div>
    </div>



</div>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/axios.js"></script>
<script src="~/Scripts/datatables/datatables.js"></script>
<script src="~/Scripts/js/Admin/Grupos.js?v=1.0"></script>
<script type='text/javascript'>
    (function () {
        var clsGruposControllers = new GruposControllers();
        clsGruposControllers.Inicializar();
    })();
</script>
<script>
    function toggle(source) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] != source)
                checkboxes[i].checked = source.checked;
        }
    }
</script>





<script type="text/javascript">
    function valideKey(evt) {

        if ($('#txtTelefonoAsociado').val().length >= 9) {
            console.log('si entre aqui')
            $('#txtTelefonoAsociado').val($('#txtTelefonoAsociado').val().slice(0, 9)) 
        }
        // code is the decimal ASCII representation of the pressed key.
        var code = (evt.which) ? evt.which : evt.keyCode;

        if (code == 8) { // backspace.
            return true;
        } else if (code >= 48 && code <= 57) { // is a number.
            return true;
        } else { // other keys.
            return false;
        }
    }
</script>


