﻿
@{
    ViewBag.Title = "Permisos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    window.onload = function active() {
        var act = document.getElementById("configuracion");
        if (act.className.match("nav-item")) {
            act.className = "nav-item active";
        } else {
            act.remove.className("active");
        }
        var act5 = document.getElementById("item5-M");
        var iconAct5 = document.getElementById("Active5");
        var iconnoAct5 = document.getElementById("noActive5");

        var borde5 = document.getElementById("item5")
        if (act5.className.match("svg")) {
            act5.className = "svg active";
            borde5.className = "borde1";



        } else {
            act5.remove.className("active");
            borde5.className = "nada";


        }

    }
</script>
<link href="~/Content/select2.css" rel="stylesheet" />
<link href="~/Content/tablas.css" rel="stylesheet" />
<style>
    body {
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
    }
    /*.select2-selection select2-selection--multiple{
        max-height:200px!important
    }*/
    .bg-estaciones {
        background-color: #e4e4e4;
        border: 1px solid #e4e6ef;
        border-radius: 4px;
        padding: 0 5px;
        font-size: 13px !important
    }

    .select2-selection__rendered {
        height: 100px;
        overflow-y: scroll;
        /*scroll-behavior: smooth;*/
        display: flex;
    }

    .select2-dropdown select2-dropdown--above {
        width: 200px !important
    }

    /*.select2-container {
        max-height: 400px;
    }*/
    .select2-results__option {
        padding-right: 20px;
        vertical-align: middle;
    }

        .select2-results__option:before {
            content: "";
            display: inline-block;
            position: relative;
            height: 20px;
            width: 20px;
            border: 2px solid #e9e9e9;
            border-radius: 4px;
            background-color: #fff;
            margin-right: 20px;
            vertical-align: middle;
        }

        .select2-results__option[aria-selected=true]:before {
            font-family: fontAwesome;
            content: "\f00c";
            color: #fff;
            background-color: #f77750;
            border: 0;
            display: inline-block;
            padding-left: 3px;
        }

    .select2-container--default .select2-results__option[aria-selected=true] {
        background-color: #fff;
    }

    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: #eaeaeb;
        color: #272727;
    }

    .select2-container--default .select2-selection--multiple {
        margin-bottom: 10px;
    }

    .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
        border-radius: 4px;
    }

    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border-color: #f77750;
        border-width: 2px;
    }

    .select2-container--default .select2-selection--multiple {
        border-width: 2px;
    }

    .select2-container--open .select2-dropdown--below {
        border-radius: 6px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    .select2-selection .select2-selection--multiple:after {
        content: 'hhghgh';
    }
    /* select with icons badges single*/
    .select-icon .select2-selection__placeholder .badge {
        display: none;
    }

    .select-icon .placeholder {
        display: none;
    }

    .select-icon .select2-results__option:before,
    .select-icon .select2-results__option[aria-selected=true]:before {
        display: none !important;
        /* content: "" !important; */
    }

    .select-icon .select2-search--dropdown {
        display: none;
    }

    .select2-container--open .select2-dropdown {
        z-index: 1070;
    }

    .table td:last-child {
        text-align: center !important;
    }
</style>
<br />
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header pt-5" style="padding-top: 0.25rem !important;">

                    <div class="card-title">
                        <h2 class="d-flex align-items-center">
                            Permisos

                        </h2>


                    </div>
                    <div class="card-toolbar">

                        <div class="d-flex align-items-center position-relative my-1">
                            <button id="btnNuevo" class="btn btn-dark" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>


                                Nuevo
                            </button>
                        </div>
                    </div>
                </div>


                <div class="card-body">
                    <div class="table-responsive" style="border:none">
                        <table id="tblPermisos" class="table table-hover" style="width:100%"></table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


<!-- The Modal -->
<div class="modal fade" id="mdlAgregarEditar">
    <div class="modal-dialog modal-dialog-centered  modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h2 class="modal-title" id="titleUsuario"></h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                  
                    <input type="text" id="txtAccion" style="display: none;">
                    <input type="text" id="txtIdPermiso" style="display: none;">

                    <div class="col-lg-12 fv-row fv-plugins-icon-container">
                        <label class="col-form-label required fw-bold fs-4">Usuario</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" runat="server" id="txtNombre">
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>

                    <label class="col-form-label required fw-bold fs-4">Permisos</label>
                    @*<select class="input js-select2" name="states[]" multiple="multiple"  style="height:45px">
                        </select>
                    *@
                    <select class="js-select2" multiple="multiple" id="cboPermisos" style="max-height:200px!important;"></select>

                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
                <button type="button" class="btn btn-secondary" id="btnCancelar">Cancelar</button>
            </div>

        </div>
    </div>
</div>
@*<style>
        .select2-container--default .select2-selection--multiple {
            min-width: 300px !important;
            max-width: 400px !important
        }
    </style>*@
<br />
<br />
<br />

<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/axios.js"></script>
<script src="~/Scripts/datatables/datatables.js"></script>
<script src="~/Scripts/js/Admin/Permisos.js?v=1.0"></script>
<script type="text/javascript">
    (function () {
        var clsPermisosControllers = new PermisosControllers();
        clsPermisosControllers.Inicializar();
    })();
</script>
<script>

    $(".js-select2").select2({
        closeOnSelect: false,
        placeholder: "Estaciones",
        allowHtml: true,
        allowClear: true,
        tags: true // создает новые опции на лету
    });

    $('.icons_select2').select2({
        width: "100%",
        templateSelection: iformat,
        templateResult: iformat,
        allowHtml: true,
        placeholder: "Estaciones",
        dropdownParent: $('.select-icon'),//обавили класс
        allowClear: true,
        multiple: true
    });


    function iformat(icon, badge, ) {
        var originalOption = icon.element;
        var originalOptionBadge = $(originalOption).data('badge');

        return $('<span><i class="fa ' + $(originalOption).data('icon') + '"></i> ' + icon.text + '<span class="badge">' + originalOptionBadge + '</span></span>');
    }

    function toggle(source) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] != source)
                checkboxes[i].checked = source.checked;
        }
    }
</script>

