﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    window.onload = function active() {
        var act = document.getElementById("configuracion");
        if (act.className.match("nav-item")) {
            act.className = "nav-item active";
        } else {
            act.remove.className("active");
        }
        var act5 = document.getElementById("item5-M");
        var iconAct5 = document.getElementById("Active5");
        var iconnoAct5 = document.getElementById("noActive5");

        var borde5 = document.getElementById("item5")
        if (act5.className.match("svg")) {
            act5.className = "svg active";
            borde5.className = "borde1";



        } else {
            act5.remove.className("active");
            borde5.className = "nada";


        }

    }


</script>
<link href="~/Content/select2.css" rel="stylesheet" />
<link href="~/Content/tablas.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert2.all.min.js"></script>
<style>
    body {
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
    }
    /*.select2-selection select2-selection--multiple{
        max-height:200px!important
    }*/
    .bg-estaciones {
        background-color: #e4e4e4;
        border: 1px solid #e4e6ef;
        border-radius: 4px;
        padding: 0 5px;
        font-size: 13px !important
    }

    .select2-selection__rendered {
        height: 100%;
        overflow-y: scroll;
        /*scroll-behavior: smooth;*/
        display: flex;
    }

    .select2-dropdown select2-dropdown--above {
        width: 100% !important
    }

    
    .select2-results__option {
        padding-right: 20px;
        vertical-align: middle;
    }

        .select2-results__option:before {
            content: "";
            display: inline-block;
            position: relative;
            height: 20px;
            width: 20px;
            border: 2px solid #e9e9e9;
            border-radius: 4px;
            background-color: #fff;
            margin-right: 20px;
            vertical-align: middle;
        }

        .select2-results__option[aria-selected=true]:before {
            font-family: fontAwesome;
            content: "\f00c";
            color: #fff;
            background-color: #f77750;
            border: 0;
            display: inline-block;
            padding-left: 3px;
        }

    .select2-container--default .select2-results__option[aria-selected=true] {
        background-color: #fff;
    }

    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: #eaeaeb;
        color: #272727;
    }

    .select2-container--default .select2-selection--multiple {
        margin-bottom: 10px;
    }

    .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
        border-radius: 4px;
    }

    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border-color: #f77750;
        border-width: 2px;
    }

    .select2-container--default .select2-selection--multiple {
        border-width: 2px;
    }

    .select2-container--open .select2-dropdown--below {
        border-radius: 6px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    .select2-selection .select2-selection--multiple:after {
        content: 'hhghgh';
    }
    /* select with icons badges single*/
    .select-icon .select2-selection__placeholder .badge {
        display: none;
    }

    .select-icon .placeholder {
        display: none;
    }

    .select-icon .select2-results__option:before,
    .select-icon .select2-results__option[aria-selected=true]:before {
        display: none !important;
        /* content: "" !important; */
    }

    .select-icon .select2-search--dropdown {
        display: none;
    }

    .select2-container--open .select2-dropdown {
        z-index: 1070;
    }

    .table td:last-child {
        text-align: center !important;
    }

    .table td {
        text-align: center !important;
    }

    .coll {
        background-color: #f1f1f1 !important;
        border-radius: 0px !important;
        min-height: 48px !important;
        display: initial !important
    }

    .form-check:not(.form-switch) .form-check-input[type=checkbox] {
        background-size: 50% 50% !important;
        background-size: 27px !important;
    }

    .menu {
        background-color: #05a69214;
        padding: 8px;
    }

    .form-check-input {
        background-color: #cdcfd1;
        border: none;
    }

    #conSelects {
        width: 100%;
        justify-content: space-between;
        display: inline-table;
    }
    .select2{
        width:100%;
    }
    #cmbGrupo {
        width: 100%;
    }
    #cmbRol {
        width: 100%;
    }
    .select2-container {
        max-height: 100%;
    }
  
</style>
<br />
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12 text-right" style=" justify-content:flex-end; text-align:right!important">

        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header pt-5" style="padding-top: 0.25rem !important;">

                    <div class="card-title">
                        <h2 class="d-flex align-items-center">
                            Listado de Usuarios

                        </h2>
                    </div>
                    <div class="card-toolbar">

                        <div class="d-flex align-items-center position-relative my-1">
                            <button type="button" class="btn btn-dark" id="btnAgregar">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                                </svg>

                                Agregar Usuario
                            </button>

                        </div>
                    </div>


                </div>
                <div class="card-body">
                    <div class="table-responsive" style="border:none">
                        <table id="tblUsuarios" class="table table-hover" style="width:100%"></table>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <br>


    <!-- Modal agregar/editar -->
    <div class="modal fade" id="mdlAgregarEditar">
        <div class="modal-dialog modal-dialog-centered  modal-lg" id="modwith2">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h2 class="modal-title" id="titleUsuario"></h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row mb-2">
                        <!--fecha de nacimiento-->
                        <input type="text" id="txtAccion" style="display: none;">
                        <input type="text" id="txtIdUsuario" style="display: none;">
                        <div class="col-lg-4 fv-row fv-plugins-icon-container">
                            <label class="col-form-label required fw-bold fs-6">Nombre</label>
                            <input type="text" class="form-control form-control-lg" runat="server" id="txtNombre">
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>
                        <div class="col-lg-4 fv-row fv-plugins-icon-container">
                            <label class="col-form-label required fw-bold fs-6">Apellido paterno</label>
                            <input type="text" class="form-control form-control-lg" runat="server" id="txtApeidoP">
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>
                        <div class="col-lg-4 fv-row fv-plugins-icon-container">
                            <label class="col-form-label required fw-bold fs-6">Apellido materno</label>
                            <input type="text" class="form-control form-control-lg" runat="server" id="txtApeidoM">
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <!--fecha de nacimiento-->

                        <div class="col-lg-6 fv-row fv-plugins-icon-container">
                            <label class="col-form-label required fw-bold fs-6">Grupo</label>
                            <select type="text" class="form-control form-control-lg" runat="server" id="cmbGrupo"></select>
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>
                        <div class="col-lg-6 fv-row fv-plugins-icon-container">
                            <label class="col-form-label required fw-bold fs-6">Rol</label>
                            <select type="text" class="form-control form-control-lg" runat="server" id="cmbRol"></select>
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="row mb-2">


                        <div class="col-lg-6 fv-row fv-plugins-icon-container">
                            <label class="col-form-label required fw-bold fs-6">Correo</label>
                            <input type="text" class="form-control form-control-lg" runat="server" id="txtCorreo">
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>
                        <div class="col-lg-6 fv-row fv-plugins-icon-container">
                            <label class="col-form-label required fw-bold fs-6">Teléfono</label>
                            <input type="text" class="form-control form-control-lg" runat="server" id="txtTelefono">
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>

                    </div>

                    <div class="row mb-2">
                        <div class="col-lg-6 fv-row fv-plugins-icon-container">
                            <label class="col-form-label required fw-bold fs-6">Usuario</label>
                            <input type="text" class="form-control form-control-lg" runat="server" id="txtUsuario">
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>
                        <div class="col-lg-6 fv-row fv-plugins-icon-container">
                            <label class="col-form-label required fw-bold fs-6">Contraseña</label>
                            <input type="password" class="form-control form-control-lg" runat="server" id="txtContrasena">
                            <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="col-lg-12 fv-row fv-plugins-icon-container" style="display:none;">
                        <label class="col-form-label required fw-bold fs-6">Zonas</label>
                        <select class="js-select2" multiple="multiple" placeholder="Zonas" style="max-height:100px!important; width:100%" id="cboZonas"></select>
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>


                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
                    <button type="button" class="btn btn-secondary" id="btnCancelar">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal eliminar -->
    <div class="modal fade" id="mdlEliminar">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body text-center">
                    <img src="/Content/img/exclamacion-error.png" style="width:100px" /><br /><br />
                    <h3><label id="txtBorrar" for=""></label>   </h3>
                    <br />
                    <div class="row">
                        <input type="text" name="" id="inpEstatus" style="display:none;">
                        <input type="text" id="txtIdUsuarioEliminar" style="display: none;">
                        <div class="col-lg-12" style="justify-content:center">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-danger" id="btnEliminar">Eliminar</button>
                        </div>
                    </div>
                    <br />
                </div>

                <!-- Modal footer -->


            </div>
        </div>
    </div>
    <!-- Modal Menú -->
    <div class="modal fade" id="mdlMenu">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h2 class="modal-title">Menú</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <h3 style="text-align:left!important">Opciones del menú</h3>
                    <hr />
                    <table class="table table-striped">
                        @*<thead>
                                <tr>

                                    <th></th>

                                </tr>
                            </thead>*@
                        <tbody>
                            <div id="conSelects">

                            </div>



                            @*<tr>
                                    <td style="text-align:left!important"> <p>Estaciones</p></td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="check2" name="option1" value="something" style="float:initial!important">

                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td style="text-align:left!important"><p>Reportes</p></td>
                                    <td>
                                        <i class="fa-solid fa-circle-plus" style="font-size:25px; color:#cdcfd1" data-bs-toggle="collapse" href="#collapseOne"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="card collapse" id="collapseOne"  data-bs-parent="#accordion">
                                            <div class="card-body text-left">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <p>Análisis de Inventarios</p>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="check7" name="option1" value="something" style="float:initial!important">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <p>Variación de Inventarios</p>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="check7" name="option1" value="something" style="float:initial!important">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <p>Resumen por Estación</p>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="check7" name="option1" value="something" style="float:initial!important">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <p>Ajustes de Estación</p>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="check7" name="option1" value="something" style="float:initial!important">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <td style="text-align:left!important"><p>Bitácora</p></td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="check4" name="option1" value="something" style="float:initial!important">

                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td style="text-align:left!important"><p>Herramientas</p></td>
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="check5" name="option1" value="something" style="float:initial!important">

                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td style="text-align:left!important"><p>Configuración</p></td>

                                    <td>
                                        <i class="fa-solid fa-circle-plus" style="font-size:25px; color:#cdcfd1" data-bs-toggle="collapse" href="#collapsetwo"></i>


                                    </td>


                                </tr>
                                <tr></tr>
                                <tr>

                                    <td colspan="2">
                                        <div class="card collapse" id="collapsetwo" data-bs-parent="#accordion">
                                            <div class="card-body text-left">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <p>Usuarios</p>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="check7" name="option1" value="something" style="float:initial!important">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <p>Grupos</p>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="check7" name="option1" value="something" style="float:initial!important">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <p>Zonas/Estaciones</p>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="check7" name="option1" value="something" style="float:initial!important">

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </td>
                                </tr>*@

                        </tbody>
                    </table>




                    <br />
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnGuardarMenu">Guardar</button>
                    <button type="button" class="btn btn-secondary" id="btnCancelar" data-bs-dismiss="modal">Cancelar</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal Estaciones -->
    <div class="modal fade" id="mdlEstaciones">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h2 class="modal-title">Estaciones</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-12">
                            <label class="col-form-label required fw-bold fs-6">Estación</label>
                            <select class="form-select">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <label class="col-form-label required fw-bold fs-6">Magna</label>
                            <input type="text" class="form-control form-control-lg">
                        </div>
                        <div class="col-lg-4">
                            <label class="col-form-label required fw-bold fs-6">Premium</label>
                            <input type="text" class="form-control form-control-lg">
                        </div>
                        <div class="col-lg-4">
                            <label class="col-form-label required fw-bold fs-6">Diésel</label>
                            <input type="text" class="form-control form-control-lg">
                        </div>
                    </div>




                    <br />
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnGuardarMenu">Guardar</button>
                    <button type="button" class="btn btn-secondary" id="btnCancelar" data-bs-dismiss="modal">Cancelar</button>
                </div>

            </div>
        </div>
    </div>


    <!-- Modal Tema Usuarios -->
    <div class="modal fade" id="mdlTemasUsuarios">
        <div class="modal-dialog modal-dialog-centered modal-lg" id="modwith2">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h2 class="modal-title">Tema</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">

                    <div class="row mb-3">
                        <label>Sistema en general</label>
                        <div class="col-lg-4">
                            <label class="col-form-label required fw-bold fs-6">Color Principal</label>
                            <input type="text" class="form-control form-control-lg">
                        </div>
                        <div class="col-lg-4">
                            <label class="col-form-label required fw-bold fs-6">Menú principal</label>
                            <input type="text" class="form-control form-control-lg">
                        </div>
                        <div class="col-lg-4">
                            <label class="col-form-label required fw-bold fs-6">Iconos y titulos</label>
                            <input type="text" class="form-control form-control-lg">
                        </div>
                        <div class="col-lg-4">
                            <label class="col-form-label required fw-bold fs-6">Nombre de susuario</label>
                            <input type="text" class="form-control form-control-lg">
                        </div>
                        <div class="col-lg-4">
                            <label class="col-form-label required fw-bold fs-6">Botones primarios</label>
                            <input type="text" class="form-control form-control-lg">
                        </div>
                        <div class="col-lg-4">
                            <label class="col-form-label required fw-bold fs-6">Botones primarios</label>
                            <input type="text" class="form-control form-control-lg">
                        </div>
                        <div class="col-lg-4">
                            <label class="col-form-label required fw-bold fs-6">Cerrar sesión</label>
                            <input type="text" class="form-control form-control-lg">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label>Paginas Internas</label>
                        <div class="col-lg-4">
                            <label class="col-form-label required fw-bold fs-6">Fondo de los titulos</label>
                            <input type="text" class="form-control form-control-lg">
                        </div>
                        <div class="col-lg-4">
                            <label class="col-form-label required fw-bold fs-6">Botones</label>
                            <input type="text" class="form-control form-control-lg">
                        </div>
                        <div class="col-lg-4">
                            <label class="col-form-label required fw-bold fs-6">Titulos de la tabla</label>
                            <input type="text" class="form-control form-control-lg">
                        </div>
                        <div class="col-lg-4">
                            <label class="col-form-label required fw-bold fs-6">Iconos de la tabla</label>
                            <input type="text" class="form-control form-control-lg">
                        </div>
                        <div class="col-lg-4">
                            <label class="col-form-label required fw-bold fs-6">Paginadores</label>
                            <input type="text" class="form-control form-control-lg">
                        </div>
                    </div>




                    <br />
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnGuardarMenu">Guardar</button>
                    <button type="button" class="btn btn-secondary" id="btnCancelar" data-bs-dismiss="modal">Cancelar</button>
                </div>

            </div>
        </div>
    </div>


</div>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/select2.js"></script>
<script src="~/Scripts/axios.js"></script>
<script src="~/Scripts/datatables/datatables.js"></script>
<script src="~/Scripts/js/Admin/Usuarios.js?v=1.0"></script>
<script type="text/javascript">
    (function () {
        var clsUsuariosControllers = new UsuariosControllers();
        clsUsuariosControllers.Inicializar();
    })();
</script>
<script>
    $(".js-select2").select2({
        closeOnSelect: false,
        placeholder: "Estaciones",
        allowHtml: true,
        allowClear: true,
        tags: true // создает новые опции на лету
    });

    $('.icons_select2').select2({
        width: "100%",
        templateSelection: iformat,
        templateResult: iformat,
        allowHtml: true,
        placeholder: "Estaciones",
        dropdownParent: $('.select-icon'),//обавили класс
        allowClear: true,
        multiple: true
    });


    function iformat(icon, badge, ) {
        var originalOption = icon.element;
        var originalOptionBadge = $(originalOption).data('badge');

        return $('<span><i class="fa ' + $(originalOption).data('icon') + '"></i> ' + icon.text + '<span class="badge">' + originalOptionBadge + '</span></span>');
    }

    function toggle(source) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] != source)
                checkboxes[i].checked = source.checked;
        }
    }
</script>
<script>
    setTimeout(function () {
        $('.select2').css('width', '100%')
    },2500);
</script>








