﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/VariacionInventario/Views/Loyout/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<style>
 
   
</style>
<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-lg-7 col-md-6">
            <h2>Dashboard</h2>
        </div>
    </div>
</div>
<br />
<div class="container-fluid">
    <br />
    <div class="row">

        <div class="col-lg-4">
            <div class="card card-datos" style="margin-bottom:10px">

                <div class="card-body" style="background-image:url(/content/img/card-dashboard.png); background-repeat:no-repeat; background-size:100%; background-position:bottom">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-7"><h2>Zonas</h2> <h1><b>10</b></h1></div>
                        <div class="col-lg-5 col-md-5 col-5 text-right contIcon" style="text-align:right;">
                            <i class="fa fa-map-location-dot"></i>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-datos" style="margin-bottom:10px">

                <div class="card-body" style="background-image:url(/content/img/card-dashboard.png); background-repeat:no-repeat; background-size:100%; background-position:bottom">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-7"><h2>Estaciones</h2><h1><b>10</b></h1></div>
                        <div class="col-lg-5 col-md-5 col-5 text-right contIcon" style="text-align:right;">

                            <i class="fa-solid fa-gas-pump"></i>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-datos" style="margin-bottom:10px">

                <div class="card-body" style="background-image:url(/content/img/card-dashboard.png); background-repeat:no-repeat; background-size:100%; background-position:bottom">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-7"><h2>Usuarios</h2> <h1><b>10</b></h1></div>
                        <div class="col-lg-5 col-md-5 col-5 text-right contIcon" style="text-align:right;">

                            <i class="fa-solid fa-users"></i>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        @*<%--  <div class="col-lg-3">
                <div class="card card-datos" style="margin-bottom:10px">

                    <div class="card-body" style="background-image:url(/content/img/card-dashboard.png); background-repeat:no-repeat; background-size:100%; background-position:bottom">
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-12"><h2>Donativos </h2></div>
                            <div class="col-lg-5 col-md-5 col-sm-12 text-right" style="text-align:right">
                                <h1 style="font-size:45px"><b>10</b></h1>
                            </div>
                        </div>

                    </div>

                </div>
            </div>--%>*@
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6" style="margin-bottom:10px">
                    <div class="card">
                        <div class="card-body" style="padding: 0.9rem!important;">
                            <div class="row">
                                <div class="col-6" style="text-align:left"> <h2 style="color:#00bba5">Zona 1</h2></div>
                                <div class="col-6"style="text-align:right">  <p style="font-size:18px">Inventarios</p></div>
                               
                              
                            </div>
                            <canvas id="myChart2" style="width:100%;max-height:400px" height="400"></canvas>
                            @*<canvas id="myChart" style="width:100%;max-height:400px"></canvas>*@
                        </div>
                    </div>
                </div>

                <br />

                <div class="col-lg-6" style="margin-bottom:10px">
                    <div class="card">
                        <div class="card-body" style="padding: 0.9rem!important;">
                            <div class="row">
                                <div class="col-6" style="text-align:left"> <h2 style="color:#00bba5">Zona 1</h2></div>
                                <div class="col-6" style="text-align:right">  <p style="font-size:18px">Ventas</p></div>


                            </div>
                           
                            <canvas id="myChart3" style="width:100%;max-height:400px" height="400"></canvas>
                            @*<canvas id="myChart" style="width:100%;max-height:400px"></canvas>*@
                        </div>
                    </div>


                </div>
            </div>
            <br />
            
        </div>
      
    </div>
</div> 
<script>
    var ctx = document.getElementById("myChart2").getContext("2d");

    var data2 = {
        labels: ["Estación A", "Estación B", "Estación C", "Estación D", "Estación E","Estación F"],
        datasets: [{
            label: "Magna",
            backgroundColor: "#05a692",
            data: [20, 1030, 20,70,100,1090]
        }, {
                label: "Premium",
                backgroundColor: "#00923c",
                data: [1400, 100, 700, 700, 150, 1300]
        }, {
                label: "Diesel",
                backgroundColor: "#181342",
                data: [560, 230, 900, 700, 190, 1100]
        }]
    };

    var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: data2,
        options: {
            barValueSpacing: 20,
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                    }
                }]
            }
        }
    });

    var ctx = document.getElementById("myChart3").getContext("2d");

    var data3 = {
        labels: ["Estación A", "Estación B", "Estación C", "Estación D", "Estación E", "Estación F"],
        datasets: [{
            label: "Magna",
            backgroundColor: "#05a692",
            data: [20, 1030, 20, 70, 100, 1090]
        }, {
            label: "Premium",
            backgroundColor: "#00923c",
            data: [1400, 100, 700, 700, 150, 1300]
        }, {
            label: "Diesel",
                backgroundColor: "#181342",
            data: [560, 230, 900, 700, 190, 1100]
        }]
    };

    var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: data3,
        options: {
            barValueSpacing: 20,
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                    }
                }]
            }
        }
    });


</script>    

