﻿
@{
    ViewBag.Title = "EstacionesNPD";
    Layout = "~/Areas/VariacionInventario/Views/Loyout/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>



<div class="container-fluid" style="background-color:#05a6920f; border-radius:20px;">
    <br />
    <div class="row">
        <div class="col-lg-7 col-md-6">
            <h2>Estaciones</h2>
        </div>
        <div class="col-lg-5 col-md-6">
            <div class="row" style="justify-content:flex-end">
                <div class="col text-center" id="colEs">
                    <a class="btn estado0E">
                        <i class="fas fa-eye" style="font-size:18px;"></i>
                    </a>
                    <p><b>10</b></p>
                </div>
                <div class="col text-center" id="colEs">
                    <a class="btn estado1E">
                        <i class="fas fa-check" style="font-size:18px;"></i>
                    </a>
                    <p class="estado1E-p"><b>10</b></p>
                </div>
                <div class="col text-center" id="colEs">
                    <a class="btn estado2E">
                        <i class="fas fa-x" style="font-size:18px;"></i>
                    </a>
                    <p class="estado2E-p"><b>10</b></p>
                </div>
                <div class="col text-center" id="colEs">
                    <a class="btn estado3E">
                        <i class="fas fa-exclamation-circle" style="font-size:18px;"></i>
                    </a>
                    <p class="estado3E-p"><b>10</b></p>
                </div>
                <div class="col text-center" id="colEs">
                    <a class="btn estado4E">
                        <i class="fa-solid fa-repeat" style="font-size:18px;"></i>
                    </a>
                    <p class="estado4E-p"><b>10</b></p>
                </div>
                <div class="col text-center" id="colEs">
                    <a class="btn estado5E">
                        <i class="fas fa-circle-question" style="font-size:18px;"></i>
                    </a>
                    <p class="estado5E-p"><b>10</b></p>
                </div>
                <div class="col text-center" id="colEs">
                    <div class=" dropdown">
                        <a class="btn estado0E" data-bs-toggle="dropdown">
                            <i class="fas fa-bars" style="font-size:18px; color:#777!important"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><h5 class="dropdown-header">Zonas</h5></li>
                            <li><a class="dropdown-item" href="#">Zona 1</a></li>
                            <li><a class="dropdown-item" href="#">Zona 2</a></li>
                            <li><a class="dropdown-item" href="#">Zona 3</a></li>
                            <li><a class="dropdown-item" href="#">Zona 4</a></li>
                        </ul>
                    </div>
                </div>


            </div>

        </div>
    </div>
    <br />
    <br />

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12" style="margin-bottom:10px">
            <div class="card shadow-sm nocard" id="estatus">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8"><h4>7435 - CALZADA</h4></div>
                        <div class="col-4" style="text-align:end">
                            <span class="badge est1"><i class="fas fa-check" style="font-size:16px;"></i></span>

                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="p-2 f13"> <p class="prod"> <span class="badge ">M</span> 45,138</p></div>
                        <div class="p-2 f13"><p class="prod"> <span class="badge">P</span> 45,138</p></div>
                        <div class="p-2 f13"> <p class="prod"> <span class="badge">D</span> 45,138</p></div>
                    </div>
                    <div class="d-flex flex-wrap" style="justify-content:space-between">
                        <div class="p-2 f13"> <b>Turno 2</b></div>
                        <div class="p-2 f13">Act. hace 5 min.</div>

                        <div class="f13"><i class="fas fa-comment-dots" style="font-size: 25px;color: #05a692a3;"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12" style="margin-bottom:10px">
            <div class="card shadow-sm nocard" id="estatus">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8"><h4>7435 - CALZADA</h4></div>
                        <div class="col-4" style="text-align:end">
                            <span class="badge est2"><i class="fas fa-x" style="font-size:16px;"></i></span>

                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="p-2 f13"> <p class="prod"> <span class="badge ">M</span> 45,138</p></div>
                        <div class="p-2 f13"><p class="prod"> <span class="badge">P</span> 45,138</p></div>
                        <div class="p-2 f13"> <p class="prod"> <span class="badge">D</span> 45,138</p></div>
                    </div>
                    <div class="d-flex flex-wrap" style="justify-content:space-between">
                        <div class="p-2 f13"> <b>Turno 2</b></div>
                        <div class="p-2 f13">Act. hace 5 min.</div>

                        <div class="f13"><i class="fas fa-comment-dots" style="font-size: 25px;color: #e5e4e4;"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12" style="margin-bottom:10px">
            <div class="card shadow-sm nocard" id="estatus">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8"><h4>7435 - CALZADA</h4></div>
                        <div class="col-4" style="text-align:end">
                            <span class="badge est3"><i class="fas fa-circle-exclamation" style="font-size:16px;"></i></span>

                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="p-2 f13"> <p class="prod"> <span class="badge ">M</span> 45,138</p></div>
                        <div class="p-2 f13"><p class="prod"> <span class="badge">P</span> 45,138</p></div>
                        <div class="p-2 f13"> <p class="prod"> <span class="badge">D</span> 45,138</p></div>
                    </div>
                    <div class="d-flex flex-wrap" style="justify-content:space-between">
                        <div class="p-2 f13"> <b>Turno 2</b></div>
                        <div class="p-2 f13">Act. hace 5 min.</div>

                        <div class="f13"><i class="fas fa-comment-dots" style="font-size: 25px;color: #e5e4e4;"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12" style="margin-bottom:10px">
            <div class="card shadow-sm nocard" id="estatus">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8"><h4>7435 - CALZADA</h4></div>
                        <div class="col-4" style="text-align:end">
                            <span class="badge est4"><i class="fas fa-repeat" style="font-size:16px;"></i></span>

                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="p-2 f13"> <p class="prod"> <span class="badge ">M</span> 45,138</p></div>
                        <div class="p-2 f13"><p class="prod"> <span class="badge">P</span> 45,138</p></div>
                        <div class="p-2 f13"> <p class="prod"> <span class="badge">D</span> 45,138</p></div>
                    </div>
                    <div class="d-flex flex-wrap" style="justify-content:space-between">
                        <div class="p-2 f13"> <b>Turno 2</b></div>
                        <div class="p-2 f13">Act. hace 5 min.</div>

                        <div class="f13"><i class="fas fa-comment-dots" style="font-size: 25px;color: #e5e4e4;"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12" style="margin-bottom:10px">
            <div class="card shadow-sm nocard" id="estatus">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8"><h4>7435 - CALZADA</h4></div>
                        <div class="col-4" style="text-align:end">
                            <span class="badge est5"><i class="fas fa-circle-question" style="font-size:16px;"></i></span>

                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="p-2 f13"> <p class="prod"> <span class="badge ">M</span> 45,138</p></div>
                        <div class="p-2 f13"><p class="prod"> <span class="badge">P</span> 45,138</p></div>
                        <div class="p-2 f13"> <p class="prod"> <span class="badge">D</span> 45,138</p></div>
                    </div>
                    <div class="d-flex flex-wrap" style="justify-content:space-between">
                        <div class="p-2 f13"> <b>Turno 2</b></div>
                        <div class="p-2 f13">Act. hace 5 min.</div>

                        <div class="f13"><i class="fas fa-comment-dots" style="font-size: 25px;color: #e5e4e4;"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12" style="margin-bottom:10px">
            <div class="card shadow-sm nocard" id="estatus">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8"><h4>7435 - CALZADA</h4></div>
                        <div class="col-4" style="text-align:end">
                            <span class="badge est5"><i class="fas fa-circle-question" style="font-size:16px;"></i></span>

                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="p-2 f13"> <p class="prod"> <span class="badge ">M</span> 45,138</p></div>
                        <div class="p-2 f13"><p class="prod"> <span class="badge">P</span> 45,138</p></div>
                        <div class="p-2 f13"> <p class="prod"> <span class="badge">D</span> 45,138</p></div>
                    </div>
                    <div class="d-flex flex-wrap" style="justify-content:space-between">
                        <div class="p-2 f13"> <b>Turno 2</b></div>
                        <div class="p-2 f13">Act. hace 5 min.</div>

                        <div class="f13"><i class="fas fa-comment-dots" style="font-size: 25px;color: #05a692a3;"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12" style="margin-bottom:10px">
            <div class="card shadow-sm nocard" id="estatus">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8"><h4>7435 - CALZADA</h4></div>
                        <div class="col-4" style="text-align:end">
                            <span class="badge est1"><i class="fas fa-check" style="font-size:16px;"></i></span>

                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="p-2 f13"> <p class="prod"> <span class="badge ">M</span> 45,138</p></div>
                        <div class="p-2 f13"><p class="prod"> <span class="badge">P</span> 45,138</p></div>
                        <div class="p-2 f13"> <p class="prod"> <span class="badge">D</span> 45,138</p></div>
                    </div>
                    <div class="d-flex flex-wrap" style="justify-content:space-between">
                        <div class="p-2 f13"> <b>Turno 2</b></div>
                        <div class="p-2 f13">Act. hace 5 min.</div>

                        <div class="f13"><i class="fas fa-comment-dots" style="font-size: 25px;color: #e5e4e4;"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12" style="margin-bottom:10px">
            <div class="card shadow-sm nocard" id="estatus">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8"><h4>7435 - CALZADA</h4></div>
                        <div class="col-4" style="text-align:end">
                            <span class="badge est3"><i class="fas fa-circle-exclamation" style="font-size:16px;"></i></span>

                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="p-2 f13"> <p class="prod"> <span class="badge ">M</span> 45,138</p></div>
                        <div class="p-2 f13"><p class="prod"> <span class="badge">P</span> 45,138</p></div>
                        <div class="p-2 f13"> <p class="prod"> <span class="badge">D</span> 45,138</p></div>
                    </div>
                    <div class="d-flex flex-wrap" style="justify-content:space-between">
                        <div class="p-2 f13"> <b>Turno 2</b></div>
                        <div class="p-2 f13">Act. hace 5 min.</div>

                        <div class="f13"><i class="fas fa-comment-dots" style="font-size: 25px;color: #e5e4e4;"></i></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12" style="margin-bottom:10px">
            <div class="card shadow-sm nocard" id="estatus">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h4>SERVICIO PESQUEIRA M, S.A. DE C.V.</h4>
                        </div>
                        <div class="col-4 text-right">

                            <span class="badge est3"><i class="fas fa-circle-exclamation" style="font-size:16px;"></i></span>


                        </div>
                    </div>
                    <div class="d-flex flex-wrap">
                        <div class="p-2 f13"> <p class="prod"> <span class="badge ">M</span> 45,138</p></div>
                        <div class="p-2 f13"><p class="prod"> <span class="badge">P</span> 45,138</p></div>
                        <div class="p-2 f13"> <p class="prod"> <span class="badge">D</span> 45,138</p></div>
                    </div>
                    <div class="d-flex flex-wrap" style="justify-content:space-between">
                        <div class="p-2 f13"> <b>Turno 2</b></div>
                        <div class="p-2 f13">Act. hace 5 min.</div>

                        <div class="f13"><i class="fas fa-comment-dots" style="font-size: 25px;color: #e5e4e4;"></i></div>
                    </div>

                </div>
                                            </div>
                                </div>
                            </div>
                            <br />
                            <br />
                        </div>

                        <br />


                        <br />
                        <br />
                        <br />
                        <!-- The Modal -->
                        <div class="modal fade" id="ModalComentarios">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Comentarios</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="text-right" style="text-align:right">
                                            <a class="btn btn-nuevo" data-bs-toggle="modal" data-bs-target="#ModalAgregarComentarios" ><i class="fa fa-plus" ></i> Añadir Nuevo</a>
                                        </div>
                                        <label for="comment">Comentario sobre la estación:</label>
                        <textarea class="form-control" rows="3" id="comment" name="text" placeholder="este es un ejemplo de comentario sobre la estación" readonly></textarea>



                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-guardar" data-bs-dismiss="modal">Cancelar</button>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="modal fade" id="ModalAgregarComentarios">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Añadir Comentario</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">

                                        <label for="comment">Comentario sobre la estación:</label>
                        <textarea class="form-control" rows="3" id="comment" name="text"></textarea>



                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-guardar" data-bs-dismiss="modal">Guardar</button>
                                    </div>

                                </div>
                            </div>
                        </div>
