﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Areas/VariacionInventario/Views/Loyout/_Layout.cshtml";

}
<script>
    window.onload = function active() {
        var act = document.getElementById("reportes");
        if (act.className.match("nav-item")) {
            act.className = "nav-item active2";
        } else {
            act.remove.className("active2");
        }
        var act5 = document.getElementById("item3-M");
        var iconAct5 = document.getElementById("Active3");
        var iconnoAct5 = document.getElementById("noActive3");

        var borde5 = document.getElementById("item3")
        if (act5.className.match("svg")) {
            act5.className = "svg active";
            borde5.className = "borde1";



        } else {
            act5.remove.className("active");
            borde5.className = "nada";


        }



    }
</script>
<script src="~/Scripts/sweetalert2.all.min.js"></script>
<link href="~/Content/tablas.css" rel="stylesheet" />

<link href="~/Content/select2.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.js"></script>
<br />
<style>
    .swal2-icon.swal2-info {
        border-color: #05a69273;
        color: #05a69273;
    }
    .swal2-title {
        color: #05a692
    }
    .btn .estado4{
        color:white!important
    }
    tr {
        text-align: center;
    }

    td {
        font-size: 18px !important;
    }

    tbody td:first-child {
        /*text-align: left*/
    }

    /*.table td:first-child, .table th:first-child, .table tr:first-child {
        padding: 15px !important;
    }*/

    /*.table td:last-child, .table th:last-child, .table tr:last-child {
        padding: 15px !important;
    }*/

    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgb(0 189 166 / 7%);
        color: var(--bs-table-striped-color);
    }
    .btn-bg-dark{
        color:white;
    }
    .btn-bg-dark:hover {
        color: #ffffff!important;
        background-color:#05a692!important
    }
    /*estados*/
    .estado1 {
        background-color: #28A745;
        color: white;
        font-weight: 900
    }

        .estado1:hover {
            background-color: #28A745 !important;
            color: white !important;
        }

    .estado2 {
        background-color: #FFC107;
        color: white;
        font-weight: 900
    }

        .estado2:hover {
            background-color: #FFC107 !important;
            color: white !important;
        }

    .estado3 {
        background-color: #FF8000;
        color: #ffffff;
        font-weight: 900
    }

        .estado3:hover {
            background-color: #FF8000 !important;
            color: white !important;
        }

    .estado4 {
        background-color: #DC3545;
        color: #ffffff;
        font-weight: 900
    }

        .estado4:hover {
            background-color: #DC3545 !important;
            color: white !important;
        }
   

   
    /*#tblVariacion_paginate{

    }*/
</style>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-12">
            <h2 style="font-size:25px">Variación de Inventarios</h2>

            <br />
      
            <div id="contenedorBack" style="display:none;">
                <a id="btnBack" class="btn btn-bg-dark" style="width:60px;padding: 0.5rem 1rem !important">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <input id="inpVariacion" style="display: none;" type="text">
            </div>
        </div>
        <div class="col-lg-4 col-4" style="text-align:end; display:none">
            <a class="btn btn-bg-dark">
                <i class="fas fa-download"></i>
            </a>
        </div>
    </div>
</div>

<br />
<!--Filtro de fechas-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 col-md-4 col-sm-12">
            <div class="mb-3 mt-3">
                <label for="email" class="form-label"><b>Fecha Inicial:</b></label>
                <input type="text" id="dtFechaInicio" class="datepicker input form-control form-control-lg" placeholder="yyyy/mm/dd" name="date">
            </div>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-12">
            <div class="mb-3 mt-3">
                <label for="email" class="form-label"><b>Fecha Final:</b></label>
                <input type="text" id="dtFechaFin" class="datepicker input form-control form-control-lg" placeholder="yyyy/mm/dd" name="date">
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12">
            <br />
            <br />
            <a id="btnConsultar" class="btn btn-primary" style="width:100%">Consultar</a>
        </div>
    </div>
</div>

<!--Esta sección debe aparecer cuando se haga el filtro-->
<br />

<div class="container-fluid" id="contenedorVariacion">
    <div class="row" style="text-align:center">
        <div class="table-responsive-lg table-responsive-md table-responsive-sm" style="border:none!important">
            <table id="tblVariacion" class="table table-borderless tabla-sinborde"> </table>
        </div>
    </div>
</div>

<div class="container-fluid" id="contenedorVariacionEstaciones" style="display: none;">
    <div class="row" style="text-align:center">
        <div class="table-responsive-lg table-responsive-md table-responsive-sm">
            <table id="tblVariacionEstaciones" class="table table-borderless tabla-sinborde"> </table>
        </div>
    </div>
</div>

<div class="container-fluid" id="contenedorVariacionFechas" style="display: none;">
    <div class="row" style="text-align:left">
        <div class="col-lg-9 col-md-7 col-sm-12 col-12">
            <h3>Estación <span style="color:#05a692"><label id="lblEstacionSelec"></label></span></h3>
        </div>
    </div>
        <div class="row" style="text-align:center">
            <div class="table-responsive-lg table-responsive-md table-responsive-sm">
                <table id="tblVariacionFechas" class="table table-borderless tabla-sinborde"> </table>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="contenedorVariacionDesglose" style="display: none;">
        <div class="row" style="padding-left:3%!important;padding-right:3%!important">
            <div class="col-lg-9 col-md-7 col-sm-12 col-12">
                <h3>Estación <span style="color:#05a692"><label id="lblEstacion"></label></span></h3>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-12 col-12">
                <input id="dtFechaSeleccionada" class="form-control" value="" style="background-color:#edeef4; text-align:center; height:50px" readonly/>
            </div>

        </div>
        <br />
        <div class="row" style="padding-left:3%!important;padding-right:3%!important">
            <div class="col-12">
                <h3>Producto <span style="color:#05a692"><label id="lblProducto"></label></span></h3>
            </div>
        </div>
        <br />
        <div class="row" style="padding-left:3%!important;padding-right:3%!important">

            <div class="col-lg-12">
                <div class="table-responsive-lg table-responsive-md table-responsive-sm">
                    <table id="tblVariacionDesglose" class="table table-striped tabla-sinborde"></table>
                </div>
            </div>
        </div>
    </div>





    <br />
    <br />
    <br />
    <script src="~/Scripts/moment.js"></script>
    @*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/datatables/datatables.js"></script>
    <script src="~/Areas/VariacionInventario/js/Index.js?v=1.2"></script>
    <script type="text/javascript">
        (function () {
            var clsIndexControllers = new IndexControllers();
            clsIndexControllers.Inicializar();
        })();
    </script>

    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <script>
        const start = Date.now();
        jQuery(document).ready(function ($) {

            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',

                todayHighlight: true,
                toggleActive: true
            });
            $('.datepicker').on('change', function () {
                $('.datepicker-dropdown').css('display', 'none');
            });
        });



    </script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
