﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/NuevoSistema/Style.css" rel="stylesheet" />
    <link href="~/Content/NuevoSistema/padding-login.css" rel="stylesheet" />

    <link href="/iconos/css/fontawesome.css" rel="stylesheet" />

    <link href="~/iconos/css/regular.min.css" rel="stylesheet" />
    <link href="~/iconos/css/all.css" rel="stylesheet" />
    <script src="/iconos/js/fontawesome.js"></script>
    @*<script src="/Scripts/iconos.js"></script>*@
    <script src="/iconos/js/all.min.js"></script>
    <script src="/iconos/js/regular.min.js"></script>
    <link href="~/Content/styleM2.css" rel="stylesheet" />
</head>
<body>
    <style>
       
       span{
           color:#05a692
       }
       p{
           font-size:18px
       }
       .input-group-text{
           background-color:#f1f1f1;
           color:#05a692;
           font-size:20px;
           border-right:none
       }
        .form-control {
            background-color: #f1f1f1;
            border-left:none;
            outline:none
        }
            .form-control:focus {
                background-color: #f1f1f1;
                border-left: none;
                outline: none
            }
       
      
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5" id="fondo2" style=""></div>
            <div class="col-lg-7" style="padding-left:0; padding-right:0">
                <div class="card" style="transform: translateY(-5%); height:100%; border-radius:2rem">
                    <div class="card-body">
                        <div class="row" style="justify-content:center" id="sinFondo">
                            <div id="iconoLogin" class="shadow-sm" style="margin-bottom: -21px;
    transform: translateY(-70%);
    text-align: center; justify-content:center;width:100px; background-color:white;border-radius:50%; height:100px;z-index:1">

                                <img src="~/Content/img/exclamacion-accion.png" style="width:100%; padding-top:10px" />


                            </div>
                            <div class="col-lg-6 col-sm-12 text-center" id="infoUser">

                                <h2>Logo de la <br /><span>empresa</span></h2>
                                <br />

                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    <input type="text" class="form-control form-control-lg" placeholder="Username" autocomplete="new-user">
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                    <input type="password" class="form-control form-control-lg" placeholder="contraseña" autocomplete="new-password">
                                </div>
                                <br />
                                <a class="btn btn-primary" style="width:100%"> Iniciar Sesión</a>
                                <div class="text-center">
                                    <p>¿Olvidaste tu contraseña? <br /> <a href="#">Recuperar Contraseña</a></p>
                                </div>
                                <br />
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
    <!-- End of Page Wrapper -->
   
    @*<script src="~/Scripts/jquery-3.4.1.js"></script>*@
    <script src="~/Scripts/jquery-3.3.1.js"></script>

    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/sb-admin2.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

</body>

</html>
