﻿
@{
    ViewBag.Title = "VariacionEstacionesFechaDesglose";
    Layout = "~/Areas/VariacionInventario/Views/Loyout/_Layout.cshtml";
}

<br />
<style>
    tr{
        text-align:center;
       
    }
    td {
        font-size: 18px !important;
        
    }
    tbody td:first-child{
        text-align:left
    }
    .table td:first-child, .table th:first-child, .table tr:first-child{
        padding:15px!important;
       
    }
    .table td:last-child, .table th:last-child, .table tr:last-child {
        padding: 15px !important;
    }
    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg: rgb(255 255 255);
        color: var(--bs-table-striped-color);
    }
</style>
<div class="container-fluid" style="background-color:#05a6920f; border-radius:20px;">
    <br />
    <div class="row">
        <div class="col-lg-9 col-9">
            <h2>Variación de Inventarios</h2>
        </div>
        <div class="col-lg-3 col-3" style="text-align:end">
            <a class="btn btn-bg-dark">
                <i class="fas fa-download"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-6">
            <a href="VariacionEstacionesFecha" class="btn btn-prod" style="width:60px;padding: 0.5rem 1rem !important">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>

    </div>
    <br /><div class="row" style="padding-left:3%!important;padding-right:3%!important">
        <div class="col-lg-9 col-md-7 col-sm-6 col-6">
            <h3>Estación <span style="color:#05a692">1</span></h3>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-6 col-6">
            <input class="form-control form-control-lg" value="01/02/2023" style="background-color:#ffffff; text-align:center" />
        </div>
    </div>
    <br />
    <div class="row" style="padding-left:3%!important;padding-right:3%!important">

        <div class="col-lg-12">
            <div class="table-responsive-sm ">
                <table class="table table-striped tabla-sinborde">

                    <tbody>
                        <tr>
                            <td>Inventario Inicial</td>
                            <td>999,999</td>

                        </tr>
                        <tr>
                            <td>(+) Recepciones del día</td>
                            <td>999,999</td>

                        </tr>
                        <tr>
                            <td>(-) Ventas Contables</td>
                            <td>999,999</td>

                        </tr>
                        <tr>
                            <td>(=) Inventario Final</td>
                            <td>999,999</td>

                        </tr>
                        <tr>
                            <td>(vs) Lectura de Inv. Físico</td>
                            <td>999,999</td>

                        </tr>
                        <tr>
                            <td>(=) Variación en Litros</td>
                            <td>999,999</td>

                        </tr>
                        <tr>
                            <td>% Variación</td>
                            <td>
                                <a class="btn estado2">
                                    9.99%
                                </a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>
<br />
<br />


