﻿
@{
    ViewBag.Title = "VariacionEstacionesFecha";
    Layout = "~/Areas/VariacionInventario/Views/Loyout/_Layout.cshtml";
}

<br />
<div class="container-fluid" style="background-color:#05a6920f; border-radius:20px;">
    <br />
    <div class="row">
        <div class="col-lg-9 col-9">
            <h2>Variación de Inventarios</h2>
        </div>
        <div class="col-lg-3 col-3" style="text-align:end">
            <a class="btn btn-bg-dark">
                <i class="fas fa-download"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-6">
            <a href="VariacionEstaciones" class="btn btn-prod" style="width:60px;padding: 0.5rem 1rem !important">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>

    </div>
    <br /><!--Esta sección es donde aparecerán las fechas de las estaciones-->
    <div class="row" style="text-align:center">
        <div class="table-responsive-sm">
            <table class="table table-borderless tabla-sinborde">
                <thead>
                    <tr>
                        <th><h3>Estación 1</h3></th>
                        <th>
                            <button type="button" class="btn btn-prod shadow-sm" style="width:100%">
                                <span id="spanweb">Magna</span>
                                <span id="spanMovil">M</span>
                            </button>
                        </th>
                        <th>
                            <button type="button" class="btn  btn-prod shadow-sm" style="width:100%">
                                <span id="spanweb">Premium</span>
                                <span id="spanMovil">P</span>
                            </button>
                        </th>
                        <th>
                            <button type="button" class="btn  btn-prod shadow-sm" style="width:100%">
                                <span id="spanweb">Diesel</span>
                                <span id="spanMovil">D</span>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td> <h3>01/02/2023</h3></td>
                        <td>
                            <a href="VariacionEstacionesFechaDesglose" class="btn estado2" style="width:100%">
                                0.5%
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn estado3" style="width:100%">
                                0.30%
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn estado1" style="width:100%">
                                0.02%
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td> <h3>02/02/2023</h3></td>
                        <td>
                            <button type="button" class="btn estado2" style="width:100%">
                                0.5%
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn estado3" style="width:100%">
                                0.30%
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn estado1" style="width:100%">
                                0.02%
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td> <h3>03/02/2023</h3></td>
                        <td>
                            <button type="button" class="btn estado2" style="width:100%">
                                0.5%
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn estado3" style="width:100%">
                                0.30%
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn estado1" style="width:100%">
                                0.02%
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td> <h3>04/02/2023</h3></td>
                        <td>
                            <button type="button" class="btn estado2" style="width:100%">
                                0.5%
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn estado3" style="width:100%">
                                0.30%
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn estado1" style="width:100%">
                                0.02%
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><br />
    <br />
</div>


<br />


