﻿
@{
    ViewBag.Title = "VariacionEstaciones";
    Layout = "~/Areas/VariacionInventario/Views/Loyout/_Layout.cshtml";
}


<div class="container-fluid" style="background-color:#05a6920f; border-radius:20px;">
    <br />
    <div class="row">
        <div class="col-lg-9 col-9">
            <h2>Variación de Inventarios</h2>
        </div>
        <div class="col-lg-3 col-3" style="text-align:end">
            <a class="btn btn-bg-dark">
                <i class="fas fa-download"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-6">
            <a href="Index" class="btn btn-prod" style="width:60px;padding: 0.5rem 1rem !important">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>

    </div>
    <br /><!--Esta sección es donde aparecerán las estaciones de la zona-->
    <div class="row" style="text-align:center">
        <div class="table-responsive-sm">
            <table class="table table-borderless tabla-sinborde">
                <thead>
                    <tr>
                        <th><h3>Estaciones:</h3></th>
                        <th>
                            <button type="button" class="btn btn-prod shadow-sm" style="width:100%">
                                <span id="spanweb">Magna</span>
                                <span id="spanMovil">M</span>
                            </button>
                        </th>
                        <th>
                            <button type="button" class="btn  btn-prod shadow-sm" style="width:100%">
                                <span id="spanweb">Premium</span>
                                <span id="spanMovil">P</span>
                            </button>
                        </th>
                        <th>
                            <button type="button" class="btn  btn-prod shadow-sm" style="width:100%">
                                <span id="spanweb">Diesel</span>
                                <span id="spanMovil">D</span>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td> <h3>Estación <span style="color:#05a692">1</span></h3></td>
                        <td>
                            <a href="VariacionEstacionesFecha" class="btn estado2" style="width:100%">
                                <img src="~/Content/img/estado2.png" class="img-estado" />
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn estado3" style="width:100%">
                                <img src="~/Content/img/estado3.png" class="img-estado" />
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn estado1" style="width:100%">
                                <img src="~/Content/img/estado1.png" class="img-estado" />
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td> <h3>Estación <span style="color:#05a692">2</span></h3></td>
                        <td>
                            <button type="button" class="btn estado3" style="width:100%">
                                <img src="~/Content/img/estado3.png" class="img-estado" />
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn estado1" style="width:100%">
                                <img src="~/Content/img/estado1.png" class="img-estado" />
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn estado2" style="width:100%">
                                <img src="~/Content/img/estado2.png" class="img-estado" />
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td> <h3>Estación <span style="color:#05a692">3</span></h3></td>
                        <td>
                            <button type="button" class="btn estado3" style="width:100%">
                                <img src="~/Content/img/estado3.png" class="img-estado" />
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn estado3" style="width:100%">
                                <img src="~/Content/img/estado3.png" class="img-estado" />
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn estado1" style="width:100%">
                                <img src="~/Content/img/estado1.png" class="img-estado" />
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td> <h3>Estación <span style="color:#05a692">4</span></h3></td>
                        <td>
                            <button type="button" class="btn estado1" style="width:100%">
                                <img src="~/Content/img/estado1.png" class="img-estado" />
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn estado1" style="width:100%">
                                <img src="~/Content/img/estado1.png" class="img-estado" />
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn estado3" style="width:100%">
                                <img src="~/Content/img/estado3.png" class="img-estado" />
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <br />
</div>

<br />
<br />
<br />
<div class="container-fluid">
   

</div>

